<script type="text/javascript">
  var allBlogsc = [];
  {% paginate blogs.Product-Focus-Areas.articles by 1000000000 %}
    {% for article in blogs.Product-Focus-Areas.articles limit: 1000000000 %}
       {% assign artags = "" %}
  		 {% for tag in article.tags %}
               {% assign artags = artags | append: tag | append: ',' %}
          {% endfor %}
    		allBlogsc["{{article.id}}"] = "{{ artags }}";
             {% assign artags = artags | split: ',' %}       
    {% endfor %}
  {% endpaginate %}
                  
  {% paginate blogs.news.articles by 10000000000 %}
    {% for article in blogs.news.articles limit: 10000000000 %}
       {% assign artags = "" %}
  		 {% for tag in article.tags %}
               {% assign artags = artags | append: tag | append: ',' %}
          {% endfor %}
    		allBlogsc["{{article.id}}"] = "{{ artags }}";
             {% assign artags = artags | split: ',' %}       
    {% endfor %}
  {% endpaginate %}
                  
  {% paginate blogs.why-we-picked-this-for-you.articles by 1000000000 %}
    {% for article in blogs.why-we-picked-this-for-you.articles limit: 1000000000 %}
       {% assign artags = "" %}
  		 {% for tag in article.tags %}
               {% assign artags = artags | append: tag | append: ',' %}
          {% endfor %}
    		allBlogsc["{{article.id}}"] = "{{ artags }}";
             {% assign artags = artags | split: ',' %}       
    {% endfor %}
  {% endpaginate %}           
</script>