<div id="starburst-viz" class="Starburst__starburst_viz___2H7ng">
   			<svg class="Starburst__starburst_legend___2Hj3q" width="200" height="200">
   				<g transform="translate(88.5, 88.5)"><path fill="white" fill-opacity="0" opacity="0" d="M-146.59340296275556,-116.90433784851255A187.5,187.5,0,0,1,1.1481063742006436e-14,-187.5L2.296212748401287e-15,-37.5A37.5,37.5,0,0,0,-29.318680592551114,-23.38086756970251Z"></path><path fill="white" fill-opacity="0" opacity="0" d="M1.1481063742006436e-14,-187.5A187.5,187.5,0,0,1,146.5934029627556,-116.90433784851253L29.318680592551118,-23.380867569702506A37.5,37.5,0,0,0,2.296212748401287e-15,-37.5Z"></path><path fill="white" fill-opacity="0" opacity="0" d="M146.5934029627556,-116.90433784851253A187.5,187.5,0,0,1,182.79898353409192,41.72267511680895L36.55979670681839,8.34453502336179A37.5,37.5,0,0,0,29.318680592551118,-23.380867569702506Z"></path><path fill="white" fill-opacity="0" opacity="0" d="M182.79898353409192,41.72267511680895A187.5,187.5,0,0,1,81.35320108454216,168.9316627317036L16.270640216908433,33.78633254634072A37.5,37.5,0,0,0,36.55979670681839,8.34453502336179Z"></path><path fill="white" fill-opacity="0" opacity="0" d="M81.35320108454216,168.9316627317036A187.5,187.5,0,0,1,-81.35320108454214,168.9316627317036L-16.270640216908426,33.78633254634072A37.5,37.5,0,0,0,16.270640216908433,33.78633254634072Z"></path><path fill="white" fill-opacity="0" opacity="0" d="M-81.35320108454214,168.9316627317036A187.5,187.5,0,0,1,-182.79898353409192,41.72267511680897L-36.55979670681839,8.344535023361795A37.5,37.5,0,0,0,-16.270640216908426,33.78633254634072Z"></path><path fill="white" fill-opacity="0" opacity="0" d="M-182.79898353409192,41.72267511680897A187.5,187.5,0,0,1,-146.59340296275562,-116.90433784851251L-29.31868059255112,-23.380867569702502A37.5,37.5,0,0,0,-36.55979670681839,8.344535023361795Z"></path></g>
   				
   				<g class="starburst-categories" transform="translate(187.5,187.5)"><text transform="translate(-59.76270638023859,-169.36254839059637)" text-anchor="middle" font-size="10" font-family="textaheavy" fill="#2881af" opacity="1" id="SKIN"><tspan dy="0px" x="0">SKIN</tspan><tspan fill="gray" font-family="textalight" font-size="0.62em" font-weight="normal" dy="10px" x="0">Normal</tspan></text><text transform="translate(-19.87827502450558,-115.3805949895573)" text-anchor="middle" font-size="10" font-family="textaheavy" fill="#716492" opacity="1" id="CLIMATE"><tspan dy="0px" x="0">CLIMATE</tspan><tspan fill="gray" font-family="textalight" font-size="0.62em" font-weight="normal" dy="10px" x="0">Pleasant</tspan></text><text transform="translate(-25.41761245645193,-45.478455470776947)" text-anchor="middle" font-size="10" font-family="textaheavy" fill="#ad63a3" opacity="1" id="AIR"><tspan dy="0px" x="2">AIR</tspan><tspan dy="10px" x="2">QUALITY</tspan><tspan fill="gray" font-family="textalight" font-size="0.62em" font-weight="normal" dy="10px" x="2">Moderate</tspan></text><text transform="translate(-90.97264410767626,-17.62156226840484)" text-anchor="middle" font-size="10" font-family="textaheavy" fill="#e35953" opacity="1" id="UV"><tspan dy="0px" x="2">UV</tspan><tspan fill="gray" font-family="textalight" font-size="0.62em" font-weight="normal" dy="10px" x="2">High</tspan></text><text transform="translate(-150.2839682872997407,-40.4816952764902)" text-anchor="middle" font-size="10" font-family="textaheavy" fill="#e0801c" opacity="1" id="SLEEP"><tspan dy="0px" x="0">SLEEP</tspan><tspan fill="gray" font-family="textalight" font-size="0.62em" font-weight="normal" dy="10px" x="0">Fair</tspan></text><text transform="translate(-162.82070597747659,-107.05020564446575)" text-anchor="middle" font-size="10" font-family="textaheavy" fill="#b6ca51" opacity="1" id="DIET"><tspan dy="0px" x="0">DIET</tspan><tspan fill="gray" font-family="textalight" font-size="0.62em" font-weight="normal" dy="10px" x="0">Balanced</tspan></text><text transform="translate(-129.40115094361883,-170.93186433843027)" text-anchor="middle" font-size="10" font-family="textaheavy" fill="#0fd5b8" opacity="1" id="EXERCISE"><tspan dy="0px" x="0">EXERCISE</tspan><tspan fill="gray" font-family="textalight" font-size="0.62em" font-weight="normal" dy="10px" x="0">Highly</tspan></text></g>
   			</svg>
   			<canvas id="myCanvas" width="421" height="421" style="width: 200px; height: 200px;"></canvas>
   			<svg class="starburst-d3" width="177" height="177" viewBox="0 0 200 200"><g class="starburst-progress" transform="translate(88.5,88.5)"></g></svg>

</div> 

<script>
  			var exer_data = parseInt(getlocalStorage('awsresponces','1').ratings.Exercise.ExerciseRating) *100;
      		var skin_data = parseInt(getlocalStorage('awsresponces','1').ratings.Skin.SkinRating) *100;
  			var climate_data = parseInt(getlocalStorage('awsresponces','1').ratings.climate.climateRating) *100;
      		var AQI_data = parseInt(getlocalStorage('awsresponces','1').ratings.AQI.AQIRating) *100;
      		var uv_data = parseInt(getlocalStorage('awsresponces','1').ratings.uv.UVRating) *100;
      		var Sleep_data = parseInt(getlocalStorage('awsresponces','1').ratings.Sleep.SleepRating) *100;
      		var Diet_data = parseInt(getlocalStorage('awsresponces','1').ratings.Diet.DietRating) *100;
			console.log(Diet_data);
  
  			var data = [exer_data, skin_data, climate_data, AQI_data, uv_data, Sleep_data, Diet_data];
      		var currentAnimation = 0
    		var animationSteps = [[135,228,261,278,306,283,355]]
    		var scope = {
    			data: [423.58517673531276, 201.85729090440452, 148.38250970412656, 356.43112346173785, 33.50477380255404, 428.80090134336024, 320.81268211271754]


    		}
    		var dataUpdated = false
      		var PIXEL_RATIO = 1.125
			var width = 330*PIXEL_RATIO
			var height = 330*PIXEL_RATIO
			var styleWidth = '330 px'
			var styleHeight = '330 px'

			var c=document.getElementById("myCanvas")
			var ctx = c.getContext("2d")
			ctx.scale(PIXEL_RATIO,PIXEL_RATIO)		
			var category = 7
			var bars = 28 
			var totalBars = category*bars
			//var barWidth =2*Math.PI/totalBars			
			var innerCircleRadius = 500/10
			var barHeight = 500/2 - 110
			var shadowInnerCircle = innerCircleRadius -20
			var shadowBarHeight = barHeight+10
			var extent = d3.extent([0, 500])
			var barThickness = 2*Math.PI/totalBars
			var barWidth =40*this.barThickness
			var shadowExtent = d3.extent([0, 500 + 30])
			var scales = {}
			scales.bar = d3.scaleLinear().domain(extent).range([innerCircleRadius+5, innerCircleRadius + barHeight - 15])
    		scales.shadow = d3.scaleLinear().domain(shadowExtent).range([shadowInnerCircle, shadowBarHeight])
      		scales.bar.range([0, innerCircleRadius + barHeight - 20])

      		var masks = {}
      		var categoryArcThickness = 2 * Math.PI / 7
      		var categoryMaxOffset = categoryArcThickness*0.5
      		masks.bar = d3.radialLine().radius(d => scales.bar(d)).angle((d,i) => (i * categoryArcThickness) - categoryMaxOffset).curve(d3.curveCardinalClosed).context(ctx)
		   masks.shadow = d3.radialLine().radius(d => scales.shadow(d) + 30).angle((d,i) => (i * categoryArcThickness) - categoryMaxOffset).curve(d3.curveCardinalClosed).context(ctx)

	    	ctx.translate(width/2, width/2)


		    ctx.save()
		    ctx.setTransform(1,0,0,1,0,0)
		    ctx.clearRect(0,0,3*width,3*width)


		    ctx.restore()
		    ctx.save()
		    //drawBackground
		    ctx.beginPath()
		    ctx.rotate(3.1)
		    d3.range(totalBars).forEach(i => {
		      ctx.rotate(barThickness)
		      if (i%2 === 0) {
		        if (i % bars === 0) {
		          ctx.fillStyle = 'rgba(230,230,230, .2)'
		        }
		        else {
		          ctx.fillStyle = 'rgb(230,230,230)'
		        }
		        ctx.fillRect(0, 0, barWidth, innerCircleRadius+barHeight)
		        //ctx.fillRect(0,0,barWidth,innerCircleRadius+barHeight)
		      }
		    })
		    ctx.restore()
   			ctx.save()
   			blob(masks.bar)
   			drawBars(1, 1.8 * barWidth,200)
   			ctx.restore()
   			ctx.save()
   			ctx.beginPath()
   			blob(masks.shadow)
   			drawBars(.4, 1.8 * barWidth,200)
   			ctx.closePath()
   			drawCircle(innerCircleRadius-5)
   			ctx.restore()
   			ctx.save()
   			drawBars(1, 2 * barThickness,innerCircleRadius-5)
   			drawCircle(innerCircleRadius-15)
   			ctx.restore()



   			function blob(mask){
   				//console.log([450, 450, 450, 450, 450, 450, 450])
   				ctx.beginPath()
    			mask(data)
    			ctx.clip()
   			}
   			function drawBars(opacity, thickness, radius) {
			    // this.ctx.save()
			    ctx.rotate(3.1)
			    let colors = ["#1d87bf", "#545da8", "#a6408e", "#e85f93", "#fac426", "#7cbca3", "#0fd5b8", "#1d87bf"];
			    let t = 0
			    d3.range(totalBars).forEach(i => {
			      ctx.rotate(barThickness)
			      if (i%2 === 0) {
			        if (i % bars === 0) {
			          	ctx.fillStyle = 'rgba(255,255,255,0)'
			        }
			        else {
			        	//console.log(i)
			        	if(parseInt(i%26)== 0){
			        		t++
			        	}
			        	//console.log(color(i/2))
			          	let c = d3.rgb(
			          		colors[t]
			          	)
			          	c.opacity = opacity
			          	ctx.fillStyle = c.toString()
			        }
			        ctx.fillRect(0,0,thickness,radius)
			      }
			    })


			    // this.ctx.restore()
			}
			function drawCircle(radius) {
			    ctx.beginPath()
			    ctx.fillStyle='white'
			    ctx.arc(0,0,radius,0,2*Math.PI)
			    ctx.fill()
			}
			function draw() {
			    ctx.save()
			    ctx.setTransform(1,0,0,1,0,0)
			      // the rectangle needs to be bigger as it's not covering the whole scaled bioprint
			    ctx.clearRect(0,0,3*width,3*width)
			    ctx.restore()

			    ctx.save()
			    drawBackground()
			    ctx.restore()
			    ctx.save()
			      // this.ctx.beginPath()
			    blob(masks.bar)
			    drawBars(1, 1.8 * barWidth,200)
			      // this.ctx.closePath()
			    ctx.restore()
			    ctx.save()
			    ctx.beginPath()
			    blob(this.masks.shadow)
			    drawBars(.4, 1.8 * barWidth,200)
			    ctx.closePath()

			    drawCircle(innerCircleRadius-5)
			    ctx.restore()

			    ctx.save()
			    drawBars(1, 2 * barThickness,innerCircleRadius-5) // draw center spokes
			    drawCircle(innerCircleRadius-15)
			    ctx.restore()
			  }
			  function drawBackground() {
			    // this.ctx.save()
			    ctx.beginPath()
			    // this.ctx.lineCap = 'round'
			    ctx.rotate(3.1)
			    d3.range(totalBars).forEach(i => {
			      ctx.rotate(barThickness)
			      if (i%2 === 0) {
			        if (i % bars === 0) {
			          ctx.fillStyle = 'rgba(230,230,230, .2)'
			        }
			        else {
			          ctx.fillStyle = 'rgb(230,230,230)'
			        }
			        ctx.fillRect(0,0,barWidth,innerCircleRadius+barHeight)
			      }
			    })
			    // this.ctx.closePath()

			  }
			function color() {
			    return d3.scaleLinear()
			      .domain(d3.range(7+1).map((d,i) => {return 28 * i/2 }))
			      .range(["#1d87bf", "#545da8", "#a6408e", "#e85f93", "#fac426", "#7cbca3", "#0fd5b8", "#1d87bf"])
			      .interpolate(d3.interpolateCubehelix)
			  }
  
  function getlocalStorage(name,values){
      if(values){
        return JSON.parse(localStorage.getItem(name));                
      }
       return localStorage.getItem(name);
  }
  
  	if(getlocalStorage('awsresponces','1') != null){
     	 var AQI = getlocalStorage('awsresponces','1').ratings.AQI.AQICategory;
	     var Diet = getlocalStorage('awsresponces','1').ratings.Diet.DietCategory;
		 var Climate = getlocalStorage('awsresponces','1').ratings.climate.climateCategory;
		 var Skin = getlocalStorage('awsresponces','1').ratings.Skin.SkinCategory;
		 var UV = getlocalStorage('awsresponces','1').ratings.uv.UVCategory;
		 var Sleep = getlocalStorage('awsresponces','1').ratings.Sleep.SleepCategory;
		 var Exercise = getlocalStorage('awsresponces','1').ratings.Exercise.ExerciseCategory;  
     }
  	$("text#SKIN tspan:nth-child(2)").html(Skin);
    $("text#CLIMATE tspan:nth-child(2)").html(Climate);
  	$("text#DIET tspan:nth-child(2)").html(Diet);
    $("text#UV tspan:nth-child(2)").html(UV);
    $("text#AIR tspan:nth-child(3)").html(AQI);
    $("text#SLEEP tspan:nth-child(2)").html(Sleep);
    $("text#EXERCISE tspan:nth-child(2)").html(Exercise);

</script>

<style>
      	.starburst-d3 {
		    position: absolute;
		    width: 100vw;
		    height: 100vw;
		    max-width: 100%;
		    max-height: 100%;
		    left: 50%;
		    -ms-transform: translateX(-50%);
		    transform: translateX(-50%);
		}
		.Starburst__starburst_viz___2H7ng {
		    position: relative;
		    text-align: center;
		    display: inline-block;
		}
		.Starburst__starburst_legend___2Hj3q {
		    position: absolute;
		}
  		.Starburst__starburst_legend___2Hj3q g text {
            font-size: 0.70em;
            font-weight: 800;
        }
</style>