
<div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.image_size }}-image{% endif %} index-section"  data-section-id="{{ section.id }}" data-section-type="cart-template" style="padding-top:0px;padding-bottom:0px;margin:5px;border:none;">

     <div class="width100 border-to-it" style="border:none;background:none;border-bottom:1px solid #cfcccc;padding-bottom:18px;">
       <p class="product-single__title">
         <a href="{{ product.url | within: collections.all }}">
  	     	<strong class="themecolor" style="font-size:26px;"> {{ product.title }} </strong>/ #466 
         </a>            
       </p>	
     </div>
  	
<!--   <div class="product-img-detai">  
    <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">  
  </div> -->
  
<!--     <div style="display: none" id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div> -->
    <a href="{{ product.url | within: collections.all }}">
  	     <span style="display: none" class="shopify-product-reviews-badge" data-id="{{product.product.id}}"></span> 
    </a>
  
  	<div class="width100 border-to-it" style="border:none;background:none;">  
        <p class="themecolor" style="font-size:26px;"><strong>Why we picked this for YOU</strong></p>
      <div class="width75" style="padding-bottom:10px;">  
      	<p>
          {% assign varientSku = product.sku %}
          <div id='{{ product.sku }}'><img src='{{ "Spinner.gif" | asset_url }}' /></div>
        </p>
      </div>
      <div class="width25" style="margin-top:20px">
      	<a href="{{ product.url | within: collections.all }}">
                  <img class="cart__image" src='{{ product | img_url: '100x100', scale: 2 }}' alt="{{ product.title | escape }}">
        </a>
      </div>  
    </div>
  	 <a href="{{ product.url }}" class="blnk-btn">VIEW PRODUCT DETAILS</a>	
  	 <a href="{{ product.url }}" class="blnk-btn cart-second-button">ONLY INCLUDED in the COMPLETE plan.</a>	
  	 <a href="{{ product.url }}" class="blnk-btn cart-third-button">VIEW ALTERNATIVE PRODUCTS</a>	

    <div class="productfocus" style="border: solid 1px #c8c3c9;display: none;">
      <p class="themecolor" style="padding:5px;background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #b0a7a7);"><strong>PRODUCT FOCUS AREAS</strong></p>
      <ul class="paddingleft">
        <li>Benefits 1</li>
        <li>Benefits 2</li>
        <li>Benefits 3</li>
      </ul>  
    </div>  
</div>