<div class="dash-regimen">
 <div class="tab-header">
  What's in this month's regimen kit
 </div>
  <div class="recom-prod-img">
    <img src="{{ 'product.png' | asset_url }}" />
  </div>
    <div class="regimen-dashboard">    
      <div class="regimen-dashtab">
        <div class="regimen-dashtab-btn">
          <ul class="tabs-1">
            <li class="regimen_dashtablinks active" data-id="prod1" onclick="openRegiDash(event, 'prod1')">1</li>
            <li class="regimen_dashtablinks" data-id="prod2" onclick="openRegiDash(event, 'prod2')">2</li>
            <li class="regimen_dashtablinks" data-id="prod3" onclick="openRegiDash(event, 'prod3')">3</li>
            <li class="regimen_dashtablinks" data-id="prod4" onclick="openRegiDash(event, 'prod4')">4</li>
            <li class="regimen_dashtablinks" data-id="prod5" onclick="openRegiDash(event, 'prod5')">5</li>
          </ul>
	  </div>
      </div>
      <div id="prod1" class="regimen_dashtabcontent" style="display: block;">
        <div class="prod-details">
        	{% for product in cart.items %}
              	{% if forloop.first %}
                  {% include 'cart-product' %}
                  <div id="crid" data-id="{{ product.sku }}"></div>
                  <div class="vi-ingredients">
                  <div class="product-acc-section">
                      <div class="ingredients index-section acc-styling" style="padding-top:0px;padding-bottom:0px;">
                        <p style="font-size:19px;padding:14px 0px;color: #9a44b2;text-align:center;"><strong>VIEW INGREDIENTS</strong>
                          <span class="arrow">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"/></g>
                            </svg>
                          </span>
                        </p> 
                        <div class="ingredientscontent">
                            <p>{{ product.variant.title }}</p>
                       </div> 
                      </div> 
                  </div>
            	</div>
                {% endif %}
            {% endfor %} 
        </div>
      </div>
      <div id="prod2" class="regimen_dashtabcontent">
        <div class="prod-details">
          {% for product in cart.items %}
          	{% if forloop.index == 2 %}
            	{% include 'cart-product' %}
                <div id="crid" data-id="{{ product.sku }}"></div>
          		<div class="vi-ingredients">
                  <div class="product-acc-section">
                      <div class="ingredients index-section acc-styling" style="padding-top:0px;padding-bottom:0px;">
                        <p style="font-size:19px;padding:14px 0px;color: #9a44b2;text-align:center;"><strong>VIEW INGREDIENTS</strong>
                          <span class="arrow">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"/></g>
                            </svg>
                          </span>
                        </p> 
                        <div class="ingredientscontent">
                            <p>{{ product.variant.title }}</p>
                       </div> 
                      </div> 
                  </div>
            	</div>
            {% endif %}
          {% endfor %} 
        </div>
      </div>
      <div id="prod3" class="regimen_dashtabcontent">
        <div class="prod-details">
        {% for product in cart.items %}
          	{% if forloop.index == 3 %}
            	{% include 'cart-product' %}
                <div id="crid" data-id="{{ product.sku }}"></div>
         		<div class="vi-ingredients">
                  <div class="product-acc-section">
                      <div class="ingredients index-section acc-styling" style="padding-top:0px;padding-bottom:0px;">
                        <p style="font-size:19px;padding:14px 0px;color: #9a44b2;text-align:center;"><strong>VIEW INGREDIENTS</strong>
                          <span class="arrow">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"/></g>
                            </svg>
                          </span>
                        </p> 
                        <div class="ingredientscontent">
                            <p>{{ product.variant.title }}</p>
                       </div> 
                      </div> 
                  </div>
            	</div>
            {% endif %}
          {% endfor %} 
        </div>
      </div> 
      <div id="prod4" class="regimen_dashtabcontent">
        <div class="prod-details">
        {% for product in cart.items %}
          	{% if forloop.index == 4 %}
            	{% include 'cart-product' %}
                <div id="crid" data-id="{{ product.sku }}"></div>
          		<div class="vi-ingredients">
                  <div class="product-acc-section">
                      <div class="ingredients index-section acc-styling" style="padding-top:0px;padding-bottom:0px;">
                        <p style="font-size:19px;padding:14px 0px;color: #9a44b2;text-align:center;"><strong>VIEW INGREDIENTS</strong>
                          <span class="arrow">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"/></g>
                            </svg>
                          </span>
                        </p> 
                        <div class="ingredientscontent">
                            <p>{{ product.variant.title }}</p>
                       </div> 
                      </div> 
                  </div>
            	</div>
            {% endif %}
          {% endfor %} 
        </div>
      </div> 
      <div id="prod5" class="regimen_dashtabcontent">
        <div class="prod-details">
        {% for product in cart.items %}
          	{% if forloop.index == 5 %}
            	{% include 'cart-product' %}
                <div id="crid" data-id="{{ product.sku }}"></div>
          		<div class="vi-ingredients">
                  <div class="product-acc-section">
                      <div class="ingredients index-section acc-styling" style="padding-top:0px;padding-bottom:0px;">
                        <p style="font-size:19px;padding:14px 0px;color: #9a44b2;text-align:center;"><strong>VIEW INGREDIENTS</strong>
                          <span class="arrow">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"/></g>
                            </svg>
                          </span>
                        </p> 
                        <div class="ingredientscontent">
                            <p>{{ product.variant.title }}</p>
                       </div> 
                      </div> 
                  </div>
            	</div>
            {% endif %}
          {% endfor %} 
        </div>
      </div> 
<!--       <div class="vi-ingredients">
        {% include 'view-ingredients'%}
      </div> -->
      <div class="how-use">
        {% include 'how-to-use'%}
      </div>
      
<!--       <div class="vi-ingredients">
      	<div class="inner-accordion">
          <button class="viaccordion">VIEW INGREDIENTS</button>
          <div class="panel">
          	{% include 'view-ingredients'%}
          </div>
        </div>
      </div>
      <div class="how-use">
      	<div class="inner-accordion">
          <button class="viaccordion">HOW TO USE</button>
          <div class="panel">
          	{% include 'how-to-use'%}
          </div>
        </div>
      </div> -->
  </div>
</div>

<script>
   $("document").ready(function() {
      var data_id = $('li.regimen_dashtablinks.active').attr('data-id'),
          sku = $('#'+data_id+  ' #crid').attr('data-id');
          if(sku){
             blogQue(sku);
          } 
  });
    // Dash Tab Switch
    function openRegiDash(evt, regidashName) {
      var i, regimen_dashtabcontent, regimen_dashtablinks;
      regimen_dashtabcontent = document.getElementsByClassName("regimen_dashtabcontent");
      for (i = 0; i < regimen_dashtabcontent.length; i++) {
          regimen_dashtabcontent[i].style.display = "none";
      }
      regimen_dashtablinks = document.getElementsByClassName("regimen_dashtablinks");
      for (i = 0; i < regimen_dashtablinks.length; i++) {
          regimen_dashtablinks[i].className = regimen_dashtablinks[i].className.replace(" active", "");
      }
      document.getElementById(regidashName).style.display = "block";
      evt.currentTarget.className += " active";
       var sku= $('#'+regidashName+  ' #crid').attr('data-id');
    	if(sku){
           blogQue(sku);
    	} 
  }
  
  var acc = document.getElementsByClassName("viaccordion");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>