<div class="dash-diagnostic">
  <div class="tab-header">
  This month's diagnostic results  
 </div>
  <div>{%section "focus-area-progress-bar" %}</div>
  <div style="clear:both;"></div>
  {%section "diagnostic-detail" %}
  {%section "diagnostic-detail-exercise" %}
  {%section "diagnostic-detail-diet" %}
  {%section "diagnostic-detail-skin" %}
  {%section "diagnostic-detail-airquality" %}
  {%section "diagnostic-detail-uv" %}
  {%section "diagnostic-detail-climate" %}
  {%section "diagnostic-detail-sleep" %}
  {%section "diagnostic-detail-blogque" %}
  {%section "diagnostic-detail" %}
 </div>
<script>
  $(document).ready(function() {
    if ($('.navbar-li.skin').hasClass('active')) {
		$('.diagnostic-detail-blogque-que-que').css('color','#4a90e2');
    }
  });
</script>
