<div class="dash-summary">
 <div class="tab-header">
  This month's focus areas  
 </div>
  <div class="focus-areas-details">
    <div class="focus-areas-details-left">
        <div class="margin-div">
          <img src="{{ 'icon1.png' | asset_url }}" alt="Icon" />
          <span class="ds-top-rank-benefit-1">Oily skin</span>
        </div>
        <div class="margin-div">
          <img src="{{ 'icon2.png' | asset_url }}" class="ds-top-rank-benefit-2-img" alt="Icon" />
          <span class="ds-top-rank-benefit-2">Active lifestyle</span>
        </div>
        <div class="margin-div">
          <img src="{{ 'icon3.png' | asset_url }}" class="ds-top-rank-benefit-3-img" alt="Icon" />
          <span class="ds-top-rank-benefit-3">Poor sleep</span>
        </div>
        <div class="margin-div">
          <img src="{{ 'icon4.png' | asset_url }}" class="ds-top-rank-benefit-4-img" alt="Icon" />
          <span class="ds-top-rank-benefit-4">High pollution</span>
        </div>	
      </div>
      <div class="focus-areas-details-right">
        <img src="{{ 'graph.png' | asset_url }}" alt="Graph" />
      </div>
    </div>
  <div>{%section "focus-area-progress-bar" %}</div>
</div>