<div class="diagnotic-navbar">
  <div class="triangle-with-shadow"></div>
  <div class="navbar-menu">
    <ul class="navbar-menu">
      <li class="navbar-li exercise first" id="exercise-p">
        	<span class="active-icon" style="display:none;">
              	<img src="{{ 'exercise-active.svg' | asset_url }}" alt="icon" />
       		</span>
        	<span class="non-ac-icon" style="display:block;">{%include "icon-exercise"%}</span>
         <p class="exer">EXERCISE</p>
      </li>
      <li class="navbar-li diet second" id="diet-p">
        	<span class="active-icon" style="display:none;">
              	<img src="{{ 'diet-active.svg' | asset_url }}" alt="icon" />
       		</span>
        	<span class="non-ac-icon" style="display:block;">{%include "icon-diet"%}</span>
           <p class="diet">DIET</p>
      </li>
      <li class="navbar-li skin third active" id="skin-p">
        	<span class="active-icon" style="display:block;">
              	<img src="{{ 'skin-active.svg' | asset_url }}" alt="icon" />
       		</span>
        	<span class="non-ac-icon" style="display:none;">{%include "icon-skin"%}</span>
        	<p class="skin">SKIN</p>
      </li>
      <li class="navbar-li air-quality four" id="air-quality-p">
        	<span class="active-icon" style="display:none;">
              	<img src="{{ 'air-quality-active.svg' | asset_url }}" alt="icon" />
       		</span>
        	<span class="non-ac-icon" style="display:block;">{%include "icon-air-quality"%}</span>
      		<p class="air-qu">AIR QUALITY</p>
      </li>
      <li class="navbar-li uv five" id="uv-p">
        <span class="active-icon" style="display:none;">
              	<img src="{{ 'uv-active.svg' | asset_url }}" alt="icon" />
       	</span>
        <span class="non-ac-icon" style="display:block;">{%include "icon-uv"%}</span>
         <p class="uv">UV</p></li>
      <li class="navbar-li climate six" id="climate-p">
        <span class="active-icon" style="display:none;">
              	<img src="{{ 'climate-active.svg' | asset_url }}" alt="icon" />
       	</span>
        <span class="non-ac-icon" style="display:block;">{%include "icon-climate"%}</span>
        <p class="climate">CLIMATE</p></li>
      <li class="navbar-li sleep seven" id="sleep-p">
         <span class="active-icon" style="display:none;">
              	<img src="{{ 'sleep-active.svg' | asset_url }}" alt="icon" />
       	</span>
        <span class="non-ac-icon" style="display:block;">{%include "icon-sleep"%}</span>
        <p class="sleep">SLEEP</p>
      </li>
    </ul>
  </div>            
</div>
