<div class="site-header sub-header diagnostic-detailspg">
 <div class="grid__item left-arrow p-top-5" id="diagnotic-detail-back"> {% include 'icon-chevron-left' %}</div>
  <div class="grid__item small--one-half medium-up--one-two cl-pages-names"><span class="ft-text">Charlie's</span><span class="cname">'s</span> <span class="bt-text">DIAGNOTIC</span></div>
  <div class="grid__item medium-up--one-fourth header-button p-top-10">
<!--     {% if shop.customer_accounts_enabled %}
    	{% if customer  %}
    		 <a href="#savemodel" rel="modal:open"  id="login-save" data-id="{{ customer.id }}" onclick="return customerloginupdate({{ customer.id }});"  class="button buy">SAVE</a>
            {% else %}
            <a href="#savemodel" rel="modal:open" class="button buy">SAVE</a> 
        {% endif %}
    {% endif %}
    <a href="/cart" type="submit" class="button save">BUY</a> -->
    
    {% if shop.customer_accounts_enabled %}
    	{% if customer  %}
    		 <a href="#savemodel" rel="modal:open"  id="login-save" data-id="{{ customer.id }}" onclick="return customerloginupdate({{ customer.id }});"  class="save-btn button buy">SAVE</a>
            {% else %}
            <a href="#savemodel" rel="modal:open" class="save-btn button buy">SAVE</a> 
        {% endif %}
    {% endif %}
      <a href="/cart" type="submit" class="buy-btn">GET</a>
<!--     <button type="submit" class="button buy"><b>BUY</b></button>
    <button type="submit" class="button save"><b>SAVE</b></button> -->
  </div>
</div>

 {% include 'register-model' %}