<div class="product-acc-section">
  <div class="ingredients index-section acc-styling" style="padding-top:0px;padding-bottom:0px">
    <p style="font-size:19px;padding:14px 0px;color: #9a44b2;text-align:center;"><strong>HOW TO USE</strong>
      <span class="arrow">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"/></g>
        </svg>
      </span>
    </p> 
    <div class="ingredientscontent">
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>  	
    </div> 
  </div> 
</div> 
  
  