<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 56 52" style="enable-background:new 0 0 56 52;" xml:space="preserve">
<style type="text/css">
  .st0{fill:currentColor;}
</style>
<g>
	<g>
		<path class="st0" d="M28,52L4.8,27.7c-0.2-0.2-0.4-0.4-0.5-0.6l-0.4-0.4C1.4,23.7,0,19.9,0,16.1C0,7.2,6.9,0,15.4,0
			c5,0,9.7,2.6,12.6,6.8C30.9,2.6,35.6,0,40.6,0C49.1,0,56,7.1,56,16.1c0,3.9-1.4,7.6-3.9,10.6l0,0l-0.3,0.4
			c-0.2,0.2-0.4,0.4-0.6,0.6L28,52z M15.4,2C8,2,2,8.2,2,16.1c0,3.5,1.2,6.7,3.4,9.3l0.3,0.4C5.8,26,6,26.1,6.2,26.3L28,49.1
			l21.8-22.8c0.2-0.2,0.3-0.4,0.5-0.5l0.3-0.4c2.2-2.6,3.4-6,3.4-9.3C54,8.3,48,2,40.6,2c-4.9,0-9.3,2.8-11.7,7.2L28,10.9l-0.9-1.7
			C24.7,4.8,20.3,2,15.4,2z M51.4,26.1L51.4,26.1L51.4,26.1z"/>
	</g>
	<g>
		<polygon class="st0" points="31.7,29.9 20.8,18.7 15.8,23.8 10.9,23.8 10.9,21.8 15,21.8 20.8,15.8 31.7,27 36.7,21.8 45.1,21.8 
			45.1,23.8 37.6,23.8 		"/>
	</g>
</g>
</svg>