<svg version="1.1" id="Layer_1___-548646168" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 52" style="enable-background:new 0 0 48 52;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#fff;}
</style>
<g>
	<g>
		<path class="st0" d="M15,30C6.7,30,0,23.3,0,15S6.7,0,15,0s15,6.7,15,15S23.3,30,15,30z M15,2C7.8,2,2,7.8,2,15s5.8,13,13,13
			s13-5.8,13-13S22.2,2,15,2z"></path>
	</g>
	<g>
		<path class="st0" d="M37,46c-6.1,0-11-4.9-11-11s4.9-11,11-11s11,4.9,11,11S43.1,46,37,46z M37,26c-5,0-9,4-9,9s4,9,9,9s9-4,9-9
			S42,26,37,26z"></path>
	</g>
	<g>
		<path class="st0" d="M16,52c-3.3,0-5.9-2.7-5.9-6c0-1,0.3-2,0.7-2.9l5.2-8l5.2,8c0.5,0.9,0.7,1.9,0.7,2.9C21.9,49.3,19.3,52,16,52
			z M16,38.8l-3.5,5.4c-0.3,0.5-0.4,1.2-0.4,1.8c0,2.2,1.8,4,3.9,4c2.2,0,3.9-1.8,3.9-4c0-0.7-0.2-1.3-0.5-1.9L16,38.8z"></path>
	</g>
</g>
</svg>