<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 56 60" style="enable-background:new 0 0 56 60;" xml:space="preserve">
<style type="text/css">
  .st0{fill:currentColor;}
</style>
<g>
	<path class="st0" d="M51.8,19c-3.3-4.5-8.4-6.9-14.6-6.9c-2.9,0-5.8,0.9-8.4,2.6l-0.4,0.2v-0.1c-0.5-2.2-0.9-6.2,0.7-8.8
		c1.5-2.2,4.4-3.3,6.6-3.7c0.3,1.6,0.4,3.7,0,5.6l2,0.4c0.6-2.6,0.2-5.5-0.2-7.4L37.3,0l-0.9,0.2C34,0.6,29.6,1.7,27.5,5
		c-1.8,2.8-1.6,6.6-1.2,9.2c-2.3-1.3-4.9-2-7.5-2C5.8,12.2,0,22.6,0,32.8C0,38.2,2.2,45,5.8,50.5c3.9,6,8.6,9.5,12.9,9.5
		c1.8,0,4.4-0.9,6.2-1.6c1.4-0.5,2.3-0.8,3-0.8s1.7,0.3,3.1,0.9c1.8,0.7,4.3,1.5,6.1,1.5c4.3,0,9-3.5,12.9-9.5
		c3.8-5.5,6-12.3,6-17.7C56,27.6,54.5,22.7,51.8,19z M37.2,58.1c-1.5,0-3.7-0.8-5.4-1.4c-1.6-0.6-2.7-1-3.8-1c-1,0-2,0.4-3.7,1
		c-1.7,0.6-4,1.4-5.5,1.4C10.8,58.1,2,43,2,32.8c0-9.3,5.2-18.7,16.8-18.7c2.5,0,5.1,0.8,7.3,2.2l1.9,1.3l1.9-1.3
		c2.2-1.5,4.7-2.2,7.3-2.2C49.6,14.2,54,24.3,54,32.8C54,43,45.2,58.1,37.2,58.1z"/>
	<path class="st0" d="M7.9,30.1h2c0-4.4,3.6-8,8-8v-2C12.4,20.2,7.9,24.7,7.9,30.1z"/>
</g>
</svg>