<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 72 64" style="enable-background:new 0 0 72 64;" xml:space="preserve">
<style type="text/css">
  .st0{fill:currentColor;}
</style>
<g>
	<g>
		<path class="st0" d="M21,64L21,64C9.3,64,0,54.6,0,43s9.4-21,21-21c8.4,0,16,5.1,19.3,12.8c1.5-0.5,3.1-0.8,4.7-0.8
			c8.3,0,15,6.7,15,15c0,8.2-6.7,15-14.9,15H21z M21,24C10.5,24,2,32.5,2,43s8.5,19,19,19h24c7.1,0,13-5.9,13-13c0-7.2-5.8-13-13-13
			c-1.7,0-3.3,0.3-4.9,1l-1,0.4l-0.4-1C36,29,28.9,24,21,24z"/>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									<rect x="40" class="st0" width="2" height="10"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									<rect x="40" class="st0" width="2" height="10"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									<rect x="62" y="30" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									<rect x="62" y="30" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									
										<rect x="21.6" y="7.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.3031 19.6706)" class="st0" width="2" height="10"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									
										<rect x="21.6" y="7.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.3031 19.6706)" class="st0" width="2" height="10"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									
										<rect x="54.4" y="11.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 8.4876 45.6795)" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									
										<rect x="54.4" y="11.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 8.4876 45.6795)" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<path class="st0" d="M55.9,32.4l-2-0.2c0-0.4,0.1-0.8,0.1-1.2c0-7.2-5.8-13-13-13c-3,0-5.9,1-8.2,3l-1.3-1.5
			c2.7-2.2,6-3.4,9.5-3.4c8.3,0,15,6.7,15,15C56,31.4,56,31.9,55.9,32.4z"/>
	</g>
</g>
</svg>