<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 60 52" style="enable-background:new 0 0 60 52;" xml:space="preserve">
<style type="text/css">
  .st0{fill:currentColor;}
</style>
<g>
	<path class="st0" d="M58.3,16c0-5.5-4.5-10-10-10v2c4.4,0,8,3.6,8,8s-3.6,8-8,8h-8v2h8C53.8,26,58.3,21.5,58.3,16z"/>
	<path class="st0" d="M53,32H40.2v2H53c2.8,0,5,2.2,5,5s-2.2,5-5,5v2c3.9,0,7-3.1,7-7S56.8,32,53,32z"/>
	<path class="st0" d="M26.2,9c0-2.8-2.2-5-5-5v2c1.7,0,3,1.3,3,3s-1.3,3-3,3H14v2h7.1C24,14,26.2,11.8,26.2,9z"/>
	<path class="st0" d="M29.1,0v2c5,0,9,4,9,9s-4,9-9,9H7l0,0l0,0H6.9l0,0C3.1,20.1,0,23.2,0,27s3.1,6.9,6.9,7l0,0h19.2
		c4.4,0,8,3.6,8,8s-3.6,8-8,8v2c5.5,0,10-4.5,10-10s-4.5-10-10-10H7c-2.7,0-5-2.2-5-5c0-2.7,2.2-5,5-5h22.1c6.1,0,11-4.9,11-11
		S35.2,0,29.1,0z"/>
</g>
</svg>