<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
<style type="text/css">
  .st0{fill:currentColor;}
</style>
<g>
	<path class="st0" d="M26.3,52C11.9,52,0,40.2,0,25.7C0,14,7.5,3.9,18.6,0.5L20.4,0l-0.5,1.8c-0.7,2.3-1.1,4.7-1.1,7
		c0,13.4,10.9,24.4,24.4,24.4c2.4,0,4.8-0.4,7-1.1l1.8-0.5l-0.5,1.8C48.1,44.6,38,52,26.3,52z M17.5,3.1C8.2,6.6,2.1,15.6,2.1,25.8
		c0,13.4,10.9,24.4,24.4,24.4c10.2,0,19.1-6.1,22.7-15.6c-1.9,0.4-3.9,0.7-5.8,0.7c-14.5,0-26.3-11.8-26.3-26.3
		C16.9,6.9,17.1,5,17.5,3.1z"/>
<!--   <path class="st0" d="M51.4,32.9c-2.2,0.7-4.5,1-6.8,1c-13,0-23.6-10.6-23.6-23.6c0-2.3,0.3-4.6,1-6.8L23.2,0l-3.6,1.1  C7.9,4.6,0,15.2,0,27.5C0,42.6,12.4,55,27.5,55c12.2,0,22.8-7.9,26.4-19.6l1.1-3.6L51.4,32.9z"/> -->
</g>
</svg>