<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 66 60" style="enable-background:new 0 0 66 60;" xml:space="preserve">
<style type="text/css">
  .st0{fill:currentColor;}
</style>
<g>
	<g>
		<rect x="19" y="58" class="st0" width="28" height="2"/>
	</g>
	<g>
		<rect x="1" y="50" class="st0" width="64" height="2"/>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									<rect x="32" class="st0" width="2" height="10"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									<rect x="32" class="st0" width="2" height="10"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									
										<rect x="12.2" y="8.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -5.4689 13.1995)" class="st0" width="2" height="10"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									
										<rect x="12.2" y="8.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -5.4689 13.1995)" class="st0" width="2" height="10"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									
										<rect x="47.8" y="12.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 6.1303 41.2)" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									
										<rect x="47.8" y="12.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 6.1303 41.2)" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									<rect x="56" y="32" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									<rect x="56" y="32" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									<rect y="32" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
						<g>
							<g>
								<g>
									<rect y="32" class="st0" width="10" height="2"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path class="st0" d="M19.7,43.6c-2.4-3-3.7-6.7-3.7-10.6c0-9.4,7.6-17,17-17s17,7.6,17,17c0,3.9-1.3,7.6-3.7,10.6l-1.6-1.3
				c2.2-2.7,3.3-5.9,3.3-9.4c0-8.3-6.7-15-15-15s-15,6.7-15,15c0,3.4,1.1,6.7,3.3,9.4L19.7,43.6z"/>
		</g>
	</g>
</g>
</svg>