<div class="multi-product">
    <header class="site-header">
        <div class="container flex-parent justify-b">   
            <div class="id flex-parent">
                <div class="image">
                    <img src="{{ 'box-icon.png' | asset_url }}" alt="Box Icon" />                    
                </div>
                <div class="headings">
                    <h3 class="customer">Charlie's</h3>
                <h2 class="title">REGIMEN KIT</h2>
                </div>                
            </div>
            <div class="buttons flex-parent">
                <a href="#" class="button button-1">SAVE</a>
                <a href="#" class="button button-2">GET</a>
            </div>
        </div><!-- end of container -->
    </header>
    <div class="main">
        <div class="container">
        main
        
        </div><!-- end of container -->        
    </div><!-- end of main -->
    <footer class="">
        <div class="container">
        footer
        
        </div><!-- end of container -->        
    </div><!-- end of main -->
    
</div>