<!-- <div id="about-0" class="hiddendiv questionmain">
  <div class="about-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">1</span> of 28</span>
      <span class="closere">
        <a href="/" >
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    <div class="about-image">
      <svg version="1.1" id="Layer_1___-328966772" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
        <style type="text/css">.st0{fill:currentColor;}</style><g><g><path class="st0" d="M26,30c-8.3,0-15-6.7-15-15S17.7,0,26,0s15,6.7,15,15S34.3,30,26,30z M26,2c-7.2,0-13,5.8-13,13s5.8,13,13,13s13-5.8,13-13S33.2,2,26,2z"></path></g><g><path class="st0" d="M52,52h-2V41c0-2.8-2.2-5-5-5H7c-2.8,0-5,2.2-5,5v11H0V41c0-3.9,3.1-7,7-7h38c3.9,0,7,3.1,7,7V52z"></path></g></g></svg>
    </div>
    <p>About You</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">Let's begin!</h1>
        <div class="inputsec">
          <div class="with100ass" id="lestbegin1">
            <label class="formlabelhalf">
              <input type="radio" class="radiore genderselection" name="genderselection" value="I`m Female">
              <span class="inputspan">I`m Female</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore genderselection" name="genderselection" value="I`m male">
              <span class="inputspan">I`m Male</span>
            </label>
            
          </div>
        </div>
        <div id="genderselection-btn" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div> -->
<div id="about-1" class="hiddendiv questionmain">
  <div class="about-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">1</span> of 28</span>
      <span class="closere">
        <a href="/" >
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    <div class="about-image">
      <svg version="1.1" id="Layer_1___-328966772" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
        <style type="text/css">.st0{fill:currentColor;}</style><g><g><path class="st0" d="M26,30c-8.3,0-15-6.7-15-15S17.7,0,26,0s15,6.7,15,15S34.3,30,26,30z M26,2c-7.2,0-13,5.8-13,13s5.8,13,13,13s13-5.8,13-13S33.2,2,26,2z"></path></g><g><path class="st0" d="M52,52h-2V41c0-2.8-2.2-5-5-5H7c-2.8,0-5,2.2-5,5v11H0V41c0-3.9,3.1-7,7-7h38c3.9,0,7,3.1,7,7V52z"></path></g></g></svg>
    </div>
    <p>About You</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">What should we call you?</h1>
        <p>(So we can personalize your experience)</p>
        <div class="inputsec">
          <input type="text" id="about-you-name" data-id="A0" name="about-you-name" maxlength="13" placeholder="Enter your name" value="" >
        </div>
        <div id="next1" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="about-2" class="hiddendiv questionmain">
  <div class="about-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">2</span> of 28</span>
      <span class="closere">
        <a href="/" >
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    <div class="about-image">
      <svg version="1.1" id="Layer_1___-328966772" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
        <style type="text/css">.st0{fill:currentColor;}</style><g><g><path class="st0" d="M26,30c-8.3,0-15-6.7-15-15S17.7,0,26,0s15,6.7,15,15S34.3,30,26,30z M26,2c-7.2,0-13,5.8-13,13s5.8,13,13,13s13-5.8,13-13S33.2,2,26,2z"></path></g><g><path class="st0" d="M52,52h-2V41c0-2.8-2.2-5-5-5H7c-2.8,0-5,2.2-5,5v11H0V41c0-3.9,3.1-7,7-7h38c3.9,0,7,3.1,7,7V52z"></path></g></g></svg>
    </div>
    <p>About You</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">What's your age? </h1>
        <p>(Your age helps us gain insights about your skin's age and health)</p>
        <div class="inputsec">
          <input type="number" min="0" id="about-you-age" data-id="A0" name="about-you-age" placeholder="00" value="" maxlength="64">
          <p class="ageerror">You need to be over 18 years old.</p>
        </div>
      </div>
      <div id="next-2" class="nxtbtn">Next</div>
    </div>
  </div>  
</div>
