<div id="climate-1" class="hiddendiv questionmain">
  <div class="climate-bg">
    {% include "climate-image"%}
    <h1 class="headclass-reco">Where's home?</h1>
<!--     <p>(We use this to forecast your climate)</p> -->
    <p>(Enter your zip code. This helps us see how your climate affects your skin.)</p>
    <div class="selectloca">
      <div class="locationbtn auto" >Use my current location</div>
      <p >Or you can enter manually</p>
      <div class="locationbtn manual" >Enter it manually</div>
    </div>
  </div>
</div>
<div id="climate-2" class="hiddendiv questionmain">
  <div class="climate-bg">
    {% include "climate-image"%}
    <h1 class="headclass-reco">Where's home?</h1>
<!--     <p>(We use this to forecast your climate)</p> -->
    <p>(Enter your zip code. This helps us see how your climate affects your skin.)</p>
    <input type="text" id="climate-location" data-id="A0" name="location" placeholder="Enter your city or town" style="margin-bottom: 20px;" >
    <div id="locatemanually">Locate</div>
  </div>
</div>
<div id="climate-3" class="hiddendiv questionmain">
  <div class="climate-bg">
    {% include "climate-image"%}<div class="root">
      <div class="mainstructure">
         <h1 class="headclass-reco">Where's home?</h1>
         <p>Thank You!</p>
        <div class="inputsec">
          <p>Location Found:</p>
          <div id="showloaction"></div>
        </div>
        <div id="next3" class="nxtbtn">next</div>
      </div>
    </div>
  </div>
</div>
