<div id="skin-1" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">4</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}

    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">Ok, face first. Describe your skin from forehead to chin. </h1>
        <p>(Select all that apply)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput1">
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore skingoal" data-id="A0" name="skingoal-1" value="{{section.settings.skin-goal-1}}">
              <span class="inputspan">{{section.settings.skin-goal-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore skingoal" data-id="A1" name="skingoal-2" value="{{section.settings.skin-goal-2}}">
              <span class="inputspan">{{section.settings.skin-goal-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore skingoal" data-id="A2" name="skingoal-3" value="{{section.settings.skin-goal-3}}">
              <span class="inputspan">{{section.settings.skin-goal-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore skingoal" data-id="A3" name="skingoal-4" value="{{section.settings.skin-goal-4}}">
              <span class="inputspan">{{section.settings.skin-goal-4}}</span>
            </label>
        	<label class="formlabelhalf">
              <input type="checkbox" class="radiore skingoal" data-id="A4" name="skingoal-5" value="{{section.settings.skin-goal-5}}">
              <span class="inputspan">{{section.settings.skin-goal-5}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore skingoal" data-id="A5" name="skingoal-6" value="{{section.settings.skin-goal-6}}">
              <span class="inputspan">{{section.settings.skin-goal-6}}</span>
            </label>
 <!--           <label class="formlabelhalf">
              <input type="radio" class="radiore skingoal" name="skingoal" value="{{section.settings.skin-goal-7}}">
              <span class="inputspan">{{section.settings.skin-goal-7}}</span>
            </label> -->
          </div>
        </div>
      </div>
      <div id="skin-btn-1" class="nxtbtn">Next</div>
    </div>
  </div>
</div>
<div id="skin-2" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">5</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How often do you breakout? </h1>
        <p>(Select one)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput2">
            <label class="formlabelhalf">
              <input type="radio" class="radiore skinconcern" data-id="A0" name="skinconcern" value="{{section.settings.skin-con-1}}">
              <span class="inputspan">{{section.settings.skin-con-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore skinconcern" data-id="A1" name="skinconcern" value="{{section.settings.skin-con-2}}">
              <span class="inputspan">{{section.settings.skin-con-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore skinconcern" data-id="A3" name="skinconcern" value="{{section.settings.skin-con-3}}">
              <span class="inputspan">{{section.settings.skin-con-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore skinconcern" data-id="A4" name="skinconcern" value="{{section.settings.skin-con-4}}">
              <span class="inputspan">{{section.settings.skin-con-4}}</span>
            </label>
<!--             <label class="formlabelhalf">
              <input type="checkbox" class="radiore skinconcern" name="skinconcern-5" value="{{section.settings.skin-con-5}}">
              <span class="inputspan">{{section.settings.skin-con-5}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore skinconcern" name="skinconcern-6" value="{{section.settings.skin-con-6}}">
              <span class="inputspan">{{section.settings.skin-con-6}}</span>
            </label> -->
          </div>
        </div>
        <div id="skin-btn-2" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="skin-3" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">6</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}

    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">Any of these skin sensitivities sound familiar?</h1>
        <p>(Select all conditions you've experienced in the last month)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput3">
            <label class="formlabelhalf">
                <input type="checkbox" class="radiore yoursensitivityorredness-1" data-id="A0" name="yoursensitivityorredness-1" value="{{section.settings.your-sen-redness-1}}">
              <span class="inputspan">{{section.settings.your-sen-redness-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore yoursensitivityorredness-2" data-id="A1" name="yoursensitivityorredness-2" value="{{section.settings.your-sen-redness-2}}">
              <span class="inputspan">{{section.settings.your-sen-redness-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore yoursensitivityorredness-3" data-id="A2" name="yoursensitivityorredness-3" value="{{section.settings.your-sen-redness-3}}">
              <span class="inputspan">{{section.settings.your-sen-redness-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore yoursensitivityorredness-4" data-id="A3" name="yoursensitivityorredness-4" value="{{section.settings.your-sen-redness-4}}">
              <span class="inputspan">{{section.settings.your-sen-redness-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore yoursensitivityorredness-5" data-id="A4" name="yoursensitivityorredness-5" value="{{section.settings.your-sen-redness-5}}">
              <span class="inputspan">{{section.settings.your-sen-redness-5}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore yoursensitivityorredness-6" data-id="A5" name="yoursensitivityorredness-6" value="{{section.settings.your-sen-redness-6}}">
              <span class="inputspan">{{section.settings.your-sen-redness-6}}</span>
            </label>
          </div>
        </div>
        <div id="skin-btn-3" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>

</div>
<div id="skin-4" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">7</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">What's involved in your daily skincare routine? </h1>
        <p>(Select everything you use)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput4">
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore facecareroutine" data-id="A0" name="facecareroutine-1" value="{{section.settings.face-care-routine-1}}">
              <span class="inputspan">{{section.settings.face-care-routine-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore facecareroutine" data-id="A1" name="facecareroutine-2" value="{{section.settings.face-care-routine-2}}">
              <span class="inputspan">{{section.settings.face-care-routine-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore facecareroutine" data-id="A2" name="facecareroutine-3" value="{{section.settings.face-care-routine-3}}">
              <span class="inputspan">{{section.settings.face-care-routine-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore facecareroutine" data-id="A3" name="facecareroutine-4" value="{{section.settings.face-care-routine-4}}">
              <span class="inputspan">{{section.settings.face-care-routine-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore facecareroutine" data-id="A4" name="facecareroutine-5" value="{{section.settings.face-care-routine-5}}">
              <span class="inputspan">{{section.settings.face-care-routine-5}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore facecareroutine" data-id="A5" name="facecareroutine-6" value="{{section.settings.face-care-routine-6}}">
              <span class="inputspan">{{section.settings.face-care-routine-6}}</span>
            </label>
          </div>
        </div>
        <div id="skin-btn-4" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="skin-5" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">8</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">What about makeup?</h1>
        <p>(Select all that apply)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput5">
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore spfprotection-1" data-id="A0" name="spfprotection-1" value="{{section.settings.spf-pro-1}}">
              <span class="inputspan">{{section.settings.spf-pro-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore spfprotection-2" data-id="A1" name="spfprotection-2" value="{{section.settings.spf-pro-2}}">
              <span class="inputspan">{{section.settings.spf-pro-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore spfprotection-3" data-id="A2" name="spfprotection-3" value="{{section.settings.spf-pro-3}}">
              <span class="inputspan">{{section.settings.spf-pro-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore spfprotection-4" data-id="A3" name="spfprotection-4" value="{{section.settings.spf-pro-4}}">
              <span class="inputspan">{{section.settings.spf-pro-4}}</span>
            </label>
             <label class="formlabelhalf">
              <input type="checkbox" class="radiore spfprotection-5" data-id="A4" name="spfprotection-5" value="{{section.settings.spf-pro-5}}">
              <span class="inputspan">{{section.settings.spf-pro-5}}</span>
            </label>
             <label class="formlabelhalf">
              <input type="checkbox" class="radiore spfprotectio-6" data-id="A5" name="spfprotection-6" value="{{section.settings.spf-pro-6}}">
              <span class="inputspan">{{section.settings.spf-pro-6}}</span>
            </label>           
          </div>
        </div>
        <div id="skin-btn-5" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
  
</div>

<div id="skin-6" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">9</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How much do you use?</h1>
        <p>(Select one)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput6">
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeuproutine" data-id="A0" name="makeuproutine" value="{{section.settings.makeup-routine-1}}">
              <span class="inputspan">{{section.settings.makeup-routine-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeuproutine" data-id="A1" name="makeuproutine" value="{{section.settings.makeup-routine-2}}">
              <span class="inputspan">{{section.settings.makeup-routine-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeuproutine" data-id="A2" name="makeuproutine" value="{{section.settings.makeup-routine-3}}">
              <span class="inputspan">{{section.settings.makeup-routine-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeuproutine" data-id="A3" name="makeuproutine" value="{{section.settings.makeup-routine-4}}">
              <span class="inputspan">{{section.settings.makeup-routine-4}}</span>
            </label>
<!--            <label class="formlabelhalf">
              <input type="radio" class="radiore makeuproutine" data-id="A4" name="makeuproutine" value="{{section.settings.makeup-routine-5}}">
              <span class="inputspan">{{section.settings.makeup-routine-5}}</span>
            </label>
             <label class="formlabelhalf">
              <input type="radio" class="radiore makeuproutine" name="makeuproutine" value="{{section.settings.makeup-routine-6}}">
              <span class="inputspan">{{section.settings.makeup-routine-6}}</span>
            </label> -->
          </div>
        </div>
        <div id="skin-btn-6" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="skin-7" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">10</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">What would you say is your main skin goal?</h1>
        <p>(Select one)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput7">
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeupoftergofor" data-id="A0" name="makeupoftergofor" value="{{section.settings.makeup-often-go-1}}">
              <span class="inputspan">{{section.settings.makeup-often-go-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeupoftergofor" data-id="A1" name="makeupoftergofor" value="{{section.settings.makeup-often-go-2}}">
              <span class="inputspan">{{section.settings.makeup-often-go-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeupoftergofor" data-id="A2" name="makeupoftergofor" value="{{section.settings.makeup-often-go-3}}">
              <span class="inputspan">{{section.settings.makeup-often-go-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeupoftergofor" data-id="A3" name="makeupoftergofor" value="{{section.settings.makeup-often-go-4}}">
              <span class="inputspan">{{section.settings.makeup-often-go-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeupoftergofor" data-id="A4" name="makeupoftergofor" value="{{section.settings.makeup-often-go-5}}">
              <span class="inputspan">{{section.settings.makeup-often-go-5}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore makeupoftergofor" data-id="A5" name="makeupoftergofor" value="{{section.settings.makeup-often-go-6}}">
              <span class="inputspan">{{section.settings.makeup-often-go-6}}</span>
            </label>
          </div>
        </div>
        <div id="skin-btn-7" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>

<div id="skin-8" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">11</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">Where do you usually get your SPF?</h1>
        <p>(Select one)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput8">
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelskinoflegarme" data-id="A0" name="feelskinoflegarme" value="{{section.settings.your-skin-arms-legs-1}}">
              <span class="inputspan">{{section.settings.your-skin-arms-legs-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelskinoflegarme" data-id="A1" name="feelskinoflegarme" value="{{section.settings.your-skin-arms-legs-2}}">
              <span class="inputspan">{{section.settings.your-skin-arms-legs-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelskinoflegarme" data-id="A2" name="feelskinoflegarme" value="{{section.settings.your-skin-arms-legs-3}}">
              <span class="inputspan">{{section.settings.your-skin-arms-legs-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelskinoflegarme" data-id="A3" name="feelskinoflegarme" value="{{section.settings.your-skin-arms-legs-4}}">
              <span class="inputspan">{{section.settings.your-skin-arms-legs-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelskinoflegarme" data-id="A4" name="feelskinoflegarme" value="{{section.settings.your-skin-arms-legs-5}}">
              <span class="inputspan">{{section.settings.your-skin-arms-legs-5}}</span>
            </label>
          </div>
        </div>
        <div id="skin-btn-8" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="skin-9" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">12</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How's the rest of your skin? Think shoulders to toes.</h1>
        <p>(Select one)</p>
        <div class="inputsec">
          <div class="with100ass" id="skininput9">
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore supplementforskinhealth" data-id="A0" name="supplementforskinhealth" value="{{section.settings.supp-support-skin-1}}">
              <span class="inputspan">{{section.settings.supp-support-skin-1}}</span>
            </label>
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore supplementforskinhealth" data-id="A1" name="supplementforskinhealth" value="{{section.settings.supp-support-skin-2}}">
              <span class="inputspan">{{section.settings.supp-support-skin-2}}</span>
            </label>
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore supplementforskinhealth" data-id="A2" name="supplementforskinhealth" value="{{section.settings.supp-support-skin-3}}">
              <span class="inputspan">{{section.settings.supp-support-skin-3}}</span>
            </label>
             <label class="formlabelhalf fullre">
              <input type="radio" class="radiore supplementforskinhealth" data-id="A3" name="supplementforskinhealth" value="{{section.settings.supp-support-skin-4}}">
              <span class="inputspan">{{section.settings.supp-support-skin-4}}</span>
            </label>
          </div>
        </div>
        <div id="skin-btn-9" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>

<div id="skin-10" class="hiddendiv questionmain">
  <div class="skin-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">13</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "skin-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">Would you take supplements to boost your skin's health?</h1>
<!--         <p>(Select one)</p> -->
        <div class="inputsec">
          <div class="with100ass" id="skininput10">
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore supplementboostskin" data-id="A0" name="supplementboostskin" value="{{section.settings.supp-boost-skin-1}}">
              <span class="inputspan">{{section.settings.supp-boost-skin-1}}</span>
            </label>
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore supplementboostskin" data-id="A1" name="supplementboostskin" value="{{section.settings.supp-boost-skin-2}}">
              <span class="inputspan">{{section.settings.supp-boost-skin-2}}</span>
            </label>
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore supplementboostskin" data-id="A2" name="supplementboostskin" value="{{section.settings.supp-boost-skin-3}}">
              <span class="inputspan">{{section.settings.supp-boost-skin-3}}</span>
            </label>
          </div>
        </div>
        <div id="skin-btn-10" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>