<div id="airquality-1" class="hiddendiv questionmain">
  <div class="airquality-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">14</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 60 52" style="enable-background:new 0 0 60 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M58.3,16c0-5.5-4.5-10-10-10v2c4.4,0,8,3.6,8,8s-3.6,8-8,8h-8v2h8C53.8,26,58.3,21.5,58.3,16z"/>
          <path class="st0" d="M53,32H40.2v2H53c2.8,0,5,2.2,5,5s-2.2,5-5,5v2c3.9,0,7-3.1,7-7S56.8,32,53,32z"/>
          <path class="st0" d="M26.2,9c0-2.8-2.2-5-5-5v2c1.7,0,3,1.3,3,3s-1.3,3-3,3H14v2h7.1C24,14,26.2,11.8,26.2,9z"/>
          <path class="st0" d="M29.1,0v2c5,0,9,4,9,9s-4,9-9,9H7l0,0l0,0H6.9l0,0C3.1,20.1,0,23.2,0,27s3.1,6.9,6.9,7l0,0h19.2
                               c4.4,0,8,3.6,8,8s-3.6,8-8,8v2c5.5,0,10-4.5,10-10s-4.5-10-10-10H7c-2.7,0-5-2.2-5-5c0-2.7,2.2-5,5-5h22.1c6.1,0,11-4.9,11-11
                               S35.2,0,29.1,0z"/>
        </g>
      </svg>
    </div>
    <p>AIR QUALITY</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">Let's talk about everyday life. What's your commute like? </h1>
        <p>(Select all the ways you make moves)</p>
        <div class="inputsec">
          <div class="with100ass" id="airinput1">
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore airgettowork1" data-id="A0" name="airgettowork-1" value="Bike">
              <span class="inputspan">Bike</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore airgettowork2" data-id="A1" name="airgettowork-2" value="Bus">
              <span class="inputspan">Bus</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore airgettowork3" data-id="A2" name="airgettowork-3" value="Subway / Train">
              <span class="inputspan">Subway/Train</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore airgettowork4" data-id="A3" name="airgettowork-4" value="Walk">
              <span class="inputspan">Walk</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore airgettowork5" data-id="A4" name="airgettowork-5" value="{{section.settings.air-get-to-work-5}}">
              <span class="inputspan">{{section.settings.air-get-to-work-5}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore airgettowork6" data-id="A5" name="airgettowork-6" value="{{section.settings.air-get-to-work-6}}">
              <span class="inputspan">{{section.settings.air-get-to-work-6}}</span>
            </label>
          </div>
        </div>
        <div id="airquality-next1" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="airquality-2" class="hiddendiv questionmain">
  <div class="airquality-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">15</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 60 52" style="enable-background:new 0 0 60 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M58.3,16c0-5.5-4.5-10-10-10v2c4.4,0,8,3.6,8,8s-3.6,8-8,8h-8v2h8C53.8,26,58.3,21.5,58.3,16z"/>
          <path class="st0" d="M53,32H40.2v2H53c2.8,0,5,2.2,5,5s-2.2,5-5,5v2c3.9,0,7-3.1,7-7S56.8,32,53,32z"/>
          <path class="st0" d="M26.2,9c0-2.8-2.2-5-5-5v2c1.7,0,3,1.3,3,3s-1.3,3-3,3H14v2h7.1C24,14,26.2,11.8,26.2,9z"/>
          <path class="st0" d="M29.1,0v2c5,0,9,4,9,9s-4,9-9,9H7l0,0l0,0H6.9l0,0C3.1,20.1,0,23.2,0,27s3.1,6.9,6.9,7l0,0h19.2
                               c4.4,0,8,3.6,8,8s-3.6,8-8,8v2c5.5,0,10-4.5,10-10s-4.5-10-10-10H7c-2.7,0-5-2.2-5-5c0-2.7,2.2-5,5-5h22.1c6.1,0,11-4.9,11-11
                               S35.2,0,29.1,0z"/>
        </g>
      </svg>
    </div>
    <p>AIR QUALITY</p>
    <div class="root">
      <div class="mainstructure"  >
        <h1 class="headclass-reco">How often do you smoke cigarettes?</h1>
        <p>(Select one)</p>
        <div class="inputsec">
          <div class="with100ass" id="airinput2">
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore airdoyousmoke" data-id="A0" name="airdoyousmoke" value="{{section.settings.air-do-smoke-1}}">
              <span class="inputspan">{{section.settings.air-do-smoke-1}}</span>
            </label>
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore airdoyousmoke" data-id="A1" name="airdoyousmoke" value="{{section.settings.air-do-smoke-2}}">
              <span class="inputspan">{{section.settings.air-do-smoke-2}}</span>
            </label>
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore airdoyousmoke" data-id="A2" name="airdoyousmoke" value="{{section.settings.air-do-smoke-3}}">
              <span class="inputspan">{{section.settings.air-do-smoke-3}}</span>
            </label>
            <label class="formlabelhalf fullre">
              <input type="radio" class="radiore airdoyousmoke" data-id="A3" name="airdoyousmoke" value="{{section.settings.air-do-smoke-4}}">
              <span class="inputspan">{{section.settings.air-do-smoke-4}}</span>
            </label>
          </div>
        </div>
        <div id="airquality-next2" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="airquality-3" class="hiddendiv questionmain">
  <div class="airquality-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">16</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 60 52" style="enable-background:new 0 0 60 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M58.3,16c0-5.5-4.5-10-10-10v2c4.4,0,8,3.6,8,8s-3.6,8-8,8h-8v2h8C53.8,26,58.3,21.5,58.3,16z"/>
          <path class="st0" d="M53,32H40.2v2H53c2.8,0,5,2.2,5,5s-2.2,5-5,5v2c3.9,0,7-3.1,7-7S56.8,32,53,32z"/>
          <path class="st0" d="M26.2,9c0-2.8-2.2-5-5-5v2c1.7,0,3,1.3,3,3s-1.3,3-3,3H14v2h7.1C24,14,26.2,11.8,26.2,9z"/>
          <path class="st0" d="M29.1,0v2c5,0,9,4,9,9s-4,9-9,9H7l0,0l0,0H6.9l0,0C3.1,20.1,0,23.2,0,27s3.1,6.9,6.9,7l0,0h19.2
                               c4.4,0,8,3.6,8,8s-3.6,8-8,8v2c5.5,0,10-4.5,10-10s-4.5-10-10-10H7c-2.7,0-5-2.2-5-5c0-2.7,2.2-5,5-5h22.1c6.1,0,11-4.9,11-11
                               S35.2,0,29.1,0z"/>
        </g>
      </svg>
    </div>
    <p>AIR QUALITY</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How long are you outside during daylight hours?</h1>
        <p>(We use this to measure UV exposure)</p>
        <div class="inputsec">
          <div class="with100ass" id="airinput3">
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvoutdoortime" data-id="A0" name="uvoutdoortime" value="{{section.settings.uv-outdoor-time-1}}">
              <span class="inputspan">{{section.settings.uv-outdoor-time-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvoutdoortime" data-id="A1" name="uvoutdoortime" value="{{section.settings.uv-outdoor-time-2}}">
              <span class="inputspan">{{section.settings.uv-outdoor-time-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvoutdoortime" data-id="A2" name="uvoutdoortime" value="{{section.settings.uv-outdoor-time-3}}">
              <span class="inputspan">{{section.settings.uv-outdoor-time-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvoutdoortime" data-id="A3" name="uvoutdoortime" value="{{section.settings.uv-outdoor-time-4}}">
              <span class="inputspan">{{section.settings.uv-outdoor-time-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvoutdoortime" data-id="A4" name="uvoutdoortime" value="{{section.settings.uv-outdoor-time-5}}">
              <span class="inputspan">{{section.settings.uv-outdoor-time-5}}</span>
            </label>
          </div>
        </div>
        <div id="airquality-next3" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
