<div id="uv-1" class="hiddendiv questionmain">
  <div class="uv-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">21</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    {% include "uv-image"%}
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How much time do you spend with digital devices?</h1>
        <p>(We ask this because digital sources of light can affect your skin)</p>
        <div class="inputsec">
          <div class="with100ass" id="uvinput1">
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvdigitaldevicehour" data-id="A0" name="uvdigitaldevicehour" value="{{section.settings.uv-digital-device-hour-1}}">
              <span class="inputspan">{{section.settings.uv-digital-device-hour-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvdigitaldevicehour" data-id="A1" name="uvdigitaldevicehour" value="{{section.settings.uv-digital-device-hour-2}}">
              <span class="inputspan">{{section.settings.uv-digital-device-hour-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvdigitaldevicehour" data-id="A2" name="uvdigitaldevicehour" value="{{section.settings.uv-digital-device-hour-3}}">
              <span class="inputspan">{{section.settings.uv-digital-device-hour-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvdigitaldevicehour" data-id="A3" name="uvdigitaldevicehour" value="{{section.settings.uv-digital-device-hour-4}}">
              <span class="inputspan">{{section.settings.uv-digital-device-hour-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore uvdigitaldevicehour" data-id="A4" name="uvdigitaldevicehour" value="{{section.settings.uv-digital-device-hour-5}}">
              <span class="inputspan">{{section.settings.uv-digital-device-hour-5}}</span>
            </label>
<!--             <label class="formlabelhalf">
              <input type="radio" class="radiore uvdigitaldevicehour" name="uvdigitaldevicehour" value="{{section.settings.uv-digital-device-hour-6}}">
              <span class="inputspan">{{section.settings.uv-digital-device-hour-6}}</span>
            </label> -->
          </div>
        </div>
        <div id="uv-next1" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
