<div id="exercise-1" class="hiddendiv questionmain">
  <div class="exercise-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">27</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 56 52" style="enable-background:new 0 0 56 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <g>
            <path class="st0" d="M28,52L4.8,27.7c-0.2-0.2-0.4-0.4-0.5-0.6l-0.4-0.4C1.4,23.7,0,19.9,0,16.1C0,7.2,6.9,0,15.4,0
                                 c5,0,9.7,2.6,12.6,6.8C30.9,2.6,35.6,0,40.6,0C49.1,0,56,7.1,56,16.1c0,3.9-1.4,7.6-3.9,10.6l0,0l-0.3,0.4
                                 c-0.2,0.2-0.4,0.4-0.6,0.6L28,52z M15.4,2C8,2,2,8.2,2,16.1c0,3.5,1.2,6.7,3.4,9.3l0.3,0.4C5.8,26,6,26.1,6.2,26.3L28,49.1
                                 l21.8-22.8c0.2-0.2,0.3-0.4,0.5-0.5l0.3-0.4c2.2-2.6,3.4-6,3.4-9.3C54,8.3,48,2,40.6,2c-4.9,0-9.3,2.8-11.7,7.2L28,10.9l-0.9-1.7
                                 C24.7,4.8,20.3,2,15.4,2z M51.4,26.1L51.4,26.1L51.4,26.1z"/>
          </g>
          <g>
            <polygon class="st0" points="31.7,29.9 20.8,18.7 15.8,23.8 10.9,23.8 10.9,21.8 15,21.8 20.8,15.8 31.7,27 36.7,21.8 45.1,21.8 
                                         45.1,23.8 37.6,23.8 		"/>
          </g>
        </g>
      </svg>
    </div>
    <p>EXERCISE</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">What's involved in your typical workout?</h1>
        <p>(Select all that apply)</p>
        <div class="inputsec">

          <div class="with100ass" id="exerciseinput1">
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore exercisekind-1" data-id="A0" name="exercisekind-1" value="{{section.settings.exercise-kind-1}}">
              <span class="inputspan">{{section.settings.exercise-kind-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore exercisekind-2" data-id="A1" name="exercisekind-2" value="{{section.settings.exercise-kind-2}}">
              <span class="inputspan">{{section.settings.exercise-kind-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore exercisekind-3" data-id="A2" name="exercisekind-3" value="{{section.settings.exercise-kind-3}}">
              <span class="inputspan">{{section.settings.exercise-kind-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore exercisekind-4" data-id="A3" name="exercisekind-4" value="{{section.settings.exercise-kind-4}}">
              <span class="inputspan">{{section.settings.exercise-kind-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore exercisekind-5" data-id="A4" name="exercisekind-5" value="{{section.settings.exercise-kind-5}}">
              <span class="inputspan">{{section.settings.exercise-kind-5}}</span>
            </label>
          </div>
        </div>
        <div id="exercise-next1" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div> 
<div id="exercise-2" class="hiddendiv questionmain">
  <div class="exercise-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">28</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 56 52" style="enable-background:new 0 0 56 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <g>
            <path class="st0" d="M28,52L4.8,27.7c-0.2-0.2-0.4-0.4-0.5-0.6l-0.4-0.4C1.4,23.7,0,19.9,0,16.1C0,7.2,6.9,0,15.4,0
                                 c5,0,9.7,2.6,12.6,6.8C30.9,2.6,35.6,0,40.6,0C49.1,0,56,7.1,56,16.1c0,3.9-1.4,7.6-3.9,10.6l0,0l-0.3,0.4
                                 c-0.2,0.2-0.4,0.4-0.6,0.6L28,52z M15.4,2C8,2,2,8.2,2,16.1c0,3.5,1.2,6.7,3.4,9.3l0.3,0.4C5.8,26,6,26.1,6.2,26.3L28,49.1
                                 l21.8-22.8c0.2-0.2,0.3-0.4,0.5-0.5l0.3-0.4c2.2-2.6,3.4-6,3.4-9.3C54,8.3,48,2,40.6,2c-4.9,0-9.3,2.8-11.7,7.2L28,10.9l-0.9-1.7
                                 C24.7,4.8,20.3,2,15.4,2z M51.4,26.1L51.4,26.1L51.4,26.1z"/>
          </g>
          <g>
            <polygon class="st0" points="31.7,29.9 20.8,18.7 15.8,23.8 10.9,23.8 10.9,21.8 15,21.8 20.8,15.8 31.7,27 36.7,21.8 45.1,21.8 
                                         45.1,23.8 37.6,23.8 		"/>
          </g>
        </g>
      </svg>
    </div>
    <p>EXERCISE</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How much exercise did you get last week?</h1>
        <p>(Use your weekly average if last week wasn't the norm)</p>
        <div class="inputsec">
          <div class="with100ass" id="exerciseinput2">
            <label class="formlabelhalf">
              <input type="radio" class="radiore exerciselastmonth" data-id="A0" name="exerciselastmonth" value="{{section.settings.exercise-last-month-1}}">
              <span class="inputspan">{{section.settings.exercise-last-month-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore exerciselastmonth" data-id="A1" name="exerciselastmonth" value="{{section.settings.exercise-last-month-2}}">
              <span class="inputspan">{{section.settings.exercise-last-month-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore exerciselastmonth" data-id="A2" name="exerciselastmonth" value="{{section.settings.exercise-last-month-3}}">
              <span class="inputspan">{{section.settings.exercise-last-month-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore exerciselastmonth" data-id="A3" name="exerciselastmonth" value="{{section.settings.exercise-last-month-4}}">
              <span class="inputspan">{{section.settings.exercise-last-month-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore exerciselastmonth" data-id="A4" name="exerciselastmonth" value="{{section.settings.exercise-last-month-5}}">
              <span class="inputspan">{{section.settings.exercise-last-month-5}}</span>
            </label>
          </div>
        </div>
        <div id="exercise-next2" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>