<div id="nutrition-1" class="hiddendiv questionmain">
  <div class="nutrition-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">22</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 56 60" style="enable-background:new 0 0 56 60;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M51.8,19c-3.3-4.5-8.4-6.9-14.6-6.9c-2.9,0-5.8,0.9-8.4,2.6l-0.4,0.2v-0.1c-0.5-2.2-0.9-6.2,0.7-8.8
                               c1.5-2.2,4.4-3.3,6.6-3.7c0.3,1.6,0.4,3.7,0,5.6l2,0.4c0.6-2.6,0.2-5.5-0.2-7.4L37.3,0l-0.9,0.2C34,0.6,29.6,1.7,27.5,5
                               c-1.8,2.8-1.6,6.6-1.2,9.2c-2.3-1.3-4.9-2-7.5-2C5.8,12.2,0,22.6,0,32.8C0,38.2,2.2,45,5.8,50.5c3.9,6,8.6,9.5,12.9,9.5
                               c1.8,0,4.4-0.9,6.2-1.6c1.4-0.5,2.3-0.8,3-0.8s1.7,0.3,3.1,0.9c1.8,0.7,4.3,1.5,6.1,1.5c4.3,0,9-3.5,12.9-9.5
                               c3.8-5.5,6-12.3,6-17.7C56,27.6,54.5,22.7,51.8,19z M37.2,58.1c-1.5,0-3.7-0.8-5.4-1.4c-1.6-0.6-2.7-1-3.8-1c-1,0-2,0.4-3.7,1
                               c-1.7,0.6-4,1.4-5.5,1.4C10.8,58.1,2,43,2,32.8c0-9.3,5.2-18.7,16.8-18.7c2.5,0,5.1,0.8,7.3,2.2l1.9,1.3l1.9-1.3
                               c2.2-1.5,4.7-2.2,7.3-2.2C49.6,14.2,54,24.3,54,32.8C54,43,45.2,58.1,37.2,58.1z"/>
          <path class="st0" d="M7.9,30.1h2c0-4.4,3.6-8,8-8v-2C12.4,20.2,7.9,24.7,7.9,30.1z"/>
        </g>
      </svg>
    </div>
    <p>NUTRITION</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How many glasses of water do you drink each day?</h1>
        <p>(1 glass = 8 ounces. If your intake varies, use the average number of glasses.)</p>
        <div class="inputsec">
          <div class="with100ass" id="nutriinput1">
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkwater" data-id="A0" name="dailydrinkwater" value="Under 4 glasses /day">
              <span class="inputspan">4 or less</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkwater" data-id="A1" name="dailydrinkwater" value="5-7 glasses /day">
              <span class="inputspan">5 to 7</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkwater" data-id="A2" name="dailydrinkwater" value="8-10 glasses /day">
              <span class="inputspan">8 to 10</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkwater" data-id="A3" name="dailydrinkwater" value="11-13 glasses /day">
              <span class="inputspan">11 to 13</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkwater" data-id="A4" name="dailydrinkwater" value="14 or more">
              <span class="inputspan">14 or more</span>
            </label>
          </div>
        </div>
        <div id="nutrition-next1" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="nutrition-2" class="hiddendiv questionmain">
  <div class="nutrition-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">23</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 56 60" style="enable-background:new 0 0 56 60;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M51.8,19c-3.3-4.5-8.4-6.9-14.6-6.9c-2.9,0-5.8,0.9-8.4,2.6l-0.4,0.2v-0.1c-0.5-2.2-0.9-6.2,0.7-8.8
                               c1.5-2.2,4.4-3.3,6.6-3.7c0.3,1.6,0.4,3.7,0,5.6l2,0.4c0.6-2.6,0.2-5.5-0.2-7.4L37.3,0l-0.9,0.2C34,0.6,29.6,1.7,27.5,5
                               c-1.8,2.8-1.6,6.6-1.2,9.2c-2.3-1.3-4.9-2-7.5-2C5.8,12.2,0,22.6,0,32.8C0,38.2,2.2,45,5.8,50.5c3.9,6,8.6,9.5,12.9,9.5
                               c1.8,0,4.4-0.9,6.2-1.6c1.4-0.5,2.3-0.8,3-0.8s1.7,0.3,3.1,0.9c1.8,0.7,4.3,1.5,6.1,1.5c4.3,0,9-3.5,12.9-9.5
                               c3.8-5.5,6-12.3,6-17.7C56,27.6,54.5,22.7,51.8,19z M37.2,58.1c-1.5,0-3.7-0.8-5.4-1.4c-1.6-0.6-2.7-1-3.8-1c-1,0-2,0.4-3.7,1
                               c-1.7,0.6-4,1.4-5.5,1.4C10.8,58.1,2,43,2,32.8c0-9.3,5.2-18.7,16.8-18.7c2.5,0,5.1,0.8,7.3,2.2l1.9,1.3l1.9-1.3
                               c2.2-1.5,4.7-2.2,7.3-2.2C49.6,14.2,54,24.3,54,32.8C54,43,45.2,58.1,37.2,58.1z"/>
          <path class="st0" d="M7.9,30.1h2c0-4.4,3.6-8,8-8v-2C12.4,20.2,7.9,24.7,7.9,30.1z"/>
        </g>
      </svg>
    </div>
    <p>NUTRITION</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How much alcohol do you consume in a week?</h1>
        <p>(Select one)</p>
        <div class="inputsec">
          <div class="with100ass" id="nutriinput2">
            <label class="formlabelhalf">
              <input type="radio" class="radiore weeklydrinkalcohol" data-id="A0" name="weeklydrinkalcohol" value="{{section.settings.weekly-alcohol-drink-1}}">
              <span class="inputspan">{{section.settings.weekly-alcohol-drink-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore weeklydrinkalcohol" data-id="A1" name="weeklydrinkalcohol" value="{{section.settings.weekly-alcohol-drink-2}}">
              <span class="inputspan">{{section.settings.weekly-alcohol-drink-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore weeklydrinkalcohol" data-id="A2" name="weeklydrinkalcohol" value="{{section.settings.weekly-alcohol-drink-3}}">
              <span class="inputspan">{{section.settings.weekly-alcohol-drink-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore weeklydrinkalcohol" data-id="A3" name="weeklydrinkalcohol" value="{{section.settings.weekly-alcohol-drink-4}}">
              <span class="inputspan">{{section.settings.weekly-alcohol-drink-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore weeklydrinkalcohol" data-id="A4" name="weeklydrinkalcohol" value="{{section.settings.weekly-alcohol-drink-5}}">
              <span class="inputspan">{{section.settings.weekly-alcohol-drink-5}}</span>
            </label>
          </div>
        </div>
        <div id="nutrition-next2" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="nutrition-3" class="hiddendiv questionmain ">
  <div class="nutrition-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">24</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 56 60" style="enable-background:new 0 0 56 60;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M51.8,19c-3.3-4.5-8.4-6.9-14.6-6.9c-2.9,0-5.8,0.9-8.4,2.6l-0.4,0.2v-0.1c-0.5-2.2-0.9-6.2,0.7-8.8
                               c1.5-2.2,4.4-3.3,6.6-3.7c0.3,1.6,0.4,3.7,0,5.6l2,0.4c0.6-2.6,0.2-5.5-0.2-7.4L37.3,0l-0.9,0.2C34,0.6,29.6,1.7,27.5,5
                               c-1.8,2.8-1.6,6.6-1.2,9.2c-2.3-1.3-4.9-2-7.5-2C5.8,12.2,0,22.6,0,32.8C0,38.2,2.2,45,5.8,50.5c3.9,6,8.6,9.5,12.9,9.5
                               c1.8,0,4.4-0.9,6.2-1.6c1.4-0.5,2.3-0.8,3-0.8s1.7,0.3,3.1,0.9c1.8,0.7,4.3,1.5,6.1,1.5c4.3,0,9-3.5,12.9-9.5
                               c3.8-5.5,6-12.3,6-17.7C56,27.6,54.5,22.7,51.8,19z M37.2,58.1c-1.5,0-3.7-0.8-5.4-1.4c-1.6-0.6-2.7-1-3.8-1c-1,0-2,0.4-3.7,1
                               c-1.7,0.6-4,1.4-5.5,1.4C10.8,58.1,2,43,2,32.8c0-9.3,5.2-18.7,16.8-18.7c2.5,0,5.1,0.8,7.3,2.2l1.9,1.3l1.9-1.3
                               c2.2-1.5,4.7-2.2,7.3-2.2C49.6,14.2,54,24.3,54,32.8C54,43,45.2,58.1,37.2,58.1z"/>
          <path class="st0" d="M7.9,30.1h2c0-4.4,3.6-8,8-8v-2C12.4,20.2,7.9,24.7,7.9,30.1z"/>
        </g>
      </svg>
    </div>
    <p>NUTRITION</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">Any dietary restrictions?</h1>
        <p>(Select all that apply)</p>
        <div class="inputsec">
          <div class="with100ass" id="nutriinput3">
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore youcantlivewithout1" data-id="A0" name="youcantlivewithout-1" value="Vegan">
              <span class="inputspan">Vegan</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore youcantlivewithout2" data-id="A1" name="youcantlivewithout-2" value="Dairy free">
              <span class="inputspan">Dairy-free</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore youcantlivewithout3" data-id="A2" name="youcantlivewithout-3" value="Vegetarian">
              <span class="inputspan">Vegetarian</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore youcantlivewithout4" data-id="A3" name="youcantlivewithout-4" value="Pescatarian">
              <span class="inputspan">Pescatarian</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore youcantlivewithout5" data-id="A4" name="youcantlivewithout-5" value="Gluten free">
              <span class="inputspan">Gluten-free</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore youcantlivewithout6" data-id="A5" name="youcantlivewithout-6" value="I eat everything">
              <span class="inputspan">I don't have restrictions</span>
            </label>
          </div>
        </div>
        <div id="nutrition-next3" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="nutrition-4" class="hiddendiv questionmain">
  <div class="nutrition-bg">

    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">25</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 56 60" style="enable-background:new 0 0 56 60;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M51.8,19c-3.3-4.5-8.4-6.9-14.6-6.9c-2.9,0-5.8,0.9-8.4,2.6l-0.4,0.2v-0.1c-0.5-2.2-0.9-6.2,0.7-8.8
                               c1.5-2.2,4.4-3.3,6.6-3.7c0.3,1.6,0.4,3.7,0,5.6l2,0.4c0.6-2.6,0.2-5.5-0.2-7.4L37.3,0l-0.9,0.2C34,0.6,29.6,1.7,27.5,5
                               c-1.8,2.8-1.6,6.6-1.2,9.2c-2.3-1.3-4.9-2-7.5-2C5.8,12.2,0,22.6,0,32.8C0,38.2,2.2,45,5.8,50.5c3.9,6,8.6,9.5,12.9,9.5
                               c1.8,0,4.4-0.9,6.2-1.6c1.4-0.5,2.3-0.8,3-0.8s1.7,0.3,3.1,0.9c1.8,0.7,4.3,1.5,6.1,1.5c4.3,0,9-3.5,12.9-9.5
                               c3.8-5.5,6-12.3,6-17.7C56,27.6,54.5,22.7,51.8,19z M37.2,58.1c-1.5,0-3.7-0.8-5.4-1.4c-1.6-0.6-2.7-1-3.8-1c-1,0-2,0.4-3.7,1
                               c-1.7,0.6-4,1.4-5.5,1.4C10.8,58.1,2,43,2,32.8c0-9.3,5.2-18.7,16.8-18.7c2.5,0,5.1,0.8,7.3,2.2l1.9,1.3l1.9-1.3
                               c2.2-1.5,4.7-2.2,7.3-2.2C49.6,14.2,54,24.3,54,32.8C54,43,45.2,58.1,37.2,58.1z"/>
          <path class="st0" d="M7.9,30.1h2c0-4.4,3.6-8,8-8v-2C12.4,20.2,7.9,24.7,7.9,30.1z"/>
        </g>
      </svg>
    </div>
    <p>NUTRITION</p>
     <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">What shows up most often on your plate?</h1>
        <p>(Diet can affect your skin. Select all that apply)</p>
        <div class="inputsec">
          <div class="with100ass" id="nutriinput4">
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore fruitandvegeatdaily1" data-id="A0" name="fruitandvegeatdaily-1" value="Cheese">
              <span class="inputspan">Cheese</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore fruitandvegeatdaily2" data-id="A1" name="fruitandvegeatdaily-2" value="Eggs">
              <span class="inputspan">Eggs</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore fruitandvegeatdaily3" data-id="A2" name="fruitandvegeatdaily-3" value="Poultry">
              <span class="inputspan">Poultry</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore fruitandvegeatdaily4" data-id="A3" name="fruitandvegeatdaily-4" value="Fruits and Veggies">
              <span class="inputspan">Fruits and Veggies</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore fruitandvegeatdaily5" data-id="A4" name="fruitandvegeatdaily-5" value="Grains and Breads">
              <span class="inputspan">Grains and Breads</span>
            </label>
             <label class="formlabelhalf">
              <input type="checkbox" class="radiore fruitandvegeatdaily6" data-id="A5" name="fruitandvegeatdaily-6" value="None of these">
              <span class="inputspan">None of these</span>
            </label>
          </div>
        </div>
        <div id="nutrition-next4" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="nutrition-5" class="hiddendiv questionmain ">
  <div class="nutrition-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">26</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 

    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 56 60" style="enable-background:new 0 0 56 60;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M51.8,19c-3.3-4.5-8.4-6.9-14.6-6.9c-2.9,0-5.8,0.9-8.4,2.6l-0.4,0.2v-0.1c-0.5-2.2-0.9-6.2,0.7-8.8
                               c1.5-2.2,4.4-3.3,6.6-3.7c0.3,1.6,0.4,3.7,0,5.6l2,0.4c0.6-2.6,0.2-5.5-0.2-7.4L37.3,0l-0.9,0.2C34,0.6,29.6,1.7,27.5,5
                               c-1.8,2.8-1.6,6.6-1.2,9.2c-2.3-1.3-4.9-2-7.5-2C5.8,12.2,0,22.6,0,32.8C0,38.2,2.2,45,5.8,50.5c3.9,6,8.6,9.5,12.9,9.5
                               c1.8,0,4.4-0.9,6.2-1.6c1.4-0.5,2.3-0.8,3-0.8s1.7,0.3,3.1,0.9c1.8,0.7,4.3,1.5,6.1,1.5c4.3,0,9-3.5,12.9-9.5
                               c3.8-5.5,6-12.3,6-17.7C56,27.6,54.5,22.7,51.8,19z M37.2,58.1c-1.5,0-3.7-0.8-5.4-1.4c-1.6-0.6-2.7-1-3.8-1c-1,0-2,0.4-3.7,1
                               c-1.7,0.6-4,1.4-5.5,1.4C10.8,58.1,2,43,2,32.8c0-9.3,5.2-18.7,16.8-18.7c2.5,0,5.1,0.8,7.3,2.2l1.9,1.3l1.9-1.3
                               c2.2-1.5,4.7-2.2,7.3-2.2C49.6,14.2,54,24.3,54,32.8C54,43,45.2,58.1,37.2,58.1z"/>
          <path class="st0" d="M7.9,30.1h2c0-4.4,3.6-8,8-8v-2C12.4,20.2,7.9,24.7,7.9,30.1z"/>
        </g>
      </svg>
    </div>
    <p>NUTRITION</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How do you 'treat yourself'?</h1>
        <p>(Select all that apply)</p>
        <div class="inputsec">
          <div class="with100ass" id="nutriinput5">
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore eatmorethanXXaweek1" data-id="A0" name="eatmorethanXXaweek-1" value="Chocolate, candy, cake">
              <span class="inputspan">Chocolate, candy, cake</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore eatmorethanXXaweek2" data-id="A1" name="eatmorethanXXaweek-2" value="Fried or buttery delights">
              <span class="inputspan">Fried or buttery delights</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore eatmorethanXXaweek3" data-id="A2" name="eatmorethanXXaweek-3" value="Beer or hard liquor">
              <span class="inputspan">Beer or hard liquor</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore eatmorethanXXaweek4" data-id="A3" name="eatmorethanXXaweek-4" value="Wine">
              <span class="inputspan">Wine</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore eatmorethanXXaweek5" data-id="A4" name="eatmorethanXXaweek-5" value="Salty snacks">
              <span class="inputspan">Salty snacks</span>
            </label>
            <label class="formlabelhalf">
              <input type="checkbox" class="radiore eatmorethanXXaweek6" data-id="A5" name="eatmorethanXXaweek-6" value="None of these">
              <span class="inputspan">None of these</span>
            </label>
          </div>
        </div>
        <div id="nutrition-next5" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>

