
<div id="mind-1" class="hiddendiv questionmain">
  <div class="mind-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">20</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M26.3,52C11.9,52,0,40.2,0,25.7C0,14,7.5,3.9,18.6,0.5L20.4,0l-0.5,1.8c-0.7,2.3-1.1,4.7-1.1,7
                               c0,13.4,10.9,24.4,24.4,24.4c2.4,0,4.8-0.4,7-1.1l1.8-0.5l-0.5,1.8C48.1,44.6,38,52,26.3,52z M17.5,3.1C8.2,6.6,2.1,15.6,2.1,25.8
                               c0,13.4,10.9,24.4,24.4,24.4c10.2,0,19.1-6.1,22.7-15.6c-1.9,0.4-3.9,0.7-5.8,0.7c-14.5,0-26.3-11.8-26.3-26.3
                               C16.9,6.9,17.1,5,17.5,3.1z"/>
        </g>
      </svg>
    </div>
    <p>MIND</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How often do you feel overwhelmed by stress?</h1>
        <p>(This helps us understand how your cortisol levels affect your skin)</p>
        <div class="inputsec">
          <div class="with100ass" id="mindinput1">
            <label class="formlabelhalf">
              <input type="radio" class="radiore oftenaffectedbystress" data-id="A0" name="oftenaffectedbystress" value="{{section.settings.affected-by-stress-1}}">
              <span class="inputspan">{{section.settings.affected-by-stress-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore oftenaffectedbystress" data-id="A2" name="oftenaffectedbystress" value="{{section.settings.affected-by-stress-2}}">
              <span class="inputspan">{{section.settings.affected-by-stress-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore oftenaffectedbystress" data-id="A3" name="oftenaffectedbystress" value="{{section.settings.affected-by-stress-3}}">
              <span class="inputspan">{{section.settings.affected-by-stress-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore oftenaffectedbystress" data-id="A4" name="oftenaffectedbystress" value="{{section.settings.affected-by-stress-4}}">
              <span class="inputspan">{{section.settings.affected-by-stress-4}}</span>
            </label>
<!--             <label class="formlabelhalf">
              <input type="radio" class="radiore oftenaffectedbystress" name="oftenaffectedbystress" value="{{section.settings.affected-by-stress-5}}">
              <span class="inputspan">{{section.settings.affected-by-stress-5}}</span>
            </label> -->
          </div>
        </div>
        <div id="mind-next1" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>