
<div id="sleep-1" class="hiddendiv questionmain">
  <div class="sleep-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">17</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1___-523518381" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M26.3,52C11.9,52,0,40.2,0,25.7C0,14,7.5,3.9,18.6,0.5L20.4,0l-0.5,1.8c-0.7,2.3-1.1,4.7-1.1,7
                               c0,13.4,10.9,24.4,24.4,24.4c2.4,0,4.8-0.4,7-1.1l1.8-0.5l-0.5,1.8C48.1,44.6,38,52,26.3,52z M17.5,3.1C8.2,6.6,2.1,15.6,2.1,25.8
                               c0,13.4,10.9,24.4,24.4,24.4c10.2,0,19.1-6.1,22.7-15.6c-1.9,0.4-3.9,0.7-5.8,0.7c-14.5,0-26.3-11.8-26.3-26.3
                               C16.9,6.9,17.1,5,17.5,3.1z"></path>
        </g>
      </svg>
    </div>
    <p>SLEEP</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How much sleep are you getting each night?</h1>
        <p>(Use your weekly average if your sleep pattern varies)</p>
        <div class="inputsec">
          <div class="with100ass" id="sleepinput1">
            <label class="formlabelhalf">
              <input type="radio" class="radiore typicalnightsleepinghours" data-id="A0" name="typicalnightsleepinghours" value="{{section.settings.sleep-on-typical-night-1}}">
              <span class="inputspan">{{section.settings.sleep-on-typical-night-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore typicalnightsleepinghours" data-id="A1" name="typicalnightsleepinghours" value="{{section.settings.sleep-on-typical-night-2}}">
              <span class="inputspan">{{section.settings.sleep-on-typical-night-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore typicalnightsleepinghours" data-id="A2" name="typicalnightsleepinghours" value="{{section.settings.sleep-on-typical-night-3}}">
              <span class="inputspan">{{section.settings.sleep-on-typical-night-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore typicalnightsleepinghours" data-id="A3" name="typicalnightsleepinghours" value="{{section.settings.sleep-on-typical-night-4}}">
              <span class="inputspan">{{section.settings.sleep-on-typical-night-4}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore typicalnightsleepinghours" data-id="A4" name="typicalnightsleepinghours" value="{{section.settings.sleep-on-typical-night-5}}">
              <span class="inputspan">{{section.settings.sleep-on-typical-night-5}}</span>
            </label>

          </div>
        </div>
        <div id="sleep-next1" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="sleep-2" class="hiddendiv questionmain">
  <div class="sleep-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">18</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1___-523518381" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M26.3,52C11.9,52,0,40.2,0,25.7C0,14,7.5,3.9,18.6,0.5L20.4,0l-0.5,1.8c-0.7,2.3-1.1,4.7-1.1,7
                               c0,13.4,10.9,24.4,24.4,24.4c2.4,0,4.8-0.4,7-1.1l1.8-0.5l-0.5,1.8C48.1,44.6,38,52,26.3,52z M17.5,3.1C8.2,6.6,2.1,15.6,2.1,25.8
                               c0,13.4,10.9,24.4,24.4,24.4c10.2,0,19.1-6.1,22.7-15.6c-1.9,0.4-3.9,0.7-5.8,0.7c-14.5,0-26.3-11.8-26.3-26.3
                               C16.9,6.9,17.1,5,17.5,3.1z"></path>
        </g>
      </svg>
    </div>
    <p>SLEEP</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How do you feel when you wake up?</h1>
        <p>(Select the option that reflects how you feel most often)</p>
        <div class="inputsec">
          <div class="with100ass" id="sleepinput2">
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelwhenwakeupmorning" data-id="A0" name="feelwhenwakeupmorning" value="{{section.settings.feel-wakeup-morn-1}}">
              <span class="inputspan">{{section.settings.feel-wakeup-morn-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelwhenwakeupmorning" data-id="A1" name="feelwhenwakeupmorning" value="{{section.settings.feel-wakeup-morn-2}}">
              <span class="inputspan">{{section.settings.feel-wakeup-morn-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelwhenwakeupmorning" data-id="A2" name="feelwhenwakeupmorning" value="{{section.settings.feel-wakeup-morn-3}}">
              <span class="inputspan">{{section.settings.feel-wakeup-morn-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore feelwhenwakeupmorning" data-id="A3" name="feelwhenwakeupmorning" value="{{section.settings.feel-wakeup-morn-4}}">
              <span class="inputspan">{{section.settings.feel-wakeup-morn-4}}</span>
            </label>
          </div>
        </div>
        <div id="sleep-next2" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
<div id="sleep-3" class="hiddendiv questionmain">
  <div class="sleep-bg">
    <div class="topsection with100ass"> 
      <span class="backre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
        </svg>
      </span>
      <span class="count">Question <span class="pageno">19</span> of 28</span>
      <span class="closere">
        <a href="/">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 33.4 33.4" enable-background="new 0 0 33.4 33.4" xml:space="preserve">
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="0.7" x2="32.7" y2="32.7"/>
            <line fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" x1="0.7" y1="32.7" x2="32.7" y2="0.7"/>
          </svg>
        </a>
      </span>
    </div> 
    <div class="about-image">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1___-523518381" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#fff;}
        </style>
        <g>
          <path class="st0" d="M26.3,52C11.9,52,0,40.2,0,25.7C0,14,7.5,3.9,18.6,0.5L20.4,0l-0.5,1.8c-0.7,2.3-1.1,4.7-1.1,7
                               c0,13.4,10.9,24.4,24.4,24.4c2.4,0,4.8-0.4,7-1.1l1.8-0.5l-0.5,1.8C48.1,44.6,38,52,26.3,52z M17.5,3.1C8.2,6.6,2.1,15.6,2.1,25.8
                               c0,13.4,10.9,24.4,24.4,24.4c10.2,0,19.1-6.1,22.7-15.6c-1.9,0.4-3.9,0.7-5.8,0.7c-14.5,0-26.3-11.8-26.3-26.3
                               C16.9,6.9,17.1,5,17.5,3.1z"></path>
        </g>
      </svg>
    </div>
    <p>SLEEP</p>
    <div class="root">
      <div class="mainstructure">
        <h1 class="headclass-reco">How many caffeinated beverages do you drink daily?</h1>
        <p>(Coffee, tea, soda, and energy drinks count)</p>
        <div class="inputsec">
          <div class="with100ass" id="sleepinput3">
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkcaffeinated" data-id="A0" name="dailydrinkcaffeinated" value="{{section.settings.daily-drink-caffeinated-1}}">
              <span class="inputspan">{{section.settings.daily-drink-caffeinated-1}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkcaffeinated" data-id="A1" name="dailydrinkcaffeinated" value="{{section.settings.daily-drink-caffeinated-2}}">
              <span class="inputspan">{{section.settings.daily-drink-caffeinated-2}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkcaffeinated" data-id="A2" name="dailydrinkcaffeinated" value="{{section.settings.daily-drink-caffeinated-3}}">
              <span class="inputspan">{{section.settings.daily-drink-caffeinated-3}}</span>
            </label>
            <label class="formlabelhalf">
              <input type="radio" class="radiore dailydrinkcaffeinated" data-id="A3" name="dailydrinkcaffeinated" value="{{section.settings.daily-drink-caffeinated-4}}">
              <span class="inputspan">{{section.settings.daily-drink-caffeinated-4}}</span>
            </label>

          </div>
        </div>
        <div id="sleep-next3" class="nxtbtn">Next</div>
      </div>
    </div>
  </div>
</div>
