<div id="savemodel" class="modal cus-model">
  <a class="md-close" href="#" rel="modal:close">X</a>
  <div id="with-out-login">
  <div class="model-hd-title text-center">Save my progress</div>
  <div class="second-text">Just enter a few details below to save your personalized diagnostic and regimen to come back to later.</div>
   {% form 'create_customer' %}
  <div class="forms">
    <div class="fr-in">
      <span class="md-span"><label>WHAT'S YOUR EMAIL ADDRESS?</label></span>
      <input type="email" class="input-email" id="reg-email" name="customer[email]"  placeholder="Enter email address" required>
      <p id="em-error" class="md-error"></p>
    </div>
    <div class="se-in">
      <span class="md-span"><label>CREATE A PASSWORD</label></span>
      <input type="password" id="reg-pass" name="customer[password]" min="8" max="20" placeholder="Minimum of 8 characters" required>
      <p id="em-pass" class="md-error"></p>
    </div>
    <button class="model-button popup-bt" id="savemodel-btn" onclick="return Registercustomer();" type="button">SAVE MY PROGRESS</button>
  </div>
   {% endform %}
  <div class="model-note">By proceeding, we understand you’re happy for us to user your data as part of the Skinsei service.<br/>Read more on our <a href="#" class="md-jy">Privacy Policy.</a></div>
  <div class="login-link model-note">Already have an account?<a href="/account/login" class="md-jy" id="login-links">Sign in</a></div>  
  </div>
  <div id="save-and-show" style="display:none;">
     <div class="model-hd-title text-center">Your progress has been saved!</div>
     <div class="second-text">You can now login at any time to see your diagnostic results and personlized product regimen kit.</div>
     <button class="model-button popup-bt" id="back-reg-btn" type="button">BACK TO MY REGIMEN</button>
  </div>
  <div id="data-not-found" style="display:none;"><div class="model-hd-title text-center">No any data Found !</div></div>
  <div id="allready-register" style="display:none;">This Request All Ready Register another customer!</div>
</div>
<script>
$(document).ready(function(){  
  $("input#reg-email").focusout(function(){
    var email_val = $(this).val(),
     	reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        if (reg.test(email_val) == false) 
        {
            $(this).addClass("input-error");
            $("p#em-error").show();
            $("p#em-error").text("Please provide a valid email address");
          	return false;
        }else if(reg.test(email_val) == true) {
           $(this).removeClass("input-error");
           $("p#em-error").hide();
           return true;
        }
  });
  $("input#reg-pass").focusout(function(){
    var pas_val = $(this).val();//.value.length;
    	if(pas_val.length < 9){
    		  $(this).addClass("input-error");
              $("p#em-pass").show();
              $("p#em-pass").text("Please Create w password with a minimum of 8 characters");
          	  return false;
        } else {
          	  $(this).removeClass("input-error");
              $("p#em-pass").hide();
          	  return false;
        }
  	});
  $("button#back-reg-btn").click(function(){
     location.href = "/account";
  });
}); 
  /* Login customer Id update */
function customerloginupdate(customer_id){
  	if(getlocalStorage('awsresponces','1') != null){
     var RequestId = getlocalStorage('awsresponces','1').requestId;
     if(RequestId != null && localStorage.getItem('customerid') != customer_id || localStorage.getItem('customerid') == null ){
       	var custString = '{"requestId": "'+RequestId+'", "customerId": "'+ customer_id +'"}';
        localStorage.setItem('lastupId',RequestId);
        var re = updateCustomerId(JSON.parse(custString)); //Customer Id Update
     }
      if(customer_id == localStorage.getItem('customerid')){
      	  $("#save-and-show").show();
          $("#with-out-login").hide();
      }
  }else{
      $("#data-not-found").show();
      $("#with-out-login").hide();
    } 
}  
/* Login Customer Id Update */
</script>