<div class="product-acc-section">
  <div class="ingredients index-section acc-styling" style="padding-top:0px;padding-bottom:0px;">
    <p style="font-size:19px;padding:14px 0px;color: #9a44b2;text-align:center;"><strong>VIEW INGREDIENTS</strong>
      <span class="arrow">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
    		<g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"/></g>
        </svg>
      </span>
    </p> 
    <div class="ingredientscontent">
      {% for variant in product.variants %}
      	<p>{{ variant.title }}</p>
      {% endfor %} 
   </div> 
  </div> 
</div> 