<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    {{ 'https://code.jquery.com/jquery-2.2.4.min.js' | script_tag }}
    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <style>
      .checkout-moneyback {
        width: 50%;
      	margin: 5% auto;
      }
      .product .product__price {
        display: none;
      }
      .order-summary__section {
          padding: 1.5em 1em;
      }
    </style>
  </head>
  <body>
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}
	<div class="sidebar__content">
		{{ content_for_order_summary }}
	</div>
    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>          
        </div>
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
            <div class="checkout-moneyback"><img src="{{ 'Moneyback_Guarantee.png' | asset_url }}" alt="Money Back" /></div>
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
      </div>
    </div>
    {{ tracking_code }}
     <div class="orderid">
      {% for order in customer.orders %}
      	<input type="hidden" class="orderId-details" value="{{ order.id }}" />
        <input type="hidden" class="order-details" value="{{ order.name }}" />
      {% endfor %}
    </div>
     <div class="customerid">
      <input type="hidden" class="customerId-details" value="{{ customer.id }}" />
    </div>
   <script type="text/javascript">  
      $(document).ready(function() {
          
      var RequestId = localStorage.getItem('RequestId'),
          skinseiskincareuser="skinsei",
		  skinseiskincarepasswrd="2018Hunter@@",
       	  custString = '{"requestId": "'+RequestId+'", "customerId": "'+ $('.customerid .customerId-details').val() +'"}';
        
          	localStorage.setItem('lastupId',RequestId);
			updateCustomerId(JSON.parse(custString)); // Customer Id Update
        
      if (window.location.href.indexOf("thank_you") != -1) {
        var orderDet = $('.orderid .orderId-details:first').val();
        var order = $('.orderid .order-details').val()
          $.getJSON("/admin/orders/"+ orderDet +"/transactions.json", function(transactions){
              var TransactionId = transactions.transactions[0].id,
            	  subscriptionId = transactions.transactions[0].order_id;
            	  localStorage.setItem('TransactionId',TransactionId);
              	  localStorage.setItem('subscriptionId',$('.orderid .orderId-details:first').val());
                  localStorage.setItem('customerid',$('.customerid .customerId-details').val());
     
            var custString = '{"requestId": "'+RequestId+'", "customerId": '+ $('.customerid .customerId-details').val() +', "purchase": "yes", "subscriptionId": '+ orderDet +', "subscription": "no", "paymentId" : "'+ TransactionId +'" }';
              	purchase(JSON.parse(custString));
          });
      	  
          magazine();
           
          function magazine(){
              var magId = getlocalStorage('subscriptionId');
              var magcust = '{{ customer.name }}';	
              var magProducts = [];
              if( localStorage.getItem('ORIGINAL_IMAGE')){
              	var bio_image =  localStorage.getItem('ORIGINAL_IMAGE');
              }  
              var magsku = [];
              var order_id = parseInt('{{ checkout.order_id }}');
              var cart_count = parseInt('{{ checkout.item_count }}');
              for (i=0; i<cart_count; i++){
                magsku[i] = getlocalStorage('awsresponces','1').products[i].sku;
              }  
              for (i=0; i<cart_count; i++){
                magProducts[i] = {
                  'product':getlocalStorage('awsresponces','1').products[i].product,
                  'variant':getlocalStorage('awsresponces','1').products[i].variantId,
                  'sku':getlocalStorage('awsresponces','1').products[i].sku,
                  'description': getlocalStorage('product-' +(i+1)),            
                  'whywepicked':getlocalStorage('Blog-' +magsku[i]),
                  'ingredients': getlocalStorage('Ingredient-' +(i+1)),
                  'image': getlocalStorage('URL-' +(i+1)),
                } 
              }  
              var focus_area = [];
              var j = ['SKIN','AQI','CLIMATE'];
              for (i=1; i<4; i++){
                  focus_area[i] = {
                    'name':getlocalStorage('benefit_0' +i),
                    'text':getlocalStorage('Blog-' +j[i-1]),        
                  }
              }

              var magazine_obj = {
                "OrderID": order,
                "Customer Name": magcust,
                "Bioprint Image": bio_image,
                "Product": magProducts,
                "Focus Area": focus_area
              }
              console.log(magazine_obj);
              return magazine_obj;
          } 
          function getlocalStorage(name,values){
            if(values){
              return JSON.parse(localStorage.getItem(name));                
            }
             return localStorage.getItem(name);
          }
      
      	}
        
        function purchase(jsonObj){
     		 $.ajax({
                headers	:	{ 
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': '*',
                'Authorization': 'Basic ' + btoa(skinseiskincareuser+':'+skinseiskincarepasswrd)
            },
            url: "https://www.skinseiskincare.com/api/v1/purchase",
            type: 'POST',
            crossDomain: true,
            data: jsonObj,
            dataType: "json",
            success: function(data) {	
                    console.log(data);
                },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("error");
                console.log(jqXHR.status);
                console.log(textStatus);
                console.log(errorThrown);
            }
          });
		}
        function updateCustomerId(jsonObje){
            $.ajax({
              headers	:	{ 
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': '*',
                'Authorization': 'Basic ' + btoa(skinseiskincareuser+':'+skinseiskincarepasswrd)
              },
              url: "https://www.skinseiskincare.com/api/v1/updateCustomerId",
              type: 'POST',
              crossDomain: true,
              data: jsonObje,
              dataType: "json",
              success: function(data) {	
                		return 'update successfully';
                  }
            });
        }
     });
  </script>
  </body>
</html>
