<div class="page-width custo-review">
  {% if section.settings.title != blank %}
    <div class="text-center">
      <h2 class="h3 headclass">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "home-about-us",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "About us"
      },
	  {
        "type": "text",
        "id": "title-2",
        "label": "Sub Heading"
      },
      {
        "type": "text",
        "id": "title-btn",
        "label": "Button Text",
        "default": "MEET THE TEAM"
      },
      {
        "type": "text",
        "id": "link-btn",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "author-name-1",
        "label": "Author Name 1"
      },
      {
        "type": "text",
        "id": "review-place-1",
        "label": "Review  place 1"
      },
      {
        "type": "textarea",
        "id": "review-content-1",
        "label": "Review  comment 1"
      },
      {
        "type": "image_picker",
        "id": "image-1",
        "label": "Author Image 1"
      },
      {
        "type": "text",
        "id": "author-name-2",
        "label": "Author Name 2"
      },
      {
        "type": "text",
        "id": "review-place-2",
        "label": "Review  place 2"
      },
      {
        "type": "textarea",
        "id": "review-content-2",
        "label": "Review  comment 2"
      },
      {
        "type": "image_picker",
        "id": "image-2",
        "label": "Author Image 2"
      }
    ],
    "presets": [
      {
        "name": "Review",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
