<!--<div class="section-header text-center">
  <h1 class="article__title">{{ article.title }}</h1>
  {% if section.settings.blog_show_author %}
    <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
  {% endif %}

  {% if section.settings.blog_show_date %}
    <span class="article__date">
      {{ article.published_at | time_tag: format: 'month_day_year' }}
    </span>
  {% endif %}
</div>

<div class="rte">
  {{ article.content }}
</div>-->

<!-- custom addition -->
{% assign current_article = article.handle %}
<div class="page-width">
  <h1 class="h1 text-center themecolor" style="padding: 25px; margin: 0px;">{{ article.title }}</h1>
</div>  

                {% if article.image %}
                  {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                  {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                  {% include 'image-style' with image: article.image, small_style: false, width: 905, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

                  <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
                    <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;" class="article__list-image-container">
                      <img id="{{ img_id }}"
                           class="article__list-image lazyload"
                           src="{{ article.image | img_url: '300x300' }}"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                           data-aspectratio="{{ article.image.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{ article.image.alt | escape }}">
                    </a>
                  </div>

                  <noscript>
                    <p>
                      <a href="{{ article.url }}">
                        {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
                      </a>
                    </p>
                  </noscript>
                {% endif %}
<div class="page-width">
  <hr style="border: solid 1px #c1bbbb;margin:10px 0">
</div>  
<div class="page-width">
 <div class="width35 text-center">
       <img src="{{ section.settings.image-1 | img_url: '200x200' }}" style="width: 100%;">
 </div>
 <div class="width65" style="float:right;">
   <p style="padding: 0.4% 3%;">By <u class="themecolor">{{ article.author }}</u></p>
   <p style="padding: 0.4% 3%;">Posted On:  {{ article.published_at | time_tag: format: 'month_day_year' }} </p>
   <p style="padding: 0.4% 3%;">Category: {% for tag in article.tags %} {{ tag }} {% endfor %}
 </div> 
</div> 
<div class="page-width">
  <hr style="border: solid 1px #c1bbbb;margin:10px 0">
</div> 
<div class="page-width">
 <div class="rte">
  {{ article.content }}
`</div>
</div> 
<div class="page-width">
  <hr style="border: solid 1px #c1bbbb;margin:10px 0">
</div>
<div class="page-width">
 <div class="width35 text-center">
       <img src="{{ section.settings.image-1 | img_url: '200x200' }}" style="width: 100%;">
 </div>
 <div class="width65" style="float:right;">
   <p style="padding: 0.4% 3%;">By <u class="themecolor">{{ article.author }}</u></p>
   <p style="padding: 0.4% 3%;">Posted On:  {{ article.published_at | time_tag: format: 'month_day_year' }} </p>
   <p style="padding: 0.4% 3%;">Category: {% for tag in article.tags %} {{ tag }} {% endfor %}
 </div> 
</div> 
<div class="page-width">
  <hr style="border: solid 1px #c1bbbb;margin:10px 0">
</div>

<p style="padding: 3% 7%;font-size:30px"> Related Reading </p>

{% for article in blog.articles limit:2 %}
{% if current_article != article.handle %}
<div class="blog--list-view index-section" style="padding-top:0px;padding-bottom:0px">
      <div class="border-top">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
              <div class="article--listing" style="padding-top:20px;margin-bottom:20px">
                <h2 class="themecolor text-center"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                <!--{% if section.settings.blog_show_author %}
                  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                {% endif %}

                {% if section.settings.blog_show_date %}
                  <span class="article__date">
                    {{ article.published_at | time_tag: format: 'day_month_year' }}
                  </span>
                {% endif %} -->
              </div>
            </div>
          </div>
        </div>  
		  
                {% if article.image %}
                  {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                  {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                  {% include 'image-style' with image: article.image, small_style: false, width: 905, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

                  <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
                    <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;" class="article__list-image-container">
                      <img id="{{ img_id }}"
                           class="article__list-image lazyload"
                           src="{{ article.image | img_url: '300x300' }}"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                           data-aspectratio="{{ article.image.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{ article.image.alt | escape }}">
                    </a>
                  </div>

                  <noscript>
                    <p>
                      <a href="{{ article.url }}">
                        {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
                      </a>
                    </p>
                  </noscript>
                {% endif %}
      <div class="page-width">
        <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
              <div class="article--listing" style="padding-top:20px;margin-bottom:20px">
                <div class="rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    {{ article.content | strip_html | truncate: 150 }}
                  {% endif %}
                </div>
				
                <a href="{{ article.url }}" class="blnk-btn">
                        {{ 'blogs.article.read_more' | t }}
                </a>
                
                {% if article.tags.size > 0 %}
                  <div class="article__tags article__tags--list rte">
                    {{ 'blogs.article.posted_in' | t }}
                    {% for tag in article.tags %}
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}

                <ul class="list--inline article__meta-buttons">
                  {% if article.excerpt.size > 0 %}
                    <li>
                      <a href="{{ article.url }}" class="btn btn--secondary btn--small">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                    </li>
                  {% endif %}

                  {% if blog.comments_enabled? and article.comments_count == 0 %}
                    <li>
                      <a href="{{ article.url }}#comment_form" class="btn btn--secondary btn--small">
                        {{ 'blogs.comments.title' | t }}
                      </a>
                    </li>
                  {% endif %}

                  {% if blog.comments_enabled? and article.comments_count > 0 %}
                    <li>
                      <a href="{{ article.url }}#comments" class="btn btn--secondary btn--small">
                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>  
{% endif %}
{% endfor %}


{% if section.settings.show_share_buttons %}
  {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
{% endif %}

{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": false
      }
    ]
  }
{% endschema %}
