{% paginate blog.articles by 5%}
<div class="page-width">
   <div class="Hero-H1-heading-line text-center m-20">{{ section.settings.blog_title }}</div>
</div>
<div class="img-b"><img src="{{ section.settings.blog_image | img_url : 'medium' }}" style="width: 100%;"></div>
<div class="H2-Hero-Heading text-center m-10">{{ section.settings.blog_subheading }}</div>
<div class="Summary m-20 m-b-30">{{ section.settings.blog_description }}</div>
<div class="line"></div>
<div class="blog-titles m-20 m-t-b-0">Our latest skinsei stories</div>
<div class="blog-titles-sec m-20 m-t-b-0">Showing <b> 1-5 of {{ blog.articles_count }} </b> stories</div>
 <div class="pagination_count pagination_button m-20 text-center"> 
	{% if paginate.pages > 1 %}
        {% if paginate.current_page == 1 %}
     <span class="prev">
       <button class="blog_btn themecolor_disable_prev">&lt; PREV</button>
     </span>
     {% endif %}  
  	{{ paginate | default_pagination | replace: '&laquo; Previous', '<button class="blog_btn themecolor">< Prev</button>' | replace: 'Next &raquo;', '<button class="blog_btn themecolor">NEXT ></button>' }}  
  	{% endif %} 
 </div>
<!-- Blog Show Start Main -->
{% assign listarticle = blog.articles %}
{% for article in listarticle %}
<div class="custom-blog-show index-section p-t-0">
  <div class="width100">
    {% assign namere = article.title |  split: ',' | first %}
    <div class="blog-name themecolor"><span class="p-l-r-10 b-nam"><b class="b-naem p-l-10">{{ article.title |  split: ',' | first }}</b></span><span class="p-l-r-10 left-border b-date">{{ article.title | truncatewords: 2, "" | remove : namere | split : ',' }}</span><span class="p-l-r-10 left-border b-city">{{ article.title |  split: ' ' | last }}</span></div>
  </div>
  <div class="artical-img text-center">
    {% if article.image %}
         <img src="{{ article.image | img_url: '300x300' }}">
    {% else %}
       {{ 'blog-images.png' | asset_url | img_tag }}    
    {% endif %}
   
  </div>
  <div class="Summary p-l-r-10">
    {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
    {% else %}
          {{ article.content | strip_html | truncate: 150 }}
    {% endif %}
  </div>
  <div class="ar-link text-center"><a class="rr-link themecolor" href="{{ article.url }}"><b>READ <span class="b-nam">{{ article.title | upcase | truncatewords: 1, "" | split: ','}}</span>'S STORY </a></b></div>
</div>
{% endfor %}
<!-- Blog Show End Mian -->
<div class="blog-titles-sec m-20 m-t-b-0">Showing <b> 1-5 of {{ blog.articles_count }} </b> stories</div>
<div class="pagination_count pagination_button m-20 text-center"> 
	{% if paginate.pages > 1 %}
        {% if paginate.current_page == 1 %}
     <span class="prev">
       <button class="blog_btn themecolor_disable_prev">&lt; PREV</button>
     </span>
     {% endif %}  
  	{{ paginate | default_pagination | replace: '&laquo; Previous', '<button class="blog_btn themecolor">< Prev</button>' | replace: 'Next &raquo;', '<button class="blog_btn themecolor">NEXT ></button>' }}  
  	{% endif %} 
 </div>
{% endpaginate %}
{% schema %}
  {
    "name": "Section name",
    "settings": [
     {
        "type": "text",
        "id": "blog_title",
        "label": "Blog Title"
      },
	  {
        "type": "image_picker",
        "id": "blog_image",
        "label": "Blog Image"
      },
      {
        "type": "text",
        "id": "blog_subheading",
        "label": "Blog Sub Title"
      },
      {
        "type": "textarea",
        "id": "blog_description",
        "label": "Blog Description"
      }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}