{% paginate blog.articles by 3%}
<div class="page-width">
   <h1 class="h1 text-center themecolor" style="padding: 25px; margin: 0px;">{{ section.settings.blog_title }}</h1>
</div>
<img src="{{ section.settings.blog_image | img_url : 'medium' }}" style="width: 100%;">
   <h3 class="themecolor text-center" style="margin-top:15px;font-size:22px;">{{ section.settings.blog_subheading }}</h3> 
   <p class="blog blog_description" style="margin-top:10px;margin-bottom:40px;padding: 0% 7%">{{ section.settings.blog_description }}</p>
   <div class="page-width"> <hr style="border: solid 1px #c1bbbb;margin:24px 0"></div>
   <p class="blog" style="padding: 0% 7%; margin: 0px;font-size:30px;">Our building blocks</p>
   <p class="blog" style="padding: 3% 7%;margin: 0px;font-size:20px">
     Showing <span class="blog_count" style="font-weight:bold;">1-10 of {{ blog.articles_count }}</span> building blocks,sorted alphabetically.</p>
   <p style="padding: 3% 7%;margin: 0px;" class="pagination_count"> 
     {% if paginate.pages > 1 %}
        {% if paginate.current_page == 1 %}
     <span class="prev">
       <button class="blog_btn themecolor_disable_prev">&lt; Prev</button>
     </span>
     {% endif %}  
  	{{ paginate | default_pagination | replace: '&laquo; Previous', '<button class="blog_btn themecolor">< Prev</button>' | replace: 'Next &raquo;', '<button class="blog_btn themecolor">Next ></button>' }}  
  	{% endif %} 
  </p>

{% assign listarticle = blog.articles %}
{% for article in listarticle %}
<div class="blog--list-view index-section" style="padding-top:0px;padding-bottom:0px">
      <div class="border-top">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
              <div class="article--listing" style="padding-top:20px;margin-bottom:20px">
                <h2 class="themecolor text-center"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                <!--{% if section.settings.blog_show_author %}
                  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                {% endif %}

                {% if section.settings.blog_show_date %}
                  <span class="article__date">
                    {{ article.published_at | time_tag: format: 'month_day_year' }}
                  </span>
                {% endif %} -->
              </div>
            </div>
          </div>
        </div>  
		  
                {% if article.image %}
                  {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                  {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                  {% include 'image-style' with image: article.image, small_style: false, width: 905, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

                  <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
                    <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;" class="article__list-image-container">
                      <img id="{{ img_id }}"
                           class="article__list-image lazyload"
                           src="{{ article.image | img_url: '300x300' }}"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                           data-aspectratio="{{ article.image.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{ article.image.alt | escape }}">
                    </a>
                  </div>

                  <noscript>
                    <p>
                      <a href="{{ article.url }}">
                        {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
                      </a>https://cdn.shopify.com/s/files/1/1891/4477/t/19/assets/blog.png?9971831444034062089
                    </p>
                  </noscript>
                {% endif %}
      <div class="page-width">
        <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
              <div class="article--listing" style="padding-top:20px;margin-bottom:20px">
                <div class="rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    {{ article.content | strip_html | truncate: 125 }}
                  {% endif %}
                </div>
				
                <a href="{{ article.url }}" class="blnk-btn article-redirect">
                        Learn More
                </a>
                
                {% if article.tags.size > 0 %}
                  <div class="article__tags article__tags--list rte">
                    {{ 'blogs.article.posted_in' | t }}
                    {% for tag in article.tags %}
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}

                <ul class="list--inline article__meta-buttons">
                  {% if article.excerpt.size > 0 %}
                    <li>
                      <a href="{{ article.url }}" class="btn btn--secondary btn--small">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                    </li>
                  {% endif %}

                  {% if blog.comments_enabled? and article.comments_count == 0 %}
                    <li>
                      <a href="{{ article.url }}#comment_form" class="btn btn--secondary btn--small">
                        {{ 'blogs.comments.title' | t }}
                      </a>
                    </li>
                  {% endif %}

                  {% if blog.comments_enabled? and article.comments_count > 0 %}
                    <li>
                      <a href="{{ article.url }}#comments" class="btn btn--secondary btn--small">
                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>  
{% endfor %} 
{% endpaginate %}
<div class="select-building-block page-width">
  <p class="blog" style="margin-top:20px;">Jump to a specific building block:</p>
  <select class="blog-list" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    <option class="dropdown-blog-select" disabled selected hidden>SELECT</option>
  {% for article in blog.articles %}
   <option class="blog-article-list" value="{{ article.url }}">
   {{ article.title }}
    </option>
  {% endfor %}  
  </select>
  {% paginate blog.articles by 3 %}
     <p class="blog" style="padding: 3% 0%;margin: 0px;font-size:20px">
     Showing <span class="blog_count" style="font-weight:bold;">1-10 of {{ blog.articles_count }}</span> building blocks</p>
   <p style="padding: 3% 0%;margin: 0px;" class="pagination_count"> 
   {% if paginate.pages > 1 %}
      {% if paginate.current_page == 1 %}
     <span class="prev">
       <button class="blog_btn themecolor_disable_prev">&lt; Prev</button>
     </span>
     {% endif %} 
  	{{ paginate | default_pagination | replace: '&laquo; Previous', '<button class="blog_btn themecolor">< Prev</button>' | replace: 'Next &raquo;', '<button class="blog_btn themecolor">Next ></button>' }}  
  	{% endif %}
    </p>
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
     {
        "type": "text",
        "id": "blog_title",
        "label": "Blog Title"
      },
	  {
        "type": "image_picker",
        "id": "blog_image",
        "label": "Blog Image"
      },
      {
        "type": "text",
        "id": "blog_subheading",
        "label": "Blog Sub Title"
      },
      {
        "type": "textarea",
        "id": "blog_description",
        "label": "Blog Description"
      }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}