<div>
<div class="page-width ">
  <div class="width100 marin0">
    <div class="width50">
      {% if section.settings.title != blank %}
      <h2 class="h3 headclass" style="margin: 20px 0;line-height: 31px;">{{ section.settings.title | escape }}</h2>
      {% endif %}
    </div>
     <div class="width50">
       <img src="{{ section.settings.image-buy | img_url: 'original' }}" style="width: 100%;">
    </div>
  </div>
  <div class="width100 marin0">
    <p class="bodyclass"><span><img src="{{'arrow.png' | asset_url}}" style="width:25px;"></span><strong>{{ section.settings.heading_1 | escape }}</strong></p>
    <p class="bodyclass">{{ section.settings.content_1 | escape }}</p>
  </div>
  <div class="width100">
     <p class="bodyclass"><span><img src="{{'arrow.png' | asset_url}}" style="width:25px;"></span><strong>{{ section.settings.heading_2 | escape }}</strong></p>
     <p class="bodyclass">{{ section.settings.content_2 | escape }}</p>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Buy With Confidence",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image-buy",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Left Heading"
      },
      {
        "type": "text",
        "id": "heading_1",
        "label": "Sub content heading 1"
      },
      {
        "type": "textarea",
        "id": "content_1",
        "label": "Content 1"
      },
      {
        "type": "text",
        "id": "heading_2",
        "label": "Sub content heading 2"
      },
      {
        "type": "textarea",
        "id": "content_2",
        "label": "Content 2"
      }
    ],
    "presets": [
      {
        "name": "Buy With Confidence",
        "category": "Image"
      }
    ]
  }
{% endschema %}
