<div>
<div class="page-width ">
  <div class="width100 marin0">
    <div class="width100 text-center">
      {% if section.settings.title != blank %}
      <h2 class="h3 headclass" style="margin: 20px 0;line-height: 31px;">Buy with confidence</h2>
      {% endif %}
    </div>
  </div>
   <div class="width100 marin0 text-center">
     <img src="{{'guarantee_1024x1024.png' | asset_url}}" style="width:160px;">
   </div>
  <div class="width100 marin0">
    <p class="bodyclass"><span><img src="{{'arrow.png' | asset_url}}" style="width:25px;"></span><strong>100% money back guarantee</strong></p>
    <p class="bodyclass">If you’re not happy with anything for any reason, we’ll refund your money.</p>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Buy With Confidence-s",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image-buy",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Left Heading"
      },
      {
        "type": "text",
        "id": "heading_1",
        "label": "Sub content heading 1"
      },
      {
        "type": "textarea",
        "id": "content_1",
        "label": "Content 1"
      }
    ],
    "presets": [
      {
        "name": "Buy With Confidence-s",
        "category": "Image"
      }
    ]
  }
{% endschema %}
