{% include 'all-blogs' %}
{% if cart.items == 0 %}
{% assign cart_empty = true %}
{% endif %}
<img src="{{'cartpage_img.PNG' | asset_url }}" style="width: 100%;">
<div class="page-width cartpage" data-section-id="{{ section.id }}" data-section-type="cart-template" style="background-color: #f7f6fb;">
  <p class="themecolor">Explore your regimen kit</p>
  <p class="cart-month">Each month, we'll ship a box with 3-5 personalized products. Adjust your plan, pause or cancel at any time.</p>
  <p class="cart-data">
    <u><a href="#cartmodel" rel="modal:open"  class="themecolor">Why do I have different plans?</a></u>
  </p>	
  <div class="width100 plan">
    <div class="width50" id="stage1" style="float:left;">
     <div class="heading"><strong>CORE</strong></div>      	
     <div class="width100" style="padding:5px 5px 0 5px;margin: 0 10%;min-height: 90px;">
       <div class="cartpro">
        <div class="width25">
          <center>
            <label class="container">
              <input type="radio" id="3" value="3" name="products">
              <span class="checkmark"></span>
            </label>
          </center>  
        </div>
        <div class="width75 threeprodu">
          <span class="themecolor"><strong style="font-size:18px;">3 products </strong></span><br>
<!--           <span class="themecolor"><strong style="font-size:20px;">3 products </strong></span><br>
          {% if product_checked==null %}from <span class="themecolor font30"><strong>$49</strong></span><small> + Tax</small>{% endif %} -->
		  <!--  <span class="themecolor"><strong style="font-size:20px;">3 products </strong></span><br>{% if product_checked==null %}from <span class="themecolor font30"><strong>{{ cart.total_price | minus: 3600 | money | remove: '.00' }} </strong></span><small> + Tax</small>{% endif %} -->
        </div>
       </div>
       <div class="cartprodu">{% if product_checked==null %} <span class="themecolor cartproduprice"><strong>$49</strong></span><small> + Tax</small>{% endif %}</div>
      </div>  
    </div>
    <div class="width50" id="stage2" style="float:right;">
      <div class="heading" style="background-color: #000;"><strong>COMPLETE</strong></div>
      <div class="width100" style="padding: 5px 5px 0 5px;margin: 0 1%; min-height: 90px;";>
        <div class="cartpro">
          <div class="width25">
            <center>
            <label class="container">
              <input type="radio" id="5" value="5" name="products">
              <span class="checkmark" id="5"></span>
            </label>
            </center>  
          </div>
          <div class="width75 fiveprodu">
              <span class="themecolor"><strong style="font-size:18px;">5 products </strong></span><br>
       <!--  <span class="themecolor"><strong style="font-size:20px;">5 products </strong></span><br>{% if product_checked==null %}from <span class="themecolor font30"><strong>{{ cart.total_price | minus: 600 | money | remove: '.00' }} </strong></span><small> + Tax</small>{% endif %} -->
          </div>
        </div>
        <div class="cartprodu">{% if product_checked==null %} <span class="themecolor cartproduprice"><strong>$79</strong></span><small> + Tax</small>{% endif %}</div>
      </div>	
    </div>
    <div class="width100 subscription rightleft" style="margin:10px 0 0;"> 
      <!-- one time and subscription start
      <div class="width50 subscribeitem">
        <div class="width25">
          <center>
            <label class="container">
              <input type="radio" id="3" name="subs">
              <span class="checkmark"></span>
            </label> 
          </center>  
        </div>
        <div class="width75">
          <center>
			<span class="themecolor font30"><small><strong>MONTHLY </strong></small></span><br><span class="themecolor font30" id="monthsub"><strong>{{ cart.total_price | minus: 500 | money | remove: '.00' }} </strong></span><small> + Tax</small>
          </center>	
        </div>  
      </div>	
	  <div class="width50 subscribeitem">
        <div class="width25">
          <center>
            <label class="container">
              <input type="radio" id="3" name="subs">
              <span class="checkmark"></span>
            </label> 
          </center>  
        </div>
        <div class="width75">
          <center>
            <span class="themecolor font30"><small><strong>MONTHLY </strong></small></span><br><span class="themecolor font30" id="monthsub"><strong>{{ cart.total_price | minus: 500 | money | remove: '.00' }} </strong></span><small> + Tax</small>
          </center>	
        </div>  
      </div> 	 
      <div class="width50 customsty onetimeitem">
        <div class="width25">
          <center>
          <label class="container">
            <input type="radio" id="5" name="subs">
            <span class="checkmark"></span>
          </label> 
          </center>  
        </div>
        <div class="width75">
          <center>
       		<span class="themecolor font30"><small><strong>TRY ONE BOX </strong></small></span><br><span class="themecolor font30" id="onesub"><strong>{{ cart.total_price | money | remove: '.00' }} </strong></span><small> + Tax</small>
          </center>	
        </div> one time and subscription end-->
      	<!-- one time purchase alone start 
		<div class="width50 customsty onetimeitem">
          <div class="width25">
            <center>
            <label class="container">
              <input type="radio" id="5" name="subs">
              <span class="checkmark"></span>
            </label> 
            </center>  
          </div>
          <div class="width75">
            <center>
              <span class="themecolor font30"><small><strong>TRY ONE BOX </strong></small></span><br><span class="themecolor font30" id="onesub"><strong>{{ cart.total_price | money | remove: '.00' }} </strong></span><small> + Tax</small>
            </center>	
          </div>
        </div> 
      	<!-- one time purchase alone end -->
<!--       <p style="font-size:22px;clear: both;text-align:center;padding-bottom: 20px;"><u><a href="/" class="themecolor">How the subscription works</a></u></p>		 -->
    </div>
<!--     <div class="width100-product">
    	<div class="width100 {% if product_checked!=null %}subscription{% endif %}"  id="pro3"><center><small>$17 per product</small></center></div>
     	<div class="width100 {% if product_checked!=null %}subscription{% endif %}" id="pro5"><center><small>$17 per product</small></center></div>
    </div> 
    <div class="swappable-item">
      <div class="" id="pro7"><center><small>ALL FIXED</small></center></div>
      <div class="" id="pro8"><center><small>SWAPPABLE</small></center></div>
    </div> -->
 	<div class="tabsection">
              <div class="container">
                  <ul class="tabs-1">
                    <li class="tab-link current" data-tab="tab-11">1</li>
                    <li class="tab-link" data-tab="tab-22">2</li>
                    <li class="tab-link" data-tab="tab-33">3</li>
                    <li class="tab-link" data-tab="tab-44">4</li>
                    <li class="tab-link" data-tab="tab-55">5</li>
                  </ul>
                  <div id="tab-11" class="tab-content-1 current">  
                  {% for product in cart.items %}
                    {% if forloop.first %}
                    {% include 'cart-product' %}
                      <div id="crid" data-id="{{ product.sku }}"></div>
                    {% endif %}
                  {% endfor %}  
                  </div>
                	
                  <div id="tab-22" class="tab-content-1">
                   {% for product in cart.items %}
                    {% if forloop.index == 2 %}
                    {% include 'cart-product' %}
                      <div id="crid" data-id="{{ product.sku }}"></div>
                    {% endif %}
                   {% endfor %} 
                  </div>
                	
                  <div id="tab-33" class="tab-content-1">
                    {% for product in cart.items %}
                    {% if forloop.index == 3 %}
                    {% include 'cart-product' %}
                      <div id="crid" data-id="{{ product.sku }}"></div>
                    {% endif %}
                   {% endfor %}
                  </div>
                
                  <div id="tab-44" class="tab-content-1">
                   	{% for product in cart.items %}
                    {% if forloop.index == 4 %}
                    {% include 'cart-product' %}
                       <div id="crid" data-id="{{ product.sku }}"></div>
                    {% endif %}
                    {% endfor %}
                  </div>
                
                  <div id="tab-55" class="tab-content-1">
                    {% for product in cart.items %}
                    {% if forloop.index == 5 %}
                    {% include 'cart-product' %}
                       <div id="crid" data-id="{{ product.sku }}"></div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  	
              </div><!-- container -->
    </div>
  </div>  
  <br>
  <div class="regimenplan newchange">
    <div class="themecolor selectregimenplan" style="font-size:18px;">
      <span class="selectregimenplan-core ticked"><strong>CORE PLAN: </strong><span>(<span class="regimen-productcount">3</span> products)</span></span>
      <span class="selectregimenplan-complete"><strong>COMPLETE PLAN: </strong><span>(<span class="regimen-productcount">5</span> products)</span></span>
      <span class="regimen-editproduct"><img src="{{ 'pen.PNG' | asset_url }}" alt="pen" />EDIT</span>
    </div> 
    <div class="themecolor editselectregimenplan" style="font-size:18px;">
      <span class="editselectregimenplan-left"><strong>SELECT YOUR PLAN</strong></span>
      <span class="editselectregimenplan-right">SAVE</span>
      <div class="editselectregimenplan-right-option">
        <div class="editselectregimenplan-right-option1">
           <label class="container">
              <input type="radio" id="3" value="3" name="products">
              <span class="checkmark"></span>
            </label>
          <strong>CORE PLAN: </strong><span class="editselectregimenplan-right-option-cou">(<span class="regimen-productcount editselectregimenplan-right-option-co">3</span> products)</span>
        </div>
        <div class="editselectregimenplan-right-option2">
           <label class="container">
              <input type="radio" id="5" value="5" name="products">
              <span class="checkmark"></span>
            </label>
          <strong>COMPLETE PLAN: </strong><span class="editselectregimenplan-right-option-cou">(<span class="regimen-productcount editselectregimenplan-right-option-co">5</span> products)</span>
        </div>        
      </div>
    </div> 
    <div class="cart-edit-price">
        <div class="cart-edit-price-total"><strong>Total:</strong></div>
      <div class="cart-edit-price-val"><strong>$<span class="regimen-editproductprice">49.00</span></strong> <span class="tax-text">+ TAX</span></div>
      </div>
  	<div class="cartrefresh">      
      <center>
           <p style="color:#fff;"><strong><a class="subbtn" href="javascript:void(0)" onclick="cheoutoutFunction();">GET YOUR REGIMENT KIT</a></strong></p>
	 </center>  
    </div>
    <div class="money-back-cont">
      <div class="money-back-con">
        <div class="footer-img">
        	<img class="footer-img1" src="{{ 'shipping.PNG' | asset_url }}" alt="Shipping" />
        </div>
        <div class="footer-img">
        	<img class="footer-img2" src="{{ 'moneyback.PNG' | asset_url }}" alt="Money Back" />
        </div>
        <div class="footer-img">
          <img class="footer-img3" src="{{ 'shopify.PNG' | asset_url }}" alt="Shopify" />
        </div>
      </div>
    </div>
  </div>  
<!--   <div class="regimenplan">
    <p class="themecolor selectregimenplan" style="font-size:26px;"><strong>Select your regimen plan</strong></p>  
  	<div class="cartrefresh">
      <center>
           <p style="color:#fff;"><strong><a class="subbtn" href="javascript:void(0)" onclick="cheoutoutFunction();">GET YOUR REGIMENT KIT</a></strong></p>
	 </center>  
    </div>
    <div class="money-back-cont">
      <div class="money-back-cont-left">
        <img src="{{ 'Moneyback_Guarantee.png' | asset_url }}" alt="Money Back" />
      </div>
      <div class="money-back-cont-right">
        <div class="money-back-cont-right-tick">Easy anytime cancellation</div>
        <div class="money-back-cont-right-tick">100% money back guarantee</div>
      </div>
    </div>
  </div>   -->
</div>
<!-- Model Start -->
<div id="cartmodel" class="modal cus-model">
  <a class="md-close" href="#" rel="modal:close">X</a>
  <div class="model-hd-title text-center">Regimen kits explained</div>
  <div class="model-second-bold">Skinsei offers two regimen kits you can choose from.</div>
  <div class="cart-main-model">
    <div class="fist-model m-t-25">
      <div class="text-md"><span class="themecolor model-bold m-r-5">The CORE plan</span>includes 3 products that are essential to supporting your skin needs for the month.</div>
    </div>
    <div class="second-model m-t-25">
      <div class="text-md"><span class="themecolor model-bold m-r-5">The COMPLETE plan</span>includes the 3 essential products from the core plan along with 2 additional products that will step up your skin game.</div>
    </div>
  </div>  
</div> 
<!-- Model End -->
<script type="text/javascript">
$(function(){
$(".plan input[type='radio']").change(function(){
  if($(".plan input:checked").length == 2){
    var three = $(".plan #stage1 input[name='products']:checked").length == 1;
    var five = $(".plan #stage2 input[name='products']:checked").length == 1;
    var monthly = $(".plan .subscribeitem input[name='subs']:checked").length == 1;
    var once = $(".plan .onetimeitem input[name='subs']:checked").length == 1;
    
//     if(three && monthly){
//       $(".subcartrefresh .subbtn").attr("href", "https://unilever-clone.chargifypay.com/subscribe/fd6vtnb87mm2/3-products-monthly");  
//     }
//     else if(three && once){
//       $(".cartrefresh .subbtn").attr("href", "https://unilever-clone.chargifypay.com/subscribe/pgkc25hz4dn3/3-products-one-time-purchase");  
//     }
//     else if(five && monthly){
//       $(".subcartrefresh .subbtn").attr("href", "https://unilever-clone.chargifypay.com/subscribe/cg3z2rdgtkt3/5-products-monthly");  
//     }
//     else if(five && once){
//       $(".cartrefresh .subbtn").attr("href", "https://unilever-clone.chargifypay.com/subscribe/5pdf33mwrp9f/5-products-one-time-purchase");  
//     }
  }
})

$(".plan #stage1 input[type='radio']").change(function(){
  if($(".plan #stage1 input:radio[checked=true]")){
    $(".plan #stage1 .width100").addClass("checkbackground");
    $(".cartpage .tabsection").addClass("greybackground");
  }
  if($(".plan #stage2 input:radio[checked=false]")){
    $(".plan #stage2 .width100").removeClass("checkbackground");
  }
});
  
$(".plan #stage2 input[type='radio']").change(function(){
  if($(".plan #stage2 input:radio[checked=true]")){
    $(".plan #stage2 .width100").addClass("checkbackground");
    $(".cartpage .tabsection").removeClass("greybackground");
  }
  if($(".plan #stage1 input:radio[checked=false]")){
    $(".plan #stage1 .width100").removeClass("checkbackground");
    $(".cartpage .tabsection").removeClass("greybackground");
  }
});
  
$('.selectregimenplan .regimen-editproduct').click(function(){
  $('.selectregimenplan').hide();
  $('.editselectregimenplan').show();
  $('.cartrefresh').removeClass('activebtn');
});
$('.editselectregimenplan .editselectregimenplan-right').click(function(){
  $('.editselectregimenplan').hide();
  $('.selectregimenplan').show();
  $('.cartrefresh').addClass('activebtn');
});
$('.editselectregimenplan-right-option input:radio[name=products]').change(function () {
  $('.cartrefresh').removeClass('activebtn');
});

var cart_items = '{{ cart.item_count }}';
localStorage.setItem('cart_items', '' +cart_items);
 
if(cart_items > 0){
  {% for product in cart.items %}
  setlocalStorage('product-' +{{ forloop.index }}, '{{ product.product.description }}'); 
  setlocalStorage('Ingredient-' +{{ forloop.index }}, '{{ product.title }}'); 
  setlocalStorage('URL-' +{{ forloop.index }}, '{{ product.url }}');   
  blogQue('{{ product.sku }}');             
  {% endfor %}
}

CreateBlogSearchTag(1,'EXERCISE');
CreateBlogSearchTag(2,'SKIN');
CreateBlogSearchTag(1,'DIET');
CreateBlogSearchTag(1,'AQI');
CreateBlogSearchTag(1,'UV');
CreateBlogSearchTag(1,'CLIMATE');
CreateBlogSearchTag(1,'MINDFULNESS'); 
 
})
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
