{% case section.settings.grid %}
{% when '2' %}
{%- assign max_height = 530 -%}
{% when '3' %}
{%- assign max_height = 345 -%}
{% when '4' %}
{%- assign max_height = 250 -%}
{% when '5' %}
{%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
{%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
{%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
    <div class="back-link">
      <a href="{{ shop.secure_url }}/pages/our-product-range" class="back-text"><span class="back-icon">&lt;</span><span class="back-a-text">Back to product range home</span></a>
    </div>
    <div class="collection-image-title-wrap">
      <div class="collection-title">
        <h1 class="collection-title">{{ collection.title }}</h1>
      </div>
      {% if section.settings.show_collection_image and collection.image %}
      <img src="{{ collection.image | img_url: 'medium' }}"  data-sizes="auto" class="collection-image">
      {% endif %}
    </div>  
    {% comment %}
    <div class="collection-hero">
      <div class="collection-hero__image ratio-container lazyload js"
           data-bgset="{% include 'bgset', image: collection.image %}"
           data-sizes="auto"
           data-parent-fit="cover"
           style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
      <noscript>
        <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
      </noscript>
      <div class="collection-hero__title-wrapper">
        <h1 class="collection-hero__title page-width">{{ collection.title }}</h1>
      </div>
    </div>
    {% endcomment %}		
    {% if collection.description != blank %}
    <div class="col-first-description">
      {{ collection.description |split: '<!-- split -->' | first }}
    </div>
    <div class="col-second-description">
      {{ collection.description |split: '<!-- split -->' | last }}
    </div>
    {% else %}
    <div class="page-width">
      <div class="section-header text-center">
        <h1>{{ collection.title }}</h1>
        {% if collection.description != blank %}
        <div class="rte col-first-description">
          {{ collection.description |split: '<!-- split -->' | first }}
        </div>
        <div class="rte col-second-description">
          {{ collection.description |split: '<!-- split -->' | last }}
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
    <div class="filters-toolbar-wrapper">
      <div class="page-width">
        <div class="filters-toolbar">
          {% if section.settings.tags_enable %}
          <div class="filters-toolbar__item">
            <label for="SortTags" class="label--hidden">{{ 'collections.filters.title_tags' | t }}</label>
            <select class="filters-toolbar__input filters-toolbar__input--filter hidden" name="SortTags" id="SortTags">
              {% if current_tags %}
              {% if collection.handle %}
              <option value="/collections/{{ collection.handle }}">{{ 'collections.filters.all_tags' | t }}</option>
              {% elsif collection.current_type %}
              <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.filters.all_tags' | t }}</option>
              {% elsif collection.current_vendor %}
              <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
              {% endif %}
              {% else %}
              {% if current_tags contains tag %}
              <option value="">{{ 'collections.filters.all_tags' | t }}</option>
              {% else %}
              <option value="">{{ 'collections.filters.title_tags' | t }}</option>
              {% endif %}
              {% endif %}
              {% for tag in collection.all_tags %}
              <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}

          <div class="filters-toolbar__item filters-toolbar__item--count">
            <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
          </div>

          {% if section.settings.sort_enable %}
          <div class="filters-toolbar__item text-right">
            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
            <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
            <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
              {% if sort_by == collection.default_sort_by %}
              <option value="title-ascending" selected="selected">{{ 'collections.sorting.title' | t }}</option>
              {% if collection.default_sort_by != 'manual' %}
              <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
              {% endif %}
              {% if collection.default_sort_by != 'best-selling' %}
              <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
              {% endif %}
              {% if collection.default_sort_by != 'title-ascending' %}
              <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
              {% endif %}
              {% if collection.default_sort_by != 'title-descending' %}
              <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
              {% endif %}
              {% if collection.default_sort_by != 'price-ascending' %}
              <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
              {% endif %}
              {% if collection.default_sort_by != 'price-descending' %}
              <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
              {% endif %}
              {% if collection.default_sort_by != 'created-descending' %}
              <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
              {% endif %}
              {% if collection.default_sort_by != 'created-ascending' %}
              <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
              {% endif %}
              {% else %}
              <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
              <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
              <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
              {% endif %}
            </select>
            <input id="DefaultSortBy" type="hidden" value="{{ collection.default_sort_by }}">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </header>

  <div class="page-width" id="Collection">
    {% if section.settings.layout == 'grid' %}
    {% case section.settings.grid %}
    {% when '2' %}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when '3' %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when '4' %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when '5' %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}

    <div class="grid--uniform grid collection-customer-review">
      {% for product in collection.products %}
      <div class="grid__item medium-up--one-half page-width">
        <a class="grid-view-item__link grid-view-item__image-container" href="{{ product.url | within: collection }}">  
          <div class="customer-review-wrap">
            <div class="customer-image-wrap">
            {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
            {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
            {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% unless product.featured_image == blank %}
            {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
            {% endunless %}
            <img
                 class="product-review-img"
                 src="{{ product.featured_image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ product.featured_image.alt | escape }}">
            <noscript>
              {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
              <img class="product-review-img" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}">
            </noscript>
          </div>
            <div class="product-review-content">
              <p class="review-title">{{ product.title }}</p>
              <p class="review-description">{{ product.description }}</p>
                <p class="customer-review-rating">Average Customer review</p>
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>  
          </div>
        </a>
        <hr class="collection-review-hr"/>
      </div>

      {% endfor %}
    </div>

    <div class="product-range-grid">
      <h2 class="range-heading">Other products in our range</h2>
      <div class="product-collection grid grid--uniform">
        {% assign current_coll = collection.title %}
        {% for collection in collections %}
        {% if current_coll != collection.title %}
        <div class="grid__item medium-up--one-half page-width">
          <div class="wrap-title">
          <span class="pro-coll-title">{{ collection.title }}</span>
           <span class="arrow-image">
             <a href="{{ collection.url }}">
               <img src="{{ 'arrow_next.png' | asset_url }}">
             </a>
           </span>  
          </div>  
          <hr class="pro-collection-hr"/>
          <div class="wrap-collection-listing">
            {% if collection.image %}
            <img src="{{ collection | img_url: 'large' }}" alt="{{ collection.image.alt }}" />
            {% else %}
            <img src="{{ 'placeholder.png' | asset_url }}" alt="{{ collection.title | escape  }}" />
            {% endif %}
            <div class="pro-coll-description">{{ collection.description | split: '<!-- split -->' | last }}</div>
          </div>  
          <div class="pro-coll-btn">
            <a href="{{ collection.url }}" class="pro-coll-link">See {{ collection.title }}</a>
          </div>
          <span class="coll-pro-divider"></span>
         </div>
        {% endif %}
        {% endfor %}   
      </div>
    </div>

    <div class="collection-testimonial grid grid--uniform">
      {% if section.settings.title != blank %}
      <div class="text-center">
        <h2 class="h3 headclass">{{ section.settings.title | escape }}</h2>
      </div>
      {% endif %}
      {% if section.settings.title-2 != blank %}<div class="width100"><p class="tetsimonial-title">{{ section.settings.title-2 | escape }}</p></div>{% endif %}
      <div class="width100">
        <div class="width65">
          <div class="review-sec">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#b5b5b5;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>


          </div>
          <p>{{ section.settings.review-content-1 | escape }}</p>
        </div>
        <div class="width35 text-center">
          <img src="{{ section.settings.image-1 | img_url: 'original' }}" style="width: 100%;">
          <p style="margin: 0;" class="review-author"><strong>{{ section.settings.author-name-1 | escape }}</strong></p>
          <p class="review-place">{{ section.settings.review-place-1 | escape }}</p>
        </div>
      </div>
      <div class="width100">
        <div class="width35 text-center">
          <img src="{{ section.settings.image-2 | img_url: 'original' }}" style="width: 100%;">
          <p style="margin: 0;" class="review-author"><strong>{{ section.settings.author-name-2 | escape }}</strong></p>
          <p lcass="review-place">{{ section.settings.review-place-2 | escape }}</p>
        </div>
        <div class="width65">
          <div class="review-sec">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>


            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>


            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>


            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
              <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>

          </div>
          <p>{{ section.settings.review-content-2 | escape }}</p>
        </div>
      </div>
      <div class="width100">
        <a class="blnk-btn" href="{{ section.settings.link-btn | escape }}">{{ section.settings.title-btn | escape }}</a>
      </div>
    </div>

    <div class="money-guarantee grid grid--uniform">
      <h2 class="guarantee-title page-width">{{ section.settings.buy-back-title }}</h2>
      <img src="{{ section.settings.buy-back-image | img_url : 'medium' }}" class="page-width guarnatee-image">
      <div class="usreguarantee-sec page-width">
        <img src="{{ 'check_mark.png' | asset_url }}">
        <span class="usreguarantee">100% money back guarantee</span>
      </div>
      <p class="guarantee-text page-width">{{ section.settings.guarantee-content }}</p>
    </div>

    <div class="coll-skinei-stories grid grid--uniform">
      <h2 class="skinsei-title">{{ section.settings.skinsei-title }}</h2>
      <img src="{{ section.settings.skinsei-image | img_url : '1024x1024' }}">
      <p class="skinsei-content page-width">{{ section.settings.skinsei-content }}</p>
      <div class="width100 skinsei-btn">
        <a href="{{ section.settings.skinsei-story-link }}" class="blnk-btn">{{ section.settings.skinsei-button }}</a>
      </div>
    </div>
  
    <div class="get-started-sec grid grid--uniform">
   <div class="page-width">
{% if section.settings.get-started-title != blank %}
        <h2 class="h3 headclass">{{ section.settings.get-started-title | escape }}</h2>
      {% endif %}
      {% if section.settings.get-started-content != blank %}
        <div class="rte-setting featured-row__subtext">{{ section.settings.get-started-content }}</div>
      {% endif %}
 
</div>
    
<div class="page-width feature-row">
  {% capture image_layout %}
    <div class="grid__item small--one-half medium-up--one-half">
      {% if section.settings.get-started-image != blank %}
        {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
        {%- assign img_url = section.settings.get-started-image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style' with image: section.settings.get-started-image, width: 545, height: 545, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: section.settings.get-started-image.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 src="{{ section.settings.get-started-image | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.get-started-image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.get-started-image.alt | escape }}">
          </div>
        </div>

        <noscript>
          {{ section.settings.get-started-image | img_url: '600x600', scale: 2 | img_tag: section.settings.get-started-image.alt, 'feature-row__image' }}
        </noscript>
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endcapture %}

  <div class="grid">

    <div class="grid__item small--one-half medium-up--one-half">
      
      {% if section.settings.get-started-text-image != blank %}
        <div class="rte-setting featured-row__subtext">{{ section.settings.get-started-text-image }}</div>
      {% endif %}
      
    </div>

      {{ image_layout }}
  </div>

</div>
 <div class="page-width">
  {% if section.settings.get-started-button != blank and section.settings.get-started-link != blank %}
        <a style="width: 100%;padding: 20px 0;border-radius:6px;" href="{{ section.settings.get-started-link }}" class="btn">
          {{ section.settings.get-started-button | escape }}
        </a>
      {% endif %}
  </div>
    </div>
    
    {% comment %}
    <div class="get-started-sec grid grid--uniform">
      <h2 class="get-started-title page-width">{{ section.settings.get-started-title }}</h2>
      <p class="get-started-content page-width">{{ section.settings.get-started-content }}</p>
      
      <div class="feature-row page-width">
      <div class="grid">
      <div class="grid__item small--one-half medium-up--one-half">
      <div class="rte-setting featured-row__subtext">
       <p>{{ section.settings.get-started-text-image }}</p></div>
      </div>
  <div class="grid__item small--one-half medium-up--one-half">
<style>
  
  
  @media screen and (min-width: 750px) { 
    #FeatureRowImage-feature-row {
      max-width: 423px;
      max-height: 399px;
    }
    #FeatureRowImageWrapper-feature-row {
      max-width: 423px;
      max-height: 399px;
    }
   } 
  
  
    
    @media screen and (max-width: 749px) {
      #FeatureRowImage-feature-row {
        max-width: 423px;
        max-height: 750px;
      }
      #FeatureRowImageWrapper-feature-row {
        max-width: 423px;
      }
    }
  
</style>

        <div id="FeatureRowImageWrapper-feature-row" class="feature-row__image-wrapper js">
          <div style="padding-top:94.32624113475178%;">
            <img id="FeatureRowImage-feature-row" class="feature-row__image lazyautosizes lazyloaded" 
            src="{{ section.settings.get-started-image | img_url : 'original' }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="1.0601503759398496" data-sizes="auto" alt="">
         </div>
        </div>

        <noscript>
          <img src="{{ section.settings.get-started-image | img_url : 'original' }}" alt="" class="feature-row__image" />
        </noscript>
      
    </div>
  
  </div>

</div>
       <span class="getstarted-short-desc">
        {{ section.settings.get-started-text-image }}
        <img src="{{ section.settings.get-started-image | img_url : 'original' }}">
      </span> 
      <div class="width100 get-started-btn page-width">
        <a href="{{ section.settings.get-started-link }}" class="blnk-btn">{{ section.settings.get-started-button }}</a>
      </div>
    </div>
    {% endcomment %}
    <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
      {% comment %}
      {% for product in collection.products %}
      <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
        {% include 'product-card-grid', max_height: max_height %}
      </div>
      {% else %}
      {% comment %}
      Add default products to help with onboarding for collections/all only.

      The onboarding styles and products are only loaded if the
      store has no products.
      {% endcomment %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
      <div class="grid__item">
        <div class="grid grid--uniform">
          {% for i in (1..limit) %}
          <div class="grid__item {{ grid_item_width }}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  <span class="product-price__price">$19.99</span>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      {%- assign is_empty_collection = true -%}
      {% endif %}
      {% endfor %}
      {% endcomment %}
    </div>
    {% else %}
    <div class="list-view-items">
      {% for product in collection.products %}
      <a href="{{ product.url | within: collection }}" class="list-view-item">
        {% include 'product-card-list', product: product %}
      </a>
      {% else %}

      {% comment %}
      Add default products to help with onboarding for collections/all only.

      The onboarding styles and products are only loaded if the
      store has no products.
      {% endcomment %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
      {% for i in (1..4) %}
      <a href="#" class="list-view-item">
        <div class="list-view-item__image-column">
          <div class="list-view-item__image-wrapper">
            <div class="list-view-item__image">
              {%- assign placeholder = 'placeholder-product-' | append: i -%}
              {% include placeholder %}
            </div>
          </div>
        </div>

        <div class="list-view-item__title-column">
          <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
        </div>

        <div class="list-view-item__price-column">
          <span class="product-price__price">$19.99</span>
        </div>
      </a>
      {% endfor %}
      {% else %}
      {%- assign is_empty_collection = true -%}
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    {% if is_empty_collection %}
    <div class="grid__item small--text-center">
      <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
    </div>
    {% endif %}

    {% if paginate.pages > 1 %}
    {% include 'pagination' %}
    {% endif %}
  </div>


</div>

{% endpaginate %}

{% schema %}
{
"name": "Collection pages",
"settings": [
{
"type": "select",
"id": "layout",
"label": "Layout",
"default": "grid",
"options": [
{
"value": "grid",
"label": "Grid"
},
{
"value": "list",
"label": "List"
}
]
},
{
"type": "select",
"id": "grid",
"label": "Products per row (grid only)",
"default": "4",
"options": [
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
}
]
},
{
"type": "select",
"id": "rows",
"label": "Rows per page (grid only)",
"default": "2",
"options": [
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
},
{
"value": "6",
"label": "6"
},
{
"value": "7",
"label": "7"
},
{
"value": "8",
"label": "8"
}
]
},
{
"type": "checkbox",
"id": "show_collection_image",
"label": "Show collection image",
"default": true
},
{
"type": "checkbox",
"id": "show_vendor",
"label": "Show product vendors",
"default": false
},
{
"type": "checkbox",
"id": "sort_enable",
"label": "Enable sorting",
"default": true
},
{
"type": "checkbox",
"id": "tags_enable",
"label": "Enable tag filtering",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "What People Say"
},
{
"type": "text",
"id": "title-2",
"label": "Sub Heading"
},
{
"type": "text",
"id": "title-btn",
"label": "Button Text",
"default": "Read Reviews + Press"
},
{
"type": "url",
"id": "link-btn",
"label": "Button Link"
},
{
"type": "text",
"id": "author-name-1",
"label": "Author Name 1"
},
{
"type": "text",
"id": "review-place-1",
"label": "Review  place 1"
},
{
"type": "textarea",
"id": "review-content-1",
"label": "Review  comment 1"
},
{
"type": "image_picker",
"id": "image-1",
"label": "Author Image 1"
},
{
"type": "text",
"id": "author-name-2",
"label": "Author Name 2"
},
{
"type": "text",
"id": "review-place-2",
"label": "Review  place 2"
},
{
"type": "textarea",
"id": "review-content-2",
"label": "Review  comment 2"
},
{
"type": "image_picker",
"id": "image-2",
"label": "Author Image 2"
},
{
"type": "text",
"id": "buy-back-title",
"label": "Buy Back Heading"
},
{
"type": "image_picker",
"id": "buy-back-image",
"label": "Buy Back Image"
},
{
"type": "textarea",
"id": "guarantee-content",
"label": "Guarantee Text"
},
{
"type": "text",
"id": "skinsei-title",
"label": "Skinsei Heading"
},
{
"type": "image_picker",
"id": "skinsei-image",
"label": "Skinsei Image"
},
{
"type": "textarea",
"id": "skinsei-content",
"label": "Skinsei Text"
},
{
"type": "url",
"id": "skinsei-story-link",
"label": "Skinsei Button Link"
},
{
"type": "text",
"id": "skinsei-button",
"label": "Skinsei Button Text"
},
{
"type": "text",
"id": "get-started-title",
"label": "Get Started Heading"
},
{
"type": "textarea",
"id": "get-started-content",
"label": "Get Started Sub Heading"
},
{
"type": "text",
"id": "get-started-text-image",
"label": "Get Started Text Image"
},
{
"type": "image_picker",
"id": "get-started-image",
"label": "Get Started Image"
},
{
"type": "url",
"id": "get-started-link",
"label": "Get Started Button Link"
},
{
"type": "text",
"id": "get-started-button",
"label": "Get Started Button Text"
}
]
}
{% endschema %}
<style>
  .back-link{
    background-color:#fff; 
    padding-left:12px; 
  }
  .back-text{  
    width: 264px;
    height: 32px;
    font-size: 18px;
    line-height: 1.44;
    color: #9345bb;  
  }
  .back-icon{
    color: #4a4a5a;
    margin-right:1px;
  }
  .back-a-text{
   text-decoration:underline;
  }
  .collection-image-title-wrap{
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
  }
  .collection-image-title-wrap h1 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #9345bb;
    padding-top:50px;  
  }
  img.collection-image {
    padding-bottom: 50px;
  }
  .col-first-description p span{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    text-align: center;
    color: #9345bb;
    padding:10% 10% 2%;
    display:inherit;  
  }  
  .col-second-description p span{
    font-size: 20px;
    line-height: 1.3;
    color: #4a4a5a;
    padding:2% 10%;
    display:inherit;   
    text-align:center; 
    margin-bottom:10px;
  }  
  .collection-customer-review{
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #e5e5e5;
    background-color: #ffffff;
    border: solid 1px #d7d4d9;
  }
  .collection-review-hr{
    height: 2px;
    border-bottom: solid 1px #c1bbbb;
    margin:0px;  
  }  
  .customer-review-wrap {
    display: inline-block;
    width: -webkit-fill-available;
    min-width: 30%;
    text-align: center;
    padding-right: 1%;
  }
  .product-review-content{
  margin:20px 0px;
  }
.customer-image-wrap {
    float: left;
    margin-top: 30%;
    min-height: 200px;
}
  .review-title{
    font-size: 18px;
    font-weight: 900;
    color: #9345bb;
    text-transform:uppercase;
  }
  .review-description{
    font-size: 18px;
    line-height: 1.33;
    color: #4a4a5a;
  }  
  .customer-review-rating{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    color: #4a4a5a;
    margin:0;
  }  
  span.spr-badge-caption {
    font-family: "Arial";
    font-size: 14px;
    line-height: 3.29;
    color: #1072b6;
    text-decoration: underline;
    margin-left: 10px;
  } 
  .range-heading{
    font-family:Texta;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: #4a4a5a;
    margin-top:40px;
    text-transform:none;
  }  
  .product-collection{
    border-radius: 8px;
    background-color: #ffffff; 
  }  
   .pro-collection-hr{
    height: 2px;
    border-bottom: solid 1px #c1bbbb;
    margin-top:18px; 
    margin-bottom:18px;  
  } 
  .collection-testimonial{
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #e5e5e5;
    background-color: #ffffff;
    border: solid 1px #d7d4d9;
    margin-top:20px;  
    padding:0px 30px 25px;  
  }  
  .headclass{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #9345bb;
    margin-top:20px;  
  }  
  .tetsimonial-title{
    font-size: 20px;
    line-height: 1.3;
    color: #4a4a5a;
  }  
  .review-author,.review-place{
    color: #9345bb;
  }  
  .blnk-btn{
    border-radius:6px;
  }  
  .money-guarantee{
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #e5e5e5;
    background-color: #ffffff;
    border: solid 1px #d7d4d9;  
    text-align:center;  
    margin-top:20px;  
  }  
  .guarantee-title{
    font-size: 28px;
    font-weight: bold;
    color: #9345bb;
    margin-top:20px; 
    text-transform:none; 
  }  
  .usreguarantee{
    font-size: 20px;
    font-weight: bold;
    color: #121112; 
  }
  .guarantee-text{
    font-size: 20px;
    color: #4a4a5a;  
    padding-bottom:30px;
  }  
  .usreguarantee-sec img {
    width: 32px;
    height: 32px;
  }  
  .coll-skinei-stories{
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #e5e5e5;
    background-color: #ffffff;
    border: solid 1px #d7d4d9;
    text-align:center;
    margin-top:20px;
  }  
  .skinsei-title{
    font-size: 28px;
    font-weight: bold;
    color: #9345bb;
    margin-top:20px;  
    text-transform:none;
  }  
  .skinsei-content{
    font-family: Texta;
    font-size: 20px;
    line-height: 1.3;
    color: #4a4a5a;
  }
  .skinsei-btn{
    padding:0 60px;
    margin-bottom:20px;
  }
  .coll-skinei-stories.grid.grid--uniform img {
    width: 100%;
  }  
  .get-started-sec{
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #e5e5e5;
    background-color: #ffffff;
    border: solid 1px #d7d4d9;
    margin-top:20px;
    padding-bottom:20px;
  }   
  .get-started-title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #9345bb;
    margin-top:20px;
    text-transform:none;
    margin-bottom:10px;
  }  
  .get-started-content{
    font-size: 20px;
    line-height: 1.3;
    color: #4a4a5a;
    text-align:left; 
    padding-left:20px;  
  }  
  .getstarted-short-desc{
    text-align:left;
    vertical-align:top; 
    padding-left:20px;  
  }
  .get-started-btn{
    margin-bottom:20px; 
    margin-top:20px;
  }
  .get-started-btn a{
    background-color:#9345bb!important;
    color:#fff;  
    border-radius:6px;  
  }
  .spr-header-title {
    font-size: 16px!important;
    color: #000!important;
    margin: 0 0 0px 0!important;
  }
.wrap-title {
    margin-top: 20px;
}
span.pro-coll-title{
  font-size: 20px;
  font-weight: 900;
  color: #9345bb;
  text-transform:uppercase;
  }  
span.arrow-image {
    float: right;
    max-width:18px;
}
.wrap-collection-listing{
    display:inline-block;
    margin:20px 0px; 
    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    letter-spacing: normal;
    color: #4a4a5a;
  }  
.wrap-collection-listing img{
float:left;  
padding-right:10px;  
max-width: 58%;  
  }  
.pro-coll-btn {
    border-radius: 6px;
    border: solid 1px #d2d2d2;
    text-align: center;
    padding:6px 0px;
    width: 90%;
    margin-bottom:30px;
    
}
a.pro-coll-link {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-align: center;
    color: #9345bb;
    text-transform: uppercase;
    
}  
.coll-pro-divider {
    border-bottom: 1px solid #cecbce;
    display: inline-block;
    width: -webkit-fill-available;
    margin-left: -24px;
    margin-right:-24px;
}  
.product-collection .grid__item {
 	display: inline-block;
  	.wrap-title {
    	width:100%;
    }
  	.wrap-collection-listing {
    	display: inline-block;
      	width: 100%;
      	img {
        	float: left;
    		padding-right: 2%;
    		max-width: 58%;  
    	} 
      	.pro-coll-description {
        	min-width: 38% 
            padding-right: 1%;
        } 
    }  	
}  
  @media only screen and (max-width:749px){
    .grid.collection-customer-review,.product-collection.grid.grid--uniform,.collection-testimonial.grid.grid--uniform,.money-guarantee.grid.grid--uniform,.coll-skinei-stories.grid.grid--uniform,.get-started-sec.grid.grid--uniform {
      margin-left: 0px;
    }
  }  
  @media only screen and (min-width:750px){
  .grid{
    margin-right:-30px;
  }
  }
  @media only screen and (min-width:380px) and (max-width:749px){
    .customer-image-wrap{
    margin-top:16%;
    min-height:165px;  
    }
  }
    @media only screen and (min-width:800px) and (max-width:1024px){
    .customer-image-wrap{
    margin-top:20%;
    min-height:180px;  
    }
  }
      @media only screen and (min-width:1025px){
    .customer-image-wrap{
    margin-top:10%;
    min-height:140px;  
    }
  }
</style>
<script type="text/javascript">
  $(".collection-customer-review div:last-child").find("hr").css("border-bottom","none");
 if ($(window).width() > 749) {
  $(".product-collection div:last-child").prev('div').andSelf().find(".coll-pro-divider").css("border-bottom","none");
 }
   if ($(window).width() < 749) {
  $(".product-collection div:last-child").find(".coll-pro-divider").css("border-bottom","none");
 }
</script>