<div class="diagostic-details exercise-p">
    <div class="hed">
     <div class="ac-icon exe-i--a">	<img src="{{ 'exercise-active.svg' | asset_url }}" alt="icon" /></div>
  	  <div class="page-title">Your Exercise</div>
   </div>
   <div class="sub-title light-greens cat-exe">Fairly active</div>
   <!-- Fair Active -->
   <div class="result">
     <div class="progress-circle-container">
    	<div class="progress-circle bg-light-greens exer"><span class="java-exer-Rating">N/A</span></div>  
 	 </div>
  </div> 
   <!-- Fair Active End -->
  <div class="main-contecnt">
    <div class="sub-title light-greens">WHAT YOU TOLD US</div>
    <!-- First Satrt -->
    <div class="ses s-one">
      <div class="one-falf text-center">
        <div class="title-se">TYPE</div>
        <div class="title-th java-exe-type">N/A</div>
      </div>
      <div class="second-half left-border">
        <div class="title-se">FREQUENCY</div>
        <div class="title-th java-exe-freq">N/A</div>
      </div>
    </div>
    <!-- First End -->
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
