<div class="diagostic-details uv-p">
  <div class="hed">
     <div class="ac-icon uv-i--a"><img src="{{ 'uv-active.svg' | asset_url }}" alt="icon" /></div>
  	 <div class="page-title">Your UV</div>
  </div>
  <div class="sub-title d-pink java-uv-cat">N/A</div>
  <!-- Safe Show Satrt -->
    <div class="result">
     <div class="progress-circle-container">
    	<div class="progress-circle pink-ligt uvr"><span class="java-UVRating">N/A</span></div>  
 	 </div>
   </div> 
  <!-- Safe Show End -->
  <div class="main-contecnt">
    <div class="sub-title d-pink">WHAT YOU TOLD US</div>
    <!-- First Satrt -->
    <div class="ses s-one">
      <div class="one-falf text-center">
        <div class="title-se">UV INDEX</div>
        <div class="title-th java-uv-index">N/A</div>
      </div>
      <div class="second-half left-border">
        <div class="title-se">SKIN TYPE</div>
        <div class="title-th java-skin-type">N/A</div>
      </div>
    </div>
    <div class="text-center">
    	<div class="title-se">HOURS OUTDOORS</div>
        <div class="title-th java-out-uv-hour">N/A</div>
    </div>
    <!-- First End -->
<!--     <div class="line li-second"></div> -->
    <!-- second Satrt -->
<!--     <div class="ses s-second text-center">
      <div class="sub-title">YOUR CLIMATE FORECAST</div>
      <div class="text">The air quality forecast for the next 7 days, check back in again to see how it might affect you.</div>
    </div> -->
    <!-- Second End -->
<!--      <div class="line li-three">
     </div> -->
     <!-- three Start -->
<!--     <div class="diagnostic-climate-yellowbox">
      <div><strong>HIGH UV ALERT</strong></div>
      <div>The UV is forecast to be <span style="color:red">HIGH</span> this <strong>TUESDAY XXth Month.</strong></div>
      <div><strong>Skinsei recommends:</strong> Wear sunglasses and use SPF 30+ sunscreen, cover the body with sun protective clothing and a wide-brim hat, and reduce time in sun from three hours before to three hours after solar noon.</div>
    </div> -->
    <!-- three End -->
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
