<div class="diagostic-details diet-p">
   <div class="hed">
      <div class="ac-icon uv-i--a"><img src="{{ 'diet-active.svg' | asset_url }}" alt="icon" /></div>
  	  <div class="page-title">Your Diet</div>
  </div>
  <div class="sub-title diet-p yellow-bg java-diet-cat">N/A</div>
  <!-- Rating -->
  <div class="result">
     <div class="progress-circle-container">
    	<div class="progress-circle bg-yellow diet"><span class="java-diet-rating">N/A</span></div>
 	 </div>
  </div> 
  <div class="main-contecnt">
    <div class="sub-title yellow-bg">WHAT YOU TOLD US</div>
    <!-- First Satrt -->
    <div class="ses s-one">
      <div class="one-falf text-center">
        <div class="title-se">PREFERENCES</div>
        <div class="title-th java-preference">N/A</div>
        <div class="title-se">HYDRATION</div>
        <div class="title-th java-hydration">N/A</div>
      </div>
      <div class="second-half left-border">
        <div class="title-se">FRUIT & VEG</div>
        <div class="title-th java-fruit-veg">N/A</div>
        <div class="title-se">ALCOHOL UNITS</div>
        <div class="title-th java-alcohol-unit">N/A</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
