<div class="diagostic-details air-quality-p">
   <div class="hed">
     <div class="ac-icon air-i--a">	<img src="{{ 'air-quality-active.svg' | asset_url }}" alt="icon" /></div>
  	 <div class="page-title">Your Air Quality</div>
  </div>
    <div class="sub-title purple-bg java-ait-cat">N/A</div>
   <!-- Moderate -->
   <div class="result">
     <div class="progress-circle-container">
    	<div class="progress-circle rose-base air"><span class="java-AQIRating">N/A</span></div>  
 	 </div>
  </div> 
   <!-- Moderate End -->
  <div class="main-contecnt">
    <div class="sub-title purple-bg">WHAT YOU TOLD US</div>
    <!-- First Satrt -->
    <div class="ses s-one">
      <div class="one-falf text-center">
        <div class="title-se">LOCATION</div>
        <div class="title-th java-location-air">N/A</div>
        <div class="title-se">HOURS OUTDOORS</div>
        <div class="title-th java--air-hour-out">N/A</div>
      </div>
      <div class="second-half left-border">
        <div class="title-se">AIR QUALITY INDEX</div>
        <div class="title-th java-air-index">N/A</div>
        <div class="title-se">SMOKING</div>
        <div class="title-th java-air-smo">N/A</div>
      </div>
    </div>
    <!-- First End -->
<!--     <div class="line li-second"></div> -->
    <!-- second Satrt -->
<!--     <div class="ses s-second text-center">
      <div class="sub-title">YOUR AIR QUALITY FORECAST</div>
      <div class="text">The air quality forecast for the next 7 days, check back in again to see how it might affect you.</div>
    </div>  -->
    <!-- Second End -->
    
    <!-- three Start -->
<!--     <div class="diagnostic-climate-yellowbox">
      <div><strong>MODERATE POLLUTION ALERT</strong></div>
      <div>Your air quality forecast to have <span class="orange-txt"><strong>MODERATE POLLUTION</strong></span> this <strong>TUESDAY XXth Month.</strong></div>
      <div><strong>Skinsei recommends:</strong> Avoid any prolonged outdoor exercise or exertion on this day.</div>
    </div> -->
    <!-- three End -->
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
