<div class='regimen-accordion'>
  <div class='regimen-element'>
    <input type="checkbox" id="element1" class="regimen-checkbox"/>
    <label for="element1" class="regimen-header">YOUR REGIMEN KIT</label>
    <section class='regimen-content'>
        <div class="page-width">
          <div class="diagnostic-subtext">
            Everything you need this month to support your focus areas.
          </div>
          <div style="text-align: center;">
             <img src="{{ 'product.png' | asset_url }}" alt="Graph" />
          </div>
          <div>
            <input type="button" class="regimen-kit" id="regimen-kit-btn" value="GET YOUR REGIMEN KIT" />
          </div>
        </div>
    </section>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
