<div class="diagnostic">
  <div class="page-width bar-container" style="padding: 20px">
    <div class="portion-1"><img src="{{ 'icon.png' | asset_url }}" alt="Icon" /></div>
    <div class="portion-2" style="padding-left: 15px;">
      <div class="ft-text" style="display: inline;">Charlie's</div><span class="cname">'s</span>
<!--       <div class="cname">Charlie's</div>  -->
      <div class="ctopic">DIAGNOSTIC</div>
    </div>
     <div class="portion-3">
       {% if shop.customer_accounts_enabled %}
    	{% if customer  %}
    		 <a href="#savemodel" rel="modal:open"  id="login-save" data-id="{{ customer.id }}" onclick="return customerloginupdate({{ customer.id }});"  class="save-btn">SAVE</a>
            {% else %}
            <a href="#savemodel" rel="modal:open" class="save-btn">SAVE</a> 
        {% endif %}
    {% endif %}
      <a href="/cart" type="button" class="buy-btn">GET</a>
    </div>
  </div>
  <div class="item-container">
    <div class="cust-details">
      <span class="ft-text cuname">Charlie's</span><span>'s</span> <span>diagnostic</span>
    </div>
    <div class="date-details">
	<!--       <span>MAY 2018</span><span class="divider">|</span><span class="date-details-info">(04/04 - 04/05)</span> -->
    	<span id="monthname"></span> <span id="currentyear"></span><span class="divider">|</span><span class="date-details-info">(<span id="currentmonth"></span>/<span id="currentdate"></span> - <span id="nextmonth"></span>/<span id="nextdate"></span>)</span>
    </div>    
    <div class="focus-areas-details">
      <div class="static-text">This month's focus areas</div>
      <div class="static-text-summary">Based on your holistic assessment we provide a diagnostic with the focus areas for the next 30 days and a personalized regime to help you achieving your skin goals.</div>
      <div class="focus-areas-details-left">
        <div class="margin-div">
          <img src="{{ 'icon1.png' | asset_url }}" alt="Icon" />
          <span class="ds-top-rank-benefit-1">Oily skin</span>
        </div>
        <div class="margin-div">
          <img src="{{ 'icon2.png' | asset_url }}" class="ds-top-rank-benefit-2-img" alt="Icon" />
          <span class="ds-top-rank-benefit-2">Active lifestyle</span>
        </div>
        <div class="margin-div">
          <img src="{{ 'icon3.png' | asset_url }}" class="ds-top-rank-benefit-3-img" alt="Icon" />
          <span class="ds-top-rank-benefit-3">Poor sleep</span>
        </div>
        <div class="margin-div">
          <img src="{{ 'icon4.png' | asset_url }}" class="ds-top-rank-benefit-4-img" alt="Icon" />
          <span class="ds-top-rank-benefit-4">High pollution</span>
        </div>		
      </div>
      <div class="focus-areas-details-right">
<!--         <img src="{{ 'graph.png' | asset_url }}" alt="Graph" /> -->
        {% include "animate" %}
      </div>
    </div>    
  </div>
  <div class="triangle-with-shadow"></div>
  <div class="page-width">
    <div class="diagnostic-subhead">
      Your personalized regimen kit
    </div>
    <div class="diagnostic-subtext">
      Everything you need this month to support your focus areas.
    </div>
    <div style="text-align: center;">
       <img src="{{ 'product.png' | asset_url }}" alt="Graph" />
    </div>
    <div>
      <input type="button" class="diagnostic-report" id="diagnostic-report-btn" value="SEE YOUR DIAGNOSTIC RESULTS" />
      <input type="button" class="regimen-kit" id="regimen-kit-btn" value="SEE YOUR REGIMEN KIT" />
    </div>
  </div>
</div>
<script>
    $(document).ready(function() {
      // Diagnostic Page Data Show start
      var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";
      var fulldat = new Date();
      var monthname = month[fulldat.getMonth()];
      var month = fulldat.getMonth();
      var previousmonth = month;
      var currentmonth = month + 1;
      var cdate = fulldat.getDate();
      var currentdate = fulldat.getDate();
      var ndate = currentdate + 1;
      var currentyear = fulldat.getFullYear();      
      if (cdate < 10 && cdate.toString().length == 1) {
        var currentdate = "0" + cdate;
      }
      else {
        var currentdate = cdate;
      }     
      var fullDate = new Date();     
      var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
      var numberOfDaysToAdd = 1;
      fulldat.setDate(fulldat.getDate() + numberOfDaysToAdd); 
  	  var ndate = fulldat.getDate();
      if (ndate < 10 && ndate.toString().length == 1)  {
          var nextdate = "0" + ndate;
      }
      else {
          var nextdate = ndate;
      }
      if (nextdate == 1) {
        var twoDigitMonthplus1 = ((fulldat.getMonth().length+1) === 1)? (fulldat.getMonth()+2) : '0' + (fulldat.getMonth()+2);
        if ((twoDigitMonthplus1 == 010) || (twoDigitMonthplus1 == 011) || (twoDigitMonthplus1 == 012)) {
        	var twoDigitMonthplus = ((fulldat.getMonth().length+1) === 1)? (fulldat.getMonth()+2) : '' + (fulldat.getMonth()+2);
        }
        else {
          var twoDigitMonthplus = ((fulldat.getMonth().length+1) === 1)? (fulldat.getMonth()+2) : '0' + (fulldat.getMonth()+2);
        }
      }
      else {
        var twoDigitMonthplus = ((fulldat.getMonth().length+1) === 1)? (fulldat.getMonth()+2) : '' + (fulldat.getMonth()+2);
      }
      document.getElementById("monthname").innerHTML = monthname;
      document.getElementById("currentyear").innerHTML = currentyear;
      document.getElementById("currentdate").innerHTML = currentdate;
      document.getElementById("currentmonth").innerHTML = twoDigitMonth; 
      document.getElementById("nextdate").innerHTML = nextdate;
      document.getElementById("nextmonth").innerHTML = twoDigitMonthplus;
      // Diagnostic Page Data Show end
  });
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
