<div class="diagnostic-detail-blogque">
  <div class="diagnostic-detail-blogque-que" id="detais--blog-first">
  	<div class="diagnostic-detail-blogque-que-que">How you're doing</div>
    <div class="diagnostic-detail-blogque-que-ans">Dynamic content is populated here from the content generation app.</div>
  </div>
  <div class="diagnostic-detail-blogque-que" id="detais--blog-second">
  	<div class="diagnostic-detail-blogque-que-que">How this affect you</div>
    <div class="diagnostic-detail-blogque-que-ans" id="detais--blog-third-ans">Dynamic content is populated here from the content generation app.</div>
  </div>
  <div class="diagnostic-detail-blogque-que" id="detais--blog-third">
  	<div class="diagnostic-detail-blogque-que-que">How our products support you</div>
    <div class="diagnostic-detail-blogque-que-ans">Dynamic content is populated here from the content generation app.</div>
  </div>
  <div class="diagnostic-detail-blogque-que" id="detais--blog-four">
  	<div class="diagnostic-detail-blogque-que-que">What you can do</div>
    <div class="diagnostic-detail-blogque-que-ans">Dynamic content is populated here from the content generation app.</div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}