<div class="diagostic-details skin-p active">
  <div class="hed">
      <div class="ac-icon uv-i--a"><img src="{{ 'skin-active.svg' | asset_url }}" alt="icon" /></div>
  	  <div class="page-title">Your skin result</div>
  </div>  
  <div class="sub-title skin-p blue-bg java-skin-cat">N/A</div>
  <!-- Rating -->
  <div class="result">
     <div class="progress-circle-container">
    	<div class="progress-circle bg-blue skin"><span class="java-skin-rating">N/A</span></div>
 	 </div>
  </div>
  <div class="main-contecnt">
    <div class="sub-title blue-bg">WHAT YOU TOLD US</div>
    <!-- First Satrt -->
    <div class="ses s-one">
      <div class="one-falf text-center">
        <div class="title-se">PRIMARY SKIN GOAL</div>
        <div class="title-th java-skin-goal">N/A</div>
        <div class="title-se">ARMS LEGS</div>
        <div class="title-th java-arms-legs">N/A</div>
      </div>
      <div class="second-half left-border">
        <div class="title-se">SKIN CONCERNS</div>
        <div class="title-th java-skin-concern">N/A</div>
        <div class="title-se">SENSITIVITY</div>
        <div class="title-th java-sensivity">N/A</div>
      </div>
    </div>
    <!-- First End -->
    <div class="line li-second"></div>
    <!-- second Satrt -->
    <div class="ses s-second text-center">
      <div class="sub-title blue">YOUR SKIN ANALYSIS</div>
      <div class="text">The results of your skin seflie and our image analysis tells us that you have …</div>
      <div class="sub-title blue">Dry and itchy skin</div>
      <div class="text"><p>Your overall score this month:</p></div>
    </div>
    <!-- Second End -->
         <div class="progress-circle-container">
    		<div class="progress-circle bg-light-red p-skin"><span class="java-skin-rating">N/A</span></div>
               <div class="line li-three skin-l"></div>
 		 </div>
     <!-- <div class="circles text-center"><div class="circle-result">2<span class="cross-line">/</span>5</div></div> -->
    <!-- three Start -->
    <div class="face-dg">
     	<div class="one-falf face">
          <div class="face-img">
          	<img src="{{ 'face.png' | asset_url }}" alt="Face" />
          </div>
          <div class="lines-one"></div>
          <div class="age-result"><span class="skin-age">SKIN AGE</span><div class="age-show">26-32</div></div>
     	</div>
        <div class="second-half face">
           <div class="progress">
             <!-- one st -->
             <div class="proces one">
               <div class="process-titles t-ones">
             		<div class="p-title">DEHYDRATION</div>
             		<div class="p-result r-four">4/5</div>
               </div>
               <div class="process-result"><div class="p-com r-four"></div></div>
               <div class="perf"><span class="left">LOW</span><span class="center">MED</span><span class="right">HIGH</span></div>
             </div>
             <!-- one end -->
             <!-- second st -->
              <div class="proces second">
               <div class="process-titles t-two">
             		<div class="p-title">DEHYDRATION</div>
             		<div class="p-result r-three">3/5</div>
               </div>
               <div class="process-result"><div class="p-com r-three"></div></div>
                <div class="perf"><span class="left">LOW</span><span class="center">MED</span><span class="right">HIGH</span></div>
              </div>
              <!-- second end -->
              <!-- third st -->
              <div class="proces third">
               <div class="process-titles t-three">
             		<div class="p-title">DEHYDRATION</div>
             		<div class="p-result r-three">3/5</div>
               </div>
               <div class="process-result"><div class="p-com r-three"></div></div>
                <div class="perf"><span class="left">LOW</span><span class="center">MED</span><span class="right">HIGH</span></div>
             </div>
             <!-- third end -->
             <!-- four st -->
              <div class="proces one">
               <div class="process-titles t-four">
             		<div class="p-title">DEHYDRATION</div>
             		<div class="p-result r-two">2/5</div>
               </div>
               <div class="process-result"><div class="p-com r-two"></div></div>
                <div class="perf"><span class="left">LOW</span><span class="center">MED</span><span class="right">HIGH</span></div>
              </div>
             <!-- four end -->
          </div>
        </div>
     </div>
    <!-- three End -->
  </div>
</div>
<script>
   // Blog Search
     $(document).ready(function() {
            if(localStorage.getItem('Blog-SKIN') != null){
                $("#detais--blog-third-ans").text(localStorage.getItem('Blog-SKIN'));
            }else {
                CreateBlogSearchTag(2,'SKIN');
            }
          });
</script> 

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}