<div class="diagostic-details sleep-p">
  <div class="hed">
     <div class="ac-icon sleep-i--a"><img src="{{ 'sleep-active.svg' | asset_url }}" alt="icon" /></div>
  	 <div class="page-title">Your mindfulness</div>
  </div>
  <div class="sub-title sleep-p orange-bg java-sleep-cat">N/A</div>
  <!-- Rating -->
  <div class="result">
     <div class="progress-circle-container">
    	<div class="progress-circle bg-orange sleep"><span class="java-sleep-rating">N/A</span></div>
 	 </div>
  </div>
  <div class="main-contecnt">
    <div class="sub-title orange-bg">WHAT YOU TOLD US</div>
    <!-- First Satrt -->
    <div class="ses s-one">
      <div class="one-falf text-center">
        <div class="title-se">HOURS PER NIGHT</div>
        <div class="title-th java-hours-per-night">N/A</div>
<!--         <div class="title-se">RECOMMENDED</div>
        <div class="title-th java-recommended">N/A</div> -->
      </div>
      <div class="second-half left-border">
        <div class="title-se">SLEEP QUALITY</div>
        <div class="title-th java-sleep-quality">N/A</div>
        <div class="title-se">CAFFINE CONSUMPTION</div>
        <div class="title-th java-caffine-consumption">N/A</div>
      </div>
    </div>
    <!-- First End -->
<!--     <div class="line li-second"></div> -->
    <!-- second Satrt -->
<!--     <div class="diagnostic-sleep">
      <div>HOW YOU COMPARE</div>
      <div><strong>/strong></div>
        <div>Compared to the average American <strong>female</strong>age between <strong>XX</strong> to <strong>XX,</strong> who sleep X hours per day.</div>
      </div> -->
    <!-- Second End -->
<!--      <div class="line li-three">
     </div> -->
<!--      <div class="circles text-center"><div class="circle-result">2<span class="cross-line">/</span>5</div></div>
    <!-- three Start --> 
    
    <!-- three End -->
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
