{% include 'all-blogs' %}
{% include 'diagnostic-detail-header' %}
{% include 'diagnostic-detail-nav' %}


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
