<div class="diagostic-details climate-p">
   <div class="hed">
     <div class="ac-icon cliamte-i--a">	<img src="{{ 'climate-active.svg' | asset_url }}" alt="icon" /></div>
  	 <div class="page-title">Your Climate</div>
  </div>
  <div class="sub-title lavender-bg java-climate-cat">N/A</div>
   <!-- Disconfort -->
   <div class="result">
     <div class="progress-circle-container">
    	<div class="progress-circle cli"><span class="java-climateRating">N/A</span></div>  
 	 </div>
  </div> 
   <!-- Disconfort End -->
  <div class="main-contecnt">
    <div class="sub-title lavender-bg">WHAT YOU TOLD US</div>
    <!-- First Satrt -->
    <div class="ses s-one">
      <div class="one-falf text-center">
        <div class="title-se">CURRENT TEMPERATURE</div>
        <div class="title-th java-temp" id="temperature-data">N/A</div>
      </div>
      <div class="second-half left-border">
        <div class="title-se">CURRENT HUMIDTY</div>
        <div class="title-th java-humi" id="current-humi">N/AS</div>
      </div>
    </div>
    <!-- First End -->
    <div class="line li-second"></div>
    <!-- second Satrt -->
    <div class="ses s-second text-center">
      <div class="sub-title lavender-bg">YOUR CLIMATE FORECAST</div>
      <div class="text">The air quality forecast for the next 7 days, check back in again to see how it might affect you.</div>
    </div>
    <!-- Second End -->
    <!-- three Start -->
    <div class="diagnostic-climate-yellowbox">
      <div><strong>MODERATE HUMIDITY ALERT</strong></div>
      <div>Your climate is forecast to have <span class="orange-txt"><strong>MODERATE HUMIDITY</strong></span> this <strong>TUESDAY XXth Month.</strong></div>
      <div><strong>Skinsei recommends:</strong> Drink plenty of water and wear loose clothes on this day.</div>
    </div>
    <div id="openweathermap-widget-11"></div>
    <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
    <!-- three End -->
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}