<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title-1 != blank %}
    <div class="text-center">
      <h2 class="h3 headclass">{{ section.settings.title-1 | escape }}</h2>
    </div>
  {% endif %}
  <p class="text-center"><strong>{{ section.settings.title-2 | escape }}</strong></p>
  <div class="faqaccordion">
    <ul>
      {% for block in section.blocks %}
      <li class="question">
        <p><strong><span  class="themecolor">Q.</span>{{ block.settings.question | escape }}</strong><span class="arrow"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"/></g>
</svg></span></p>
        <ul class="ans">
          <li><p><strong><span  class="themecolor">A.</span></strong>{{ block.settings.answer | escape }}</p></li>
        </ul>
      </li>
      {%endfor%}
    </ul>
  </div>
  <p class="text-center" style="padding: 15px 0;">{{ section.settings.title-3 | escape }}</p>
</div>
<div class="page-width">
  <div >
    <div >
  {% if section.settings.title-4 != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="blnk-btn">
          {{ section.settings.title-4 | escape }}
        </a>
      {% endif %}
  </div>

  </div>
 
</div>

{% schema %}
  {
    "name": "FAQ Widget",
"class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title-1",
        "label": "Heading",
        "default": "What People Say"
      },
      {
        "type": "text",
        "id": "title-2",
        "label": "Heading 2",
        "default": "What People Say"
      },
      {
        "type": "text",
        "id": "title-3",
        "label": "Heading 3",
        "default": "What People Say"
      },
      {
        "type": "text",
        "id": "title-4",
        "label": "Button text",
        "default": "see"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Widget",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
