  <div class="focus-areas-diagram">
    <div class="focus-areas-diagram-view">
      <div class="result">
        <div class="focus-areas-diagram-title">SKIN</div>
         <div class="progress-circle-container">
            <div class="progress-circle bg-blue skin"><span class="java-skin-rating">N/A</span></div>
         </div>
      </div>
    </div>
    <div class="focus-areas-diagram-view">
      <div class="result">
       <div class="focus-areas-diagram-title">EXERCISE</div>
       <div class="progress-circle-container">
          <div class="progress-circle bg-light-greens exer"><span class="java-exer-Rating">N/A</span></div>  
       </div>
      </div>
    </div>
    <div class="focus-areas-diagram-view">
      <div class="result">
        <div class="focus-areas-diagram-title">SLEEP</div>
         <div class="progress-circle-container">
            <div class="progress-circle bg-orange sleep"><span class="java-sleep-rating">N/A</span></div>
         </div>
      </div>
    </div>
    <div class="focus-areas-diagram-view">
       <div class="result">
         <div class="focus-areas-diagram-title">DIET</div>
         <div class="progress-circle-container">
            <div class="progress-circle bg-yellow diet"><span class="java-diet-rating">N/A</span></div>
         </div>
      </div> 
    </div>
    <div class="focus-areas-diagram-view">
       <div class="result">
         <div class="focus-areas-diagram-title">UV</div>
         <div class="progress-circle-container">
            <div class="progress-circle pink-ligt uvr"><span class="java-UVRating">N/A</span></div>  
         </div>
       </div> 
    </div>
    <div class="focus-areas-diagram-view">
      <div class="result">
        <div class="focus-areas-diagram-title">CLIMATE</div>
         <div class="progress-circle-container">
            <div class="progress-circle cli"><span class="java-climateRating">N/A</span></div>  
         </div>
      </div> 
    </div>
    <div class="focus-areas-diagram-view auto-width">
      <div class="result">
        <div class="focus-areas-diagram-title">AIR QUALITY</div>
         <div class="progress-circle-container">
            <div class="progress-circle rose-base air"><span class="java-AQIRating">N/A</span></div>  
         </div>
      </div> 
    </div>    
  </div>
<script>
  $(document).ready(function() {
    if( localStorage.getItem('awsresponces') != null){
    	var allRat= getlocalStorage('awsresponces','1').ratings;
    }  
    /* Exercise Ratting Circle Bar */
    if(allRat != null){
      $("span.java-exer-Rating").text(allRat.Exercise.ExerciseRating +'/5');
      $("span.java-sleep-rating").text(allRat.Sleep.SleepRating +'/5');
      $(".java-diet-rating").text(allRat.Diet.DietRating +'/5');
      $("span.java-UVRating").text(allRat.uv.UVRating +'/5');
      $("span.java-climateRating").text(allRat.climate.climateRating +'/5');
      $("span.java-AQIRating").text(allRat.AQI.AQIRating +'/5');
      
        if(allRat.Exercise.ExerciseRating == 2) {
          $(".progress-circle.exer").addClass('progress-41');
        }else if(allRat.Exercise.ExerciseRating == 3){
          $(".progress-circle.exer").addClass('progress-60');
        }else if(allRat.Exercise.ExerciseRating == 4){
          $(".progress-circle.exer").addClass('progress-80');
        }else if(allRat.Exercise.ExerciseRating == 5){
          $(".progress-circle.exer").addClass('progress-100');
        }else if(allRat.Exercise.ExerciseRating == 1){
          $(".progress-circle.exer").addClass('progress-25');
        }else{
          $(".progress-circle.exer").addClass('progress-0');
        }

        /* Exercise Sleep Circle Bar */

        if(allRat.Sleep.SleepRating == 2){
            $(".progress-circle.sleep").addClass('progress-41');
        }else if(allRat.Sleep.SleepRating == 3){
            $(".progress-circle.sleep").addClass('progress-60');
        }else if(allRat.Sleep.SleepRating == 4){
            $(".progress-circle.sleep").addClass('progress-80');
        }else if(allRat.Sleep.SleepRating == 5){
            $(".progress-circle.sleep").addClass('progress-100');
        }else if(allRat.Sleep.SleepRating == 1){
            $(".progress-circle.sleep").addClass('progress-25');
        }else{
            $(".progress-circle.sleep").addClass('progress-0');
        }

        /* Exercise Diet Circle Bar */

        if(allRat.Diet.DietRating == 2){
            $(".progress-circle.diet").addClass('progress-41');
        }else if(allRat.Diet.DietRating == 3){
            $(".progress-circle.diet").addClass('progress-60');
        }else if(allRat.Diet.DietRating == 4){
            $(".progress-circle.diet").addClass('progress-80');
        }else if(allRat.Diet.DietRating == 5){
            $(".progress-circle.diet").addClass('progress-100');
        }else if(allRat.Diet.DietRating == 1){
            $(".progress-circle.diet").addClass('progress-25');
        }else{
            $(".progress-circle.diet").addClass('progress-0');
        }

        /* Exercise UV Circle Bar */

        if(allRat.uv.UVRating == 2){
            $(".progress-circle.uvr").addClass('progress-41');
        }else if(allRat.uv.UVRating == 3){
            $(".progress-circle.uvr").addClass('progress-60');
        }else if(allRat.uv.UVRating == 4){
            $(".progress-circle.uvr").addClass('progress-80');
        }else if(allRat.uv.UVRating == 5){
            $(".progress-circle.uvr").addClass('progress-100');
        }else if(allRat.uv.UVRating == 1){
            $(".progress-circle.uvr").addClass('progress-25');
        }else{
            $(".progress-circle.uvr").addClass('progress-0');
        }

        /* Exercise Climate Circle Bar */

        if(allRat.climate.climateRating == 2){
            $(".progress-circle.cli").addClass('progress-41');
        }else if(allRat.climate.climateRating == 3){
            $(".progress-circle.cli").addClass('progress-60');
        }else if(allRat.climate.climateRating == 4){
            $(".progress-circle.cli").addClass('progress-80');
        }else if(allRat.climate.climateRating == 5){
            $(".progress-circle.cli").addClass('progress-100');
        }else if(allRat.climate.climateRating == 1){
            $(".progress-circle.cli").addClass('progress-25');
        }else{
            $(".progress-circle.cli").addClass('progress-0');
        }

        /* Exercise AIR Quality Circle Bar */
        if(allRat.AQI.AQIRating == 2){
            $(".progress-circle.air").addClass('progress-41');
        }else if(allRat.AQI.AQIRating == 3){
            $(".progress-circle.air").addClass('progress-60');
        }else if(allRat.AQI.AQIRating == 4){
            $(".progress-circle.air").addClass('progress-80');
        }else if(allRat.AQI.AQIRating == 5){
            $(".progress-circle.air").addClass('progress-100');
        }else if(allRat.AQI.AQIRating == 1){
            $(".progress-circle.air").addClass('progress-25');
        }else{
            $(".progress-circle.air").addClass('progress-0');
        }

    }
    
  });
</script>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}