{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width" id="footertpo">
        <div class="grid grid--no-gutters" >
          <div class="grid__item text-center">
          </div>
       </div>
    </div>
  <div id="footer-csn-top">
     
    <div class="page-width" >
        <div class="grid grid--no-gutters" id="footerBTP">
          <div class="grid__item text-right" id="back-top">
            <a href="#top">
              <span>BACK TO TOP</span>
              <span><svg version="1.1" id="icon___-1185647361" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 74 74" enable-background="new 0 0 74 74" xml:space="preserve">
<path style="fill:#ffffff!important" d="M37,0C16.6,0,0,16.6,0,37s16.6,37,37,37s37-16.6,37-37S57.4,0,37,0z M55.2,45.3L37,27L18.8,45.3l-1.4-1.4
	L37,24.2l19.7,19.7L55.2,45.3z"></path>
                </svg></span>
            </a>
          </div>
       </div>
    </div>
     <div class="page-width" >
        <div class="grid grid--no-gutters" id="footerlogo">
          <div class="grid__item text-center">
              <svg style="width: 200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 214 52"><path fill="white" class="cls-1" d="M74,4.65,78.11.58V26.85H74ZM10.9,11.21C8.51,10.24,5.53,9,5.55,6.8c0-1.66,1.76-3.15,3.74-3.2h.12c2.52,0,4,2,4.81,3.28L15.62,6l1.53-.93A8.7,8.7,0,0,0,9.31.5H8.83c-2.51.11-6.64,1.86-7,6.1-.37,4,3.07,6.15,6,7.29,5.63,2.17,6.26,3.87,6.42,5.43A4.57,4.57,0,0,1,13,22.67a5,5,0,0,1-3.74,1.64H9.15c-2.9,0-5.48-2.87-6.37-5.68L0,21.29a9.35,9.35,0,0,0,9.18,6.32h.32c4.8-.12,8.56-3.53,8.74-7.93C18.38,16,16.05,13.31,10.9,11.21ZM56,1.43H51.34L38.63,16.28V.79l-3.7,3.7V25.86l8-9.25L52.46,30.5H57L45.35,13.75Zm153.94-.1V24.72L214,27.95V1.33Zm-32.5,22.21V15.2h11.08v-3H177.41V4.61H189.1l1.53-3.3h-17V26.85h17.86l-1.71-3.31ZM148.46,11.38c-2.39-1-5.37-2.17-5.35-4.36,0-1.64,1.76-3.12,3.74-3.17H147c2.52,0,4,2,4.81,3.25l1.39-.83c.57-.33,1.19-.7,1.54-.92A8.71,8.71,0,0,0,146.86.77h-.47c-2.51.11-6.64,1.84-7,6-.37,3.92,3.07,6.09,6,7.21,5.63,2.15,6.26,3.83,6.42,5.38a4.5,4.5,0,0,1-1.22,3.31,5.05,5.05,0,0,1-3.74,1.63h-.12c-2.9,0-5.48-2.84-6.37-5.63l-2.78,2.63a9.35,9.35,0,0,0,9.18,6.25H147c4.8-.12,8.56-3.5,8.74-7.85C155.94,16.11,153.61,13.45,148.46,11.38Zm-31.3,8.32L100.9,1.31,98.43,3.77V28l3.8-3.8V8.46l17.13,19.41,1.71-1.71V.58l-3.91,3.89Z"></path></svg>
          </div>
       </div>
    </div>
      <div class="page-width" >
        <div class="grid grid--no-gutters" id="footermenu">
          <div class="grid__item text-center">
            {% if linklists[section.settings.footer_linklist].links.size > 0 %}
              <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %} left-menu">
                {% for link in linklists[section.settings.footer_linklist].links %}
                  <li class="site-footer__linklist-item">
                    <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

<!--           <div class="grid__item small--one-half medium-up--one-half text-center">
            {% if linklists[section.settings.footer_linklist_two].links.size > 0 %}
              <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %} right-menu">
                {% for link in linklists[section.settings.footer_linklist_two].links %}
                  <li class="site-footer__linklist-item">
                    <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div> -->

          {% if section.settings.footer_newsletter_enable %}
            <div class="grid__item medium-up--one-half">
              <div class="site-footer__newsletter">
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <label for="Email" class="h4">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                    <div class="input-group">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <input type="email"
                        name="contact[email]"
                        id="Email"
                        class="input-group__field newsletter__input"
                        value="{% if customer %}{{ customer.email }}{% endif %}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        autocorrect="off"
                        autocapitalize="off">
                      <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                        </button>
                      </span>
                    </div>
                  {% endif %}
                {% endform %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
  </div>
  
  
  <div>
  <div class="grid grid--no-gutters">
<!--     <div class="page-width" id="footer3">     
      <div class="grid__item text-center">
        {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
        <ul class="site-footer__linklist_3{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %} left-menu">
          {% for link in linklists[section.settings.footer_linklist_three].links %}
          <li class="grid__item small--one-half medium-up--one-half">
            <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div> -->
      {% if social_icons %}
    	<p class="social-title">Follow Skinsei on social media</p>
        <div class="grid__item{% if section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
          <ul class="list--inline site-footer__social-icons social-icons">
            {% if settings.social_instagram_link != blank %}
              <li class="instagram">
                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  {% include 'icon-instagram' %}
                  <span class="icon__fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li class="youtube">
                <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                  {% include 'icon-youtube' %}
                  <span class="icon__fallback-text">YouTube</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
              <li class="facebook">
                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                  {% include 'icon-facebook' %}
                  <span class="icon__fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li class="twitter">
                <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  {% include 'icon-twitter' %}
                  <span class="icon__fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li class="pinterest">
                <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  {% include 'icon-pinterest' %}
                  <span class="icon__fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}            
            {% if settings.social_tumblr_link != blank %}
              <li class="tumblr">
                <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% include 'icon-tumblr' %}
                  <span class="icon__fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
              <li class="snapchat">
                <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% include 'icon-snapchat' %}
                  <span class="icon__fallback-text">Snapchat</span>
                </a>
              </li>
            {% endif %}            
            {% if settings.social_vimeo_link != blank %}
              <li class="vimeo">
                <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% include 'icon-vimeo' %}
                  <span class="icon__fallback-text">Vimeo</span>
                </a>
              </li>
            {% endif %}
            {% if template.name == 'blog' or template.name == 'article' %}
              <li class="rss">
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    
    <div class="grid__item text-center">
      {% if linklists[section.settings.footer_linklist_four].links.size > 0 %}
      <ul class="site-footer__linklist_1{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %} left-menu">
        {% for link in linklists[section.settings.footer_linklist_four].links %}
        <li class="site-footer__linklist-item_1">
          <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="grid__item text-center" id="loginbtn">
      <a href="/account" class="login-to-your-account">LOGIN TO YOUR ACCOUNT</a>
    </div>
    <div class="grid__item text-center" id="assessmentbtn">
      <a href="/pages/assessment" class="begin-your-assessment">Begin your assessment </a>
    </div>
{%comment%}
     <div class="grid__item{% if section.settings.footer_newsletter_enable and social_icons == true %} medium-up--one-half{% else %} text-center{% endif %}">
        <div class="site-footer__copyright{% if social_icons and section.settings.footer_newsletter_enable != blank %} site-footer__copyright--right medium-up--text-right{% elsif social_icons == false and section.settings.footer_newsletter_enable %} medium-up--text-left{% endif %}">
          {% unless social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
            <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
            <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
          {% endunless %}
          {% if section.settings.show_payment_icons %}
            <div class="site-footer__payment-icons{% unless social_icons or section.settings.footer_newsletter_enable == blank %} site-footer__payment-icons--right{% endunless %}">
              {% unless shop.enabled_payment_types == empty %}
                {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,klarna,litecoin,maestro,master,paypal,stripe,shopify_pay,visa' | split: ',' -%}
                <ul class="payment-icons list--inline">
                  {% for type in shop.enabled_payment_types %}
                    {% if payment_icons_available contains type %}
                      <li class="payment-icon">
                        {%- assign icon_name = type | prepend: 'icon-' -%}
                        {% include icon_name %}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endunless %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
      <div class="site-footer__copyright--bottom">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
        <small class="site-footer__copyright-content">{{ powered_by_link }}</small>
      </div>
    {% endif %}
  </div>
  {%endcomment%}
</footer>

<script>
  $(document).ready(function() {
    {% if customer  %}
		$('#loginbtn .login-to-your-account').text("LOG OUT");
    	$('#loginbtn .login-to-your-account').attr('href', '/account/logout');
  	{% else %}
  		$('#loginbtn .login-to-your-account').text("LOGIN TO YOUR ACCOUNT");
    	$('#loginbtn .login-to-your-account').attr('href', '/account');
    {% endif %}
  });
</script>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu",
        "info": "This menu won't show dropdown items"
      },
{
        "type": "link_list",
        "id": "footer_linklist_three",
        "label": "Additional menu 3",
        "default": "main-menu",
        "info": "This menu won't show dropdown items"
      },
{
        "type": "link_list",
        "id": "footer_linklist_four",
        "label": "Additional menu 4",
        "default": "main-menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
