<div data-section-id="{{ section.id }}" data-section-type="quotes">
  <div class="myslick-slider">
	<section class="single-item slider"> 
<!--      <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button> -->
      <div class="con-item">
        <a href="#1">
          {{ section.settings.image-1 | img_url: 'original' | img_tag }}
        </a>
        <h3 class="con-item-desc" align="center">{{section.settings.desc-1}}</h3>
        <div class="con-item-name"><strong>{{section.settings.name-1}}</strong><span class="con-item-place">{{section.settings.place-1}}</span></div>
      </div>
      <div class="con-item">
        <a href="#2">
          {{ section.settings.image-10 | img_url: 'original' | img_tag }}
        </a>
        <h3 class="con-item-desc" align="center">{{section.settings.desc-2}}</h3>
        <div class="con-item-name"><strong>{{section.settings.name-2}}</strong><span class="con-item-place">{{section.settings.place-2}}</span></div>
      </div>
      <div class="con-item">
        <a href="#3">
          {{ section.settings.image-100 | img_url: 'original' | img_tag }}
        </a>
        <h3 class="con-item-desc" align="center">{{section.settings.desc-3}}</h3>
        <div class="con-item-name"><strong>{{section.settings.name-3}}</strong><span class="con-item-place">{{section.settings.place-3}}</span></div>
      </div>
<!--      <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Previous" role="button" style="display: block;">Next</button> -->
  	</section>  
  </div>

  <p class="themecolor text-center heading-home" style="padding: 2% 10%;" >{{section.settings.title}}</p>
  <img src="{{section.settings.image-2 | img_url: 'original'}}" style="width: 100%;padding: 0 10%;">
  <p class="bodyclass" style="padding: 5% 6%;text-align: center;">{{section.settings.title-1}}</p>
</div>
<div class="page-width begin-assessment">
	<a style="width: 100%;padding: 20px 0;" href="/pages/assessment" class="btn">BEGIN YOUR ASSESMENT</a>
</div>

<script type="text/javascript">
    $(document).on('ready', function() {
      $('.single-item').slick({
          dots: false,
          arrows: true,	
		  slidesToShow: 1,
		  autoplay: true,
		  autoplaySpeed: 3000
		});		  
    });
</script>

{% schema %}
  {
    "name": "Home Top",
    "settings": [
       {
        "type": "text",
        "id": "title",
        "label": "Main Heading"
      },
      {
        "type": "textarea",
        "id": "title-1",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "image-1",
        "label": "Banner Image"
      },
	{
        "type": "text",
        "id": "desc-1",
        "label": "Description 1"
      },
  	 {
        "type": "text",
        "id": "name-1",
        "label": "Slider Name 1"
      },
    {
        "type": "text",
        "id": "place-1",
        "label": "Slider Place 1"
      },
	 {
        "type": "image_picker",
        "id": "image-10",
        "label": "Banner Image"
      },
	{
        "type": "text",
        "id": "desc-2",
        "label": "Description 2"
      },
  	{
        "type": "text",
        "id": "name-2",
        "label": "Slider Name 2"
      },
    {
        "type": "text",
        "id": "place-2",
        "label": "Slider Place 2"
      },
	 {
        "type": "image_picker",
        "id": "image-100",
        "label": "Banner Image"
      },
	{
        "type": "text",
        "id": "desc-3",
        "label": "Description 3"
      },
    {
        "type": "text",
        "id": "name-3",
        "label": "Slider Name 3"
      },
    {
        "type": "text",
        "id": "place-3",
        "label": "Slider Place 3"
      },
      {
        "type": "image_picker",
        "id": "image-2",
        "label": "Second Image"
      }
    ],
    "presets": [
      {
        "name": "Home Top",
        "category": "Text"
      }
    ]
  }
{% endschema %}
