<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
    <div class="width100">
       <h2 class="h3 text-center themecolor">{{ section.settings.title-1 | escape }}</h2>
       <img src="{{ section.settings.image-1 | img_url: '200x200' }}" style="width: 100%;    padding-right: 11px;">
       <p>{{ section.settings.content-1 | escape }}</p>
  </div>
  <div class="seperation-line"></div>
  <div class="width100">
       <h2 class="h3 text-center themecolor">{{ section.settings.title-2 | escape }}</h2>
       <img src="{{ section.settings.image-2 | img_url: '200x200' }}" style="width: 100%;    padding-right: 11px;">
       <p>{{ section.settings.content-2 | escape }}</p>
  </div>
  <div class="seperation-line"></div>
  <div class="width100">
       <h2 class="h3 text-center themecolor">{{ section.settings.title-3 | escape }}</h2>
       <img src="{{ section.settings.image-3 | img_url: '200x200' }}" style="width: 100%;    padding-right: 11px;">
       <p>{{ section.settings.content-3 | escape }}</p>
  </div>
  
</div>

{% schema %}
  {
    "name": "how it works page content",
"class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title-1",
        "label": "Heading",
        "default": "What People Say"
      },
      {
        "type": "textarea",
        "id": "content-1",
        "label": "Content 1"
      },
      {
        "type": "image_picker",
        "id": "image-1",
        "label": "Image 1"
      },
{
        "type": "text",
        "id": "title-2",
        "label": "Heading 2",
        "default": "What People Say"
      },
      {
        "type": "textarea",
        "id": "content-2",
        "label": "Content 2"
      },
      {
        "type": "image_picker",
        "id": "image-2",
        "label": "Image 2"
      },
     {
        "type": "text",
        "id": "title-3",
        "label": "Heading 3",
        "default": "What People Say"
      },
      {
        "type": "textarea",
        "id": "content-3",
        "label": "Content 3"
      },
      {
        "type": "image_picker",
        "id": "image-3",
        "label": "Image 3"
      }
    ],
    "presets": [
      {
        "name": "how it works page content",
        "category": "Text"
      }
    ]
  }
{% endschema %}
