<div class="page-width">
{% if section.settings.title != blank %}
        <h2 class="h3 headclass">{{ section.settings.title | escape }}</h2>
      {% endif %}
</div>
<div class="">
  <div class="grid">
   <div class="grid__item small--one-whole medium-up--one-whole">
     {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | img_url: 'original' }}" style="width: 100%;margin:15px 0;">

        <noscript>
          {{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image' }}
        </noscript>
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  </div> 
</div>
<div class="page-width">
  <div class="text-cont">      
    <div>
      {% if section.settings.text-2 != blank %}
        <div class="rte-setting featured-row__subtext">{{ section.settings.text-2 }}</div>
      {% endif %}
    </div>
    {% if section.settings.text-3 != blank %}
    <div class="text-center themecolor" style="padding: 20px 45px;"><strong>{{ section.settings.text-3 }}</strong></div>
      {% endif %}
  </div>
  <div>
      <div>
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
              <a href="{{ section.settings.button_link }}" class="blnk-btn">
                {{ section.settings.button_label | escape }}
              </a>
        {% endif %}
    </div>
  </div> 
</div> 

{% schema %}
  {
    "name": "Our philosophy",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text-2",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "text-3",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Our philosophy",
        "category": "Image"
      }
    ]
  }
{% endschema %}
