<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="text-center">
      <h2 class="h3 headclass">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
  <div class="width100">
    <div class="width35 text-center">
       <img src="{{ section.settings.press-image-1 | img_url: '200x200' }}" style="width: 100%;    padding-right: 11px;">
    </div>
    <div class="width65">
      <p>{{ section.settings.press-content-1 | escape }}</p>
    </div>
  </div>
  <div class="width100">
    <div class="width35 text-center">
       <img src="{{ section.settings.press-image-2 | img_url: '200x200' }}" style="width: 100%;    padding-right: 11px;">
    </div>
    <div class="width65">
      <p>{{ section.settings.press-content-2 | escape }}</p>
    </div>
  </div>
  <div class="width100">
    <div class="width35 text-center">
       <img src="{{ section.settings.press-image-3 | img_url: '200x200' }}" style="width: 100%;    padding-right: 11px;">
    </div>
    <div class="width65">
      <p>{{ section.settings.press-content-3 | escape }}</p>
    </div>
  </div>
  <div class="width100">
    <div class="width35 text-center">
       <img src="{{ section.settings.press-image-4 | img_url: '200x200' }}" style="width: 100%;    padding-right: 11px;">
    </div>
    <div class="width65">
      <p>{{ section.settings.press-content-4 | escape }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Press",
"class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "What People Say"
      },
      {
        "type": "textarea",
        "id": "press-content-1",
        "label": "press  comment 1"
      },
      {
        "type": "image_picker",
        "id": "press-image-1",
        "label": "press Image 1"
      },
      {
        "type": "textarea",
        "id": "press-content-2",
        "label": "press  comment 2"
      },
      {
        "type": "image_picker",
        "id": "press-image-2",
        "label": "press Image 2"
      },
      {
        "type": "textarea",
        "id": "press-content-3",
        "label": "press  comment 3"
      },
      {
        "type": "image_picker",
        "id": "press-image-3",
        "label": "press Image 3"
      },
      {
        "type": "textarea",
        "id": "press-content-4",
        "label": "press  comment 4"
      },
      {
        "type": "image_picker",
        "id": "press-image-4",
        "label": "press Image 4"
      }
    ],
    "presets": [
      {
        "name": "Press",
        "category": "Text"
      }
    ]
  }
{% endschema %}
