<div class="page-width pricing-options">
    <div class="width100 header-item">
       <h2 class="h3 text-center themecolor">Pricing Options</h2>
  </div>
  <div class="width100 subheader-item">
    <h2 class="h3 text-center themecolor">CORE kit</h2>
    <div class="text-center themecolor" style="font-size: 26px;">3 personalized products</div>
    <div class="pricing-options-product bordercls">
      <div class="pricing-options-product-left">
       <img src="{{ '3product.png' | asset_url }}" style="width: 100%;padding-right: 11px;">
      </div>
      <div class="pricing-options-product-right">
        <p class="price-tag">$49</p>
        <p class="tax-tag">+ tax</p>
      </div>
    </div>
  </div>
  <div class="seperation-line"></div>
  <div class="width100 subheader-item">
      <h2 class="h3 text-center themecolor">COMPLETE kit</h2>
      <div class="text-center themecolor" style="font-size: 26px;">5 personalized products</div>
      <div class="pricing-options-product">
        <div class="pricing-options-product-left">
         <img src="{{ '5product.png' | asset_url }}" style="width: 100%;padding-right: 11px;">
        </div>
        <div class="pricing-options-product-right">
          <p class="price-tag">$79</p>
          <p class="tax-tag">+ tax</p>
        </div>
      </div>
  </div>
  <div class="width100 marin0">
     <div style="text-align: center;">
       <img src="{{ 'money.png' | asset_url }}" style="width: 50%;">
    </div>
  </div>
  <div class="width100 marin0" style="padding: 20px 22px;">
    <p class="bodyclass"><span><img src="{{'arrow.png' | asset_url}}" style="width:25px;"></span><strong>100% money back guarantee</strong></p>
    <p class="bodyclass">if you're not happy with anything for any reason, we'll refund your money.</p>
  </div>
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
