<div  data-section-id="{{ section.id }}" data-section-type="quotes">
  <div class="prorangeaccordion">
    <ul>
      {% for block in section.blocks %}
      <li class="prorange" >
        <div class="page-width mainwidthofaccordian">
          <p class="mainheading themecolor"><strong>{{ block.settings.main-heading | escape }}</strong><span class="arrow-image"><img src="{{ 'arrow_next.png' | asset_url }}"></span></p>
          <div class="width100">
            <div class="width35">
					<img src="{{block.settings.main-image | img_url: 'original'}}">
            </div>
            <div class="width65">
              <p class="paddingleft"><strong>{{ block.settings.main-content | escape }}</strong></p>
            </div>
          </div>
          <div class="width100">
            <div class="width100">
              <a class="blnk-btn" href="{{ block.settings.button_link }}"> SEE {{ block.settings.main-heading | escape }}</a>
            </div>
          </div>  
        </div>
      </li>
      {%endfor%}
    </ul>
  </div>
</div>

<style>
.blnk-btn {
    border: solid 1px #d2d2d2;
  	padding: 12px 0;
}   
</style>  

{% schema %}
  {
    "name": "Product Range Desc Widget",
"class": "index-section",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "text",
            "id": "main-heading",
            "label": "heading"
          },
			{
            "type": "image_picker",
            "id": "main-image",
            "label": "Main Image"
      	  },
          {
            "type": "textarea",
            "id": "main-content",
            "label": "Sub content"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Range Desc Widget",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
