<script type="text/javascript">
  var allProducts = {};
{% for product in collections['all'].products limit: collections['all'].products_count %}
  {% for variant in product.variants %}
    	allProducts["{{variant.sku}}"] = "{{ variant.id }}";
  {% endfor %}
{% endfor %}
</script>