<div>
  <div id="climate-4" class="text-center hiddendiv" style="background: #fff;">
    <p class="titlere">1 OF 8 COMPLETED</p>
    <p class="headre">CLIMATE</p>
    <p class="addre">has been added</p>
    <div style="width: 85%;max-width: 300px;position: relative;margin: 10% auto;" class="prog">
      <img src="{{section.settings.image-climate-result | img_url: 'original'}}" class="">
      <span class="cli">CLIMATE</span>
      <span class="skin">SKIN</span>    
      <span class="air">AIR QUALITY</span> 
      <span class="slep">SLEEP</span> 
      <span class="min">MIND</span>  
      <span class="uv">UV</span>
      <span class="exer">EXERCISE</span>
      <span class="nut">NUTRITION</span>
      
  </div>
  </div>
  
<!-- <div id="climate-4" class="text-center hiddendiv">
  <div style="width: 300px;height: 300px;position: relative;margin: 10% auto;">
        <img src="{{section.settings.image-climate-result | img_url: 'original'}}" class="">
  </div>
comment  <img src="{{section.settings.image-climate-result | img_url: 'original'}}" class="resultimage"> 
</div> -->
  
  <div id="skin-11" class="text-center hiddendiv" style="background: #fff;">
    <p class="titlere">2 OF 8 COMPLETED</p>
    <p class="headre">SKIN</p>
    <p class="addre">has been added</p>
    <div style="width: 85%;max-width: 300px;position: relative;margin: 10% auto;" class="prog">
      <img src="{{section.settings.image-skin-result | img_url: 'original'}}" class="">
      <span class="cli">CLIMATE</span>
      <span class="skin">SKIN</span>    
      <span class="air">AIR QUALITY</span> 
      <span class="slep">SLEEP</span> 
      <span class="min">MIND</span>  
      <span class="uv">UV</span>
      <span class="exer">EXERCISE</span>
      <span class="nut">NUTRITION</span>
  </div>
  </div>
  
   <div id="airquality-4" class="text-center hiddendiv" style="background: #fff;">
    <p class="titlere">3 OF 8 COMPLETED</p>
    <p class="headre">AIR QUALITY</p>
    <p class="addre">has been added</p>
    <div style="width: 85%;max-width: 300px;position: relative;margin: 10% auto;" class="prog">
      <img src="{{section.settings.image-airquality-result | img_url: 'original'}}" class="">
      <span class="cli">CLIMATE</span>
      <span class="skin">SKIN</span>    
      <span class="air">AIR QUALITY</span> 
      <span class="slep">SLEEP</span> 
      <span class="min">MIND</span>  
      <span class="uv">UV</span>
      <span class="exer">EXERCISE</span>
      <span class="nut">NUTRITION</span>
  </div>
  </div>
  
  
  
<!--   <div id="airquality-4" class="text-center hiddendiv">
  <img src="{{section.settings.image-airquality-result | img_url: 'original'}}" class="resultimage">
</div> -->
  
  <div id="uv-3" class="text-center hiddendiv" style="background: #fff;">
    <p class="titlere">6 OF 8 COMPLETED</p>
    <p class="headre">UV</p>
    <p class="addre">has been added</p>
    <div style="width: 85%;max-width: 300px;position: relative;margin: 10% auto;" class="prog">
      <img src="{{section.settings.image-uv-result | img_url: 'original'}}" class="">
      <span class="cli">CLIMATE</span>
      <span class="skin">SKIN</span>    
      <span class="air">AIR QUALITY</span> 
      <span class="slep">SLEEP</span> 
      <span class="min">MIND</span>  
      <span class="uv">UV</span>
      <span class="exer">EXERCISE</span>
      <span class="nut">NUTRITION</span>
  </div>
  </div>
  
<!-- <div id="uv-3" class="text-center hiddendiv">
   <img src="{{section.settings.image-uv-result | img_url: 'original'}}" class="resultimage" >
  </div> -->
  
   <div id="sleep-4" class="text-center hiddendiv" style="background: #fff;">
    <p class="titlere">4 OF 8 COMPLETED</p>
    <p class="headre">SLEEP</p>
    <p class="addre">has been added</p>
    <div style="width: 85%;max-width: 300px;position: relative;margin: 10% auto;" class="prog">
      <img src="{{ 'sleep.png' | asset_url }}" class="">
      <span class="cli">CLIMATE</span>
      <span class="skin">SKIN</span>    
      <span class="air">AIR QUALITY</span> 
      <span class="slep">SLEEP</span> 
      <span class="min">MIND</span>  
      <span class="uv">UV</span>
      <span class="exer">EXERCISE</span>
      <span class="nut">NUTRITION</span> 
  </div>
  </div>
  
<!--   <div id="sleep-4" class="text-center hiddendiv" >
   <img src="{{section.settings.image-sleep-result | img_url: 'original'}}" class="resultimage"  >
  </div> -->
  
    <div id="nutrition-6" class="text-center hiddendiv" style="background: #fff;">
    <p class="titlere">7 OF 8 COMPLETED</p>
    <p class="headre">NUTRITION</p>
    <p class="addre">has been added</p>
    <div style="width: 85%;max-width: 300px;position: relative;margin: 10% auto;" class="prog">
      <img src="{{ section.settings.image-nutrition-result | img_url: 'original' }}" class="">
      <span class="cli">CLIMATE</span>
      <span class="skin">SKIN</span>    
      <span class="air">AIR QUALITY</span> 
      <span class="slep">SLEEP</span> 
      <span class="min">MIND</span>  
      <span class="uv">UV</span>
      <span class="exer">EXERCISE</span>
      <span class="nut">NUTRITION</span> 
  </div>
  </div>
  
<!--   <div id="nutrition-6" class="text-center hiddendiv">
   <img src="{{section.settings.image-nutrition-result | img_url: 'original'}}" class="resultimage">
  </div> -->
  
  <div id="exercise-3" class="text-center hiddendiv" style="background: #fff;">
    <p class="titlere">8 OF 8 COMPLETED</p>
    <p class="headre">EXERCISE</p>
    <p class="addre">has been added</p>
    <div style="width: 85%;max-width: 300px;position: relative;margin: 10% auto;" class="prog">
        <img src="{{section.settings.image-exercise-result | img_url: 'original'}}" class="">
      <span class="cli">CLIMATE</span>
      <span class="skin">SKIN</span>    
      <span class="air">AIR QUALITY</span> 
      <span class="slep">SLEEP</span> 
      <span class="min">MIND</span>  
      <span class="uv">UV</span>
      <span class="exer">EXERCISE</span>
      <span class="nut">NUTRITION</span>
  </div>
  </div>
  
<!--   <div id="exercise-3" class="text-center hiddendiv" >
   <img src="{{section.settings.image-exercise-result | img_url: 'original'}}" class="resultimage"  >
  </div> -->
  
  <div id="mind-2" class="text-center hiddendiv" style="background: #fff;">
    <p class="titlere">5 OF 8 COMPLETED</p>
    <p class="headre">MIND</p>
    <p class="addre">has been added</p>
    <div style="width: 85%;max-width: 300px;position: relative;margin: 10% auto;" class="prog">
        <img src="{{ section.settings.image-mind-result | img_url: 'original' }}" class="">
      <span class="cli">CLIMATE</span>
      <span class="skin">SKIN</span>    
      <span class="air">AIR QUALITY</span> 
      <span class="slep">SLEEP</span> 
      <span class="min">MIND</span>  
      <span class="uv">UV</span>
      <span class="exer">EXERCISE</span>
      <span class="nut">NUTRITION</span>
  </div>
  </div>
  
<!--   <div id="mind-2" class="text-center hiddendiv">
  <img src="{{section.settings.image-mind-result | img_url: 'original'}}" class="resultimage">
</div> -->  
  
</div>

<div class="processing-result">
  <div id="main-container" class="page-width text-center">
    <div style="margin-top: 20px;" class="head-results-12">PROCESSING RESULTS</div>
    <h2 class="h3 head-results" style="font-weight: 100;margin-top: 20px;">Analyzing your data...</h2>
  </div>
  <div id="starburst-viz" class="Starburst__starburst_viz___2H7ng">
   	<canvas id="myCanvas" width="375" height="375" style="width: 320px; height: 320px;"></canvas>
   	<svg class="starburst-d3" width="320" height="320" viewBox="0 0 320 320"><g class="starburst-progress" transform="translate(187.5,187.5)"></g></svg>

   </div> 
  
  <!--   <div class="text-center progressbar">
    <div class="progressbar-data"></div>
    <span class="progressbar-data-span">30%</span>
  </div> -->
  <div class="text-center" style="margin-top: 20px;">
    <div class="results-bottom-text">CONNECTING YOUR <span style="color: #9345bb;">SLEEP</span> TO YOUR <span style="color: #9345bb;">SKIN</span></div>
  </div>  
</div>

<form id="questionform" class="text-center" >
          <div id="startass" class="questionmain">
            <div class="mainpagescreen">
              <p class="backbutton">
                <a href="/">
                  <span style="float: left;">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                      <g><path d="M10,292l488.8,489l1.1-1.2l1.2,1.2L990,292l-73-73L500,636L83,219L10,292z"></path></g>
                    </svg>
                  </span>
                </a>
              </p>
              <div class="root">
                <div class="mainstructure">
                  <h2 class="h3 headclass" style="font-weight: 100;margin-top: 20px;">Begin your Assessment</h2>
                  <div class="inputsec">
                    <div style="width: 85%;margin: 20px auto;"><img style="width: 100%;max-width: 320px;" src="https://images.ctfassets.net/trj1jt6vs3fo/KTNLaVf60eOc2saWUKgcC/1c845551800154ccdb7e5fac110198f9/Onboarding_Skinsei.jpg"></div>

                  </div>
                  <div id="gotit">OK, I'VE GOT IT</div>
                </div>
              </div>

            </div>
          </div>
          {%include "q-1-about-u"%}
          {%include "q-2-climate"%}
          {%include "q-3-skin"%}
          {%include "q-4-airquality"%}
  		  {%include "q-sleep"%}
          {%include "q-8-mind"%}
          {%include "q-5-uv"%}  		  
  		  {%include "q-7-nutrition"%}
    	  {%include "q-6-exercise"%}
  		  
<!--          <div><input type="submit" class="submitbtn" value="Next"></div> -->
        </form>

<script src="{{ 'd3-v4.js' | asset_url }}" type="text/javascript"></script>
<script>
      		var data = [450, 450, 450, 450, 450, 450, 450]
      		var currentAnimation = 0
    		var animationSteps = [[135,228,261,278,306,283,355]]
    		var scope = {
    			data: [423.58517673531276, 201.85729090440452, 148.38250970412656, 356.43112346173785, 33.50477380255404, 428.80090134336024, 320.81268211271754]


    		}
    		var dataUpdated = false
      		var PIXEL_RATIO = 1.125
			var width = 330*PIXEL_RATIO
			var height = 330*PIXEL_RATIO
			var styleWidth = '330 px'
			var styleHeight = '330 px'

			var c=document.getElementById("myCanvas")
			var ctx = c.getContext("2d")
			ctx.scale(PIXEL_RATIO,PIXEL_RATIO)		
			var category = 7
			var bars = 28 
			var totalBars = category*bars
			//var barWidth =2*Math.PI/totalBars			
			var innerCircleRadius = 500/10
			var barHeight = 500/2 - 110
			var shadowInnerCircle = innerCircleRadius -20
			var shadowBarHeight = barHeight+10
			var extent = d3.extent([0, 500])
			var barThickness = 2*Math.PI/totalBars
			var barWidth =40*this.barThickness
			var shadowExtent = d3.extent([0, 500 + 30])
			var scales = {}
			scales.bar = d3.scaleLinear().domain(extent).range([innerCircleRadius+5, innerCircleRadius + barHeight - 15])
    		scales.shadow = d3.scaleLinear().domain(shadowExtent).range([shadowInnerCircle, shadowBarHeight])
      		scales.bar.range([0, innerCircleRadius + barHeight - 20])

      		var masks = {}
      		var categoryArcThickness = 2 * Math.PI / 7
      		var categoryMaxOffset = categoryArcThickness*0.5
      		masks.bar = d3.radialLine().radius(d => scales.bar(d)).angle((d,i) => (i * categoryArcThickness) - categoryMaxOffset).curve(d3.curveCardinalClosed).context(ctx)
		   masks.shadow = d3.radialLine().radius(d => scales.shadow(d) + 30).angle((d,i) => (i * categoryArcThickness) - categoryMaxOffset).curve(d3.curveCardinalClosed).context(ctx)

	    	ctx.translate(width/2, width/2)


		    ctx.save()
		    ctx.setTransform(1,0,0,1,0,0)
		    ctx.clearRect(0,0,3*width,3*width)


		    ctx.restore()
		    ctx.save()
		    //drawBackground
		    ctx.beginPath()
		    ctx.rotate(3.1)
		    d3.range(totalBars).forEach(i => {
		      ctx.rotate(barThickness)
		      if (i%2 === 0) {
		        if (i % bars === 0) {
		          ctx.fillStyle = 'rgba(230,230,230, .2)'
		        }
		        else {
		          ctx.fillStyle = 'rgb(230,230,230)'
		        }
		        ctx.fillRect(0, 0, barWidth, innerCircleRadius+barHeight)
		        //ctx.fillRect(0,0,barWidth,innerCircleRadius+barHeight)
		      }
		    })
		    ctx.restore()
   			ctx.save()
   			blob(masks.bar)
   			drawBars(1, 1.8 * barWidth,200)
   			ctx.restore()
   			ctx.save()
   			ctx.beginPath()
   			blob(masks.shadow)
   			drawBars(.4, 1.8 * barWidth,200)
   			ctx.closePath()
   			drawCircle(innerCircleRadius-5)
   			ctx.restore()
   			ctx.save()
   			drawBars(1, 2 * barThickness,innerCircleRadius-5)
   			drawCircle(innerCircleRadius-15)
   			ctx.restore()

   			//animation   			
   			animate()
   			function animate() {
   				update(data, 200, d3.easeLinear)
   				//progress = new Progress(this.containerEl, this.props)
	   			var animationStep	   			
	   			animateMe.call(this);
	   			function animateMe(){
	   				animationStep = animationSteps[currentAnimation]
	   				var ease = (this.currentAnimation === this.animationSteps.length - 1) ? d3.easeBackOut : d3.easeLinear
	   				update(animationStep, 2300, ease)
	   				if(this.currentAnimation === 0) {
				        linkTextAnimation(3000)
				        renderProgress(8000)
				    }
				    currentAnimation++;
				    if(!dataUpdated) {
				        animationSteps = animationSteps.concat([Array(category).fill(0).map(d => Math.floor(Math.random()*450))]);
				        setTimeout(animateMe.bind(this), 2300);
				      } else {
				        // animate only once more for final data
				        if(currentAnimation < animationSteps.length) {
				          setTimeout(animateMe.bind(this), 2300);
				        } else {
				          // display legend
				          /*d3.select(legendEl)
				            .call(legendValues)*/
				          //this.props.onAnimationEnd() // get to next state
				        }
				      }

	   			}	   			
			}

		    function linkTextAnimation(duration) {
			    const scope = this
			    let texts = [
			      `Connecting your <span class="starburst-viz-text-category" style="color: air quality">Lifestyle</span> to your <span style="color: skin}">Skin</span>`,
			      `Connecting your <span style="color: diet}">Environment</span> to your <span style="color: skin}">Skin</span>`
			    ]
			    let linkContainer = d3.select(this.el)
			      .append('p')
			      .attr('class', 'starburst-viz-text-link')
			      .style('color', 'rgb(118,118,118)')
			      .style('font-family', 'textaheavy')
			      .style('text-align', 'center')
			      .style('text-transform', 'uppercase')

			    linkContainer
			      .style('opacity', 0)
			      .html(texts[0])
			      .transition()
			      .duration(duration)
			      .style('opacity', 1)

			    linkContainer
			      .transition()
			      .duration(500)
			      .delay(duration)
			      .style('opacity', 0)
			      .on('end', function() {
			        d3.select(this)
			          .html(texts[1])
			        d3.select(this)
			          .transition()
			          .duration(duration)
			          .style('opacity', 1)
			          .on('end', function() {
			            d3.select(this)
			              .style('opacity', 1)
			              .style('transform', 'translateY(0px)')
			              .transition()
			              .duration(500)
			              .style('transform', 'translateY(12px)')
			              .style('opacity', 0)
			              .remove()
			          })
			      })
			  }

			  function renderProgress(duration) {
			  	let svg = d3.select(document.getElementById("starburst-viz")).append('svg')
				      .attr('class', 'starburst-d3')
				      .attr('width', width)
				      .attr('height', height)
				      .attr('viewBox', `0 0 320 320`)
			  	let progressCounter = svg.append('g')
				      .attr('class', 'starburst-progress')
				      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
			    let progressContainer = progressCounter
			      .append('text')
			      .text('0')
			      .attr('fill', 'steelblue')
			      .attr('text-anchor', 'middle')
			      .attr('font-size', 20)
			      .attr('alignment-baseline', 'middle')

			    progressContainer
			      .transition()
			      .duration(duration)
			      .ease(d3.easeLinear)
			      .tween('text', () => {
			        let i = d3.interpolateNumber(progressContainer.text().replace(/,/g,''), 100)
			        return (t) => {
			          progressContainer.text(parseInt(i(t), 10) + '%')
			        }
			      })
			      .on('end', () => {
			        progressContainer
			          .attr('opacity', 1)
			          .transition(1000)
			          .attr('opacity', 0)
			          .remove()
			      })
			  }

   			function update(newData, duration, ease=d3.easeBackOut, cb) {
			    window.requestAnimationFrame = window.requestAnimationFrame ||
			                                   window.mozRequestAnimationFrame ||
			                                   window.webkitRequestAnimationFrame ||
			                                   window.msRequestAnimationFrame;
			    const scope = this
			    let i = d3.interpolateArray(data, newData)

			    let then
			    let now
			    let delta
			    let interval = 1000/24
			    d3.select({})
			      .transition()
			      .duration(duration)
			      .ease(ease)
			      .tween('animate.masks', maskTween)
			      .on('start', () => {
			        then = Date.now()
			      })
			      .on('end', () => {
			        if(cb) cb()
			      })

			    function maskTween() {
			      return function(t) {
			        now = Date.now()
			        delta = now-then
			        if (delta > interval) {
			          then = now - (delta%interval)
			          window.requestAnimationFrame(() => {
			            scope.data = i(t)
			            draw()
			          })
			        }
			      }
			    }
			}



   			function blob(mask){
   				//console.log([450, 450, 450, 450, 450, 450, 450])
   				ctx.beginPath()
    			mask(data)
    			ctx.clip()
   			}
   			function drawBars(opacity, thickness, radius) {
			    // this.ctx.save()
			    ctx.rotate(3.1)
			    let colors = ["#1d87bf", "#545da8", "#a6408e", "#e85f93", "#fac426", "#7cbca3", "#0fd5b8", "#1d87bf"];
			    let t = 0
			    d3.range(totalBars).forEach(i => {
			      ctx.rotate(barThickness)
			      if (i%2 === 0) {
			        if (i % bars === 0) {
			          	ctx.fillStyle = 'rgba(255,255,255,0)'
			        }
			        else {
			        	//console.log(i)
			        	if(parseInt(i%26)== 0){
			        		t++
			        	}
			        	//console.log(color(i/2))
			        /*	let c = d3.rgb(
			          		d3.scaleLinear()
			          			.domain(d3.range(category+1).map((d,i) => {return bars * i/2 }))
					      		.range(["#1d87bf", "#545da8", "#a6408e", "#e85f93", "#fac426", "#7cbca3", "#0fd5b8", "#1d87bf"])
					      		.interpolate(d3.interpolateCubehelix)
			          	)*/

			          	let c = d3.rgb(
			          		colors[t]
			          	)
			          	c.opacity = opacity
			          	ctx.fillStyle = c.toString()
			        }
			        ctx.fillRect(0,0,thickness,radius)
			      }
			    })


			    // this.ctx.restore()
			}
			function drawCircle(radius) {
			    ctx.beginPath()
			    ctx.fillStyle='white'
			    ctx.arc(0,0,radius,0,2*Math.PI)
			    ctx.fill()
			}
			function draw() {
			    ctx.save()
			    ctx.setTransform(1,0,0,1,0,0)
			      // the rectangle needs to be bigger as it's not covering the whole scaled bioprint
			    ctx.clearRect(0,0,3*width,3*width)
			    ctx.restore()

			    ctx.save()
			    drawBackground()
			    ctx.restore()
			    ctx.save()
			      // this.ctx.beginPath()
			    blob(masks.bar)
			    drawBars(1, 1.8 * barWidth,200)
			      // this.ctx.closePath()
			    ctx.restore()
			    ctx.save()
			    ctx.beginPath()
			    blob(this.masks.shadow)
			    drawBars(.4, 1.8 * barWidth,200)
			    ctx.closePath()

			    drawCircle(innerCircleRadius-5)
			    ctx.restore()

			    ctx.save()
			    drawBars(1, 2 * barThickness,innerCircleRadius-5) // draw center spokes
			    drawCircle(innerCircleRadius-15)
			    ctx.restore()
			  }
			  function drawBackground() {
			    // this.ctx.save()
			    ctx.beginPath()
			    // this.ctx.lineCap = 'round'
			    ctx.rotate(3.1)
			    d3.range(totalBars).forEach(i => {
			      ctx.rotate(barThickness)
			      if (i%2 === 0) {
			        if (i % bars === 0) {
			          ctx.fillStyle = 'rgba(230,230,230, .2)'
			        }
			        else {
			          ctx.fillStyle = 'rgb(230,230,230)'
			        }
			        ctx.fillRect(0,0,barWidth,innerCircleRadius+barHeight)
			      }
			    })
			    // this.ctx.closePath()

			  }
			function color() {
			    return d3.scaleLinear()
			      .domain(d3.range(7+1).map((d,i) => {return 28 * i/2 }))
			      .range(["#1d87bf", "#545da8", "#a6408e", "#e85f93", "#fac426", "#7cbca3", "#0fd5b8", "#1d87bf"])
			      .interpolate(d3.interpolateCubehelix)
			  }




		    // drawBackground
		    /*ctx.beginPath()
		    ctx.lineCap = 'round'
		    ctx.rotate(3.1)
		    d3.range(totalBars).forEach(i => {
		      this.ctx.rotate(barThickness)
		      if (i%2 === 0) {
		        let c = d3.rgb(color(i/2))
		        if (i % 28 === 0) {
		          c.opacity = 0
		        }
		        else {
		          c.opacity = .2
		        }
		        ctx.shadowBlur = 50
		        ctx.shadowColor = c.toString
		        ctx.fillStyle = c.toString()
		        ctx.fillRect(0,0,2*barWidth,innerCircleRadius+barHeight)
		      }
		    })
		    this.ctx.closePath()
		    function color() {
			    return d3.scaleLinear()
			      .domain(d3.range(7+1).map((d,i) => { return 28 * i/2 }))
			      .range(["#1d87bf", "#545da8", "#a6408e", "#e85f93", "#fac426", "#7cbca3", "#0fd5b8", "#1d87bf"])
			      .interpolate(d3.interpolateCubehelix)
			  }
		    function colors() {
			    return ["#1d87bf", "#545da8", "#a6408e", "#e85f93", "#fac426", "#7cbca3", "#0fd5b8", "#1d87bf"]
			  }*/
		</script>

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
        "type": "header",
        "content": "About You"
      },
      {
      	"type": "text",
      	"id": "about-you-1",
      	"label": "First Gender"
      },
		{
      	"type": "text",
      	"id": "about-you-2",
      	"label": "Second Gender"
      },
	 {
      	"type": "checkbox",
      	"id": "about-you",
      	"label": "Select All Value"
      },
 	  {
        "type": "image_picker",
        "id": "image-climate-result",
        "label": "Climate Result"
      },
	  {
        "type": "header",
        "content": "Skin Goal"
      },
{
      	"type": "text",
      	"id": "skin-goal-1",
      	"label": "skin goal 1"
      },
		{
      	"type": "text",
      	"id": "skin-goal-2",
      	"label": "skin goal 2"
      },
	  {
      	"type": "text",
      	"id": "skin-goal-3",
      	"label": "skin goal 3"
      },
		{
      	"type": "text",
      	"id": "skin-goal-4",
      	"label": "skin goal 4"
      },
	  {
      	"type": "text",
      	"id": "skin-goal-5",
      	"label": "skin goal 5"
      },
		{
      	"type": "text",
      	"id": "skin-goal-6",
      	"label": "skin goal 6"
      },
	  {
      	"type": "text",
      	"id": "skin-goal-7",
      	"label": "skin goal 7"
      },
{
        "type": "header",
        "content": "Skin concerns"
      },
{
      	"type": "text",
      	"id": "skin-con-1",
      	"label": "skin concerns 1"
      },
		{
      	"type": "text",
      	"id": "skin-con-2",
      	"label": "skin concerns 2"
      },
	  {
      	"type": "text",
      	"id": "skin-con-3",
      	"label": "skin concerns 3"
      },
		{
      	"type": "text",
      	"id": "skin-con-4",
      	"label": "skin concerns 4"
      },
      {
        "type": "header",
        "content": "face care routine"
      },
      {
      	"type": "text",
      	"id": "face-care-routine-1",
      	"label": "face care routine 1"
      },
		{
      	"type": "text",
      	"id": "face-care-routine-2",
      	"label": "face care routine 2"
      },
	  {
      	"type": "text",
      	"id": "face-care-routine-3",
      	"label": "face care routine 3"
      },
		{
      	"type": "text",
      	"id": "face-care-routine-4",
      	"label": "face care routine 4"
      },
	  {
      	"type": "text",
      	"id": "face-care-routine-5",
      	"label": "face care routine 5"
      },
		{
      	"type": "text",
      	"id": "face-care-routine-6",
      	"label": "face care routine 6"
      },
	  {
        "type": "header",
        "content": "your concern/s"
      },
      {
      	"type": "text",
      	"id": "your-con-s-1",
      	"label": "your concern/s 1"
      },
		{
      	"type": "text",
      	"id": "your-con-s-2",
      	"label": "your concern/s 2"
      },
	  {
      	"type": "text",
      	"id": "your-con-s-3",
      	"label": "your concern/s 3"
      },
		{
      	"type": "text",
      	"id": "your-con-s-4",
      	"label": "your concern/s 4"
      },
	  {
        "type": "header",
        "content": "your sensitivty or redness affect"
      },
      {
      	"type": "text",
      	"id": "your-sen-redness-1",
      	"label": "your sensitivty or redness affect 1"
      },
		{
      	"type": "text",
      	"id": "your-sen-redness-2",
      	"label": "your sensitivty or redness affect 2"
      },
	  {
      	"type": "text",
      	"id": "your-sen-redness-3",
      	"label": "your sensitivty or redness affect 3"
      },
		{
      	"type": "text",
      	"id": "your-sen-redness-4",
      	"label": "your sensitivty or redness affect 4"
      },
		{
      	"type": "text",
      	"id": "your-sen-redness-5",
      	"label": "your sensitivty or redness affect 5"
      },
		{
      	"type": "text",
      	"id": "your-sen-redness-6",
      	"label": "your sensitivty or redness affect 6"
      },
     {
        "type": "header",
        "content": "SPF protection from"
      },
      {
      	"type": "text",
      	"id": "spf-pro-1",
      	"label": "SPF protection from 1"
      },
		{
      	"type": "text",
      	"id": "spf-pro-2",
      	"label": "SPF protection from 2"
      },
	  {
      	"type": "text",
      	"id": "spf-pro-3",
      	"label": "SPF protection from 3"
      },
		{
      	"type": "text",
      	"id": "spf-pro-4",
      	"label": "SPF protection from 4"
      },
		{
      	"type": "text",
      	"id": "spf-pro-5",
      	"label": "SPF protection from 5"
      },
		{
      	"type": "text",
      	"id": "spf-pro-6",
      	"label": "SPF protection from 6"
      },
     {
        "type": "header",
        "content": "your makeup routine"
      },
      {
      	"type": "text",
      	"id": "makeup-routine-1",
      	"label": "your makeup routine 1"
      },
		{
      	"type": "text",
      	"id": "makeup-routine-2",
      	"label": "your makeup routine 2"
      },
	  {
      	"type": "text",
      	"id": "makeup-routine-3",
      	"label": "your makeup routine 3"
      },
		{
      	"type": "text",
      	"id": "makeup-routine-4",
      	"label": "your makeup routine 4"
      },		
     {
        "type": "header",
        "content": "What makeup look do you most often go for?"
      },
      {
      	"type": "text",
      	"id": "makeup-often-go-1",
      	"label": "Makeup most often go for 1"
      },
		{
      	"type": "text",
      	"id": "makeup-often-go-2",
      	"label": "Makeup most often go for 2"
      },
	  {
      	"type": "text",
      	"id": "makeup-often-go-3",
      	"label": "Makeup most often go for 3"
      },
		{
      	"type": "text",
      	"id": "makeup-often-go-4",
      	"label": "Makeup most often go for 4"
      },
		{
      	"type": "text",
      	"id": "makeup-often-go-5",
      	"label": "Makeup most often go for 5"
      },
		{
      	"type": "text",
      	"id": "makeup-often-go-6",
      	"label": "Makeup most often go for 6"
      },
     {
        "type": "header",
        "content": "supplements to support your skin health"
      },
      {
      	"type": "text",
      	"id": "supp-support-skin-1",
      	"label": "supplements to support your skin health 1"
      },
		{
      	"type": "text",
      	"id": "supp-support-skin-2",
      	"label": "supplements to support your skin health 2"
      },
	  {
      	"type": "text",
      	"id": "supp-support-skin-3",
      	"label": "supplements to support your skin health 3"
      },
		{
      	"type": "text",
      	"id": "supp-support-skin-4",
      	"label": "supplements to support your skin health 4"
      },

		{
        "type": "header",
        "content": "supplements to boost your skin health"
      },
      {
      	"type": "text",
      	"id": "supp-boost-skin-1",
      	"label": "supplements to boost your skin health 1"
      },
		{
      	"type": "text",
      	"id": "supp-boost-skin-2",
      	"label": "supplements to boost your skin health 2"
      },
	  {
      	"type": "text",
      	"id": "supp-boost-skin-3",
      	"label": "supplements to boost your skin health 3"
      },

     {
        "type": "header",
        "content": "skin on your arms and legs feel"
      },
      {
      	"type": "text",
      	"id": "your-skin-arms-legs-1",
      	"label": "skin on your arms and legs feel 1"
      },
		{
      	"type": "text",
      	"id": "your-skin-arms-legs-2",
      	"label": "skin on your arms and legs feel 2"
      },
	  {
      	"type": "text",
      	"id": "your-skin-arms-legs-3",
      	"label": "skin on your arms and legs feel 3"
      },
		{
      	"type": "text",
      	"id": "your-skin-arms-legs-4",
      	"label": "skin on your arms and legs feel 4"
      },
		{
      	"type": "text",
      	"id": "your-skin-arms-legs-5",
      	"label": "skin on your arms and legs feel 5"
      },
 	  {
        "type": "image_picker",
        "id": "image-skin-result",
        "label": "Skin Result"
      }, 
      {
        "type": "header",
        "content": ">How do you get to work?"
      },
      {
      	"type": "text",
      	"id": "air-get-to-work-1",
      	"label": "you get to work 1"
      },
		{
      	"type": "text",
      	"id": "air-get-to-work-2",
      	"label": "you get to work 2"
      },
	  {
      	"type": "text",
      	"id": "air-get-to-work-3",
      	"label": "you get to work 3"
      },
		{
      	"type": "text",
      	"id": "air-get-to-work-4",
      	"label": "you get to worke 4"
      },
		{
      	"type": "text",
      	"id": "air-get-to-work-5",
      	"label": "you get to work 5"
      },
		{
      	"type": "text",
      	"id": "air-get-to-work-6",
      	"label": "you get to work 6"
      },
      {
        "type": "header",
        "content": "Do you smoke?"
      },
      {
      	"type": "text",
      	"id": "air-do-smoke-1",
      	"label": "Do you smoke 1"
      },
		{
      	"type": "text",
      	"id": "air-do-smoke-2",
      	"label": "Do you smoke 2"
      },
	  {
      	"type": "text",
      	"id": "air-do-smoke-3",
      	"label": "Do you smoke 3"
      },
		{
      	"type": "text",
      	"id": "air-do-smoke-4",
      	"label": "Do you smoke 4"
      },
 	  {
        "type": "image_picker",
        "id": "image-airquality-result",
        "label": "Air Quality Result"
      },
	  {
        "type": "header",
        "content": "an average daytime are you outdoors on "
      },
      {
      	"type": "text",
      	"id": "uv-outdoor-time-1",
      	"label": "outdoor time 1"
      },
		{
      	"type": "text",
      	"id": "uv-outdoor-time-2",
      	"label": "outdoor time 2"
      },
	  {
      	"type": "text",
      	"id": "uv-outdoor-time-3",
      	"label": "outdoor time 3"
      },
		{
      	"type": "text",
      	"id": "uv-outdoor-time-4",
      	"label": "outdoor time 4"
      },
		{
      	"type": "text",
      	"id": "uv-outdoor-time-5",
      	"label": "outdoor time 5"
      },
      {
        "type": "header",
        "content": "digital device hour"
      },
      {
      	"type": "text",
      	"id": "uv-digital-device-hour-1",
      	"label": "digital device hour 1"
      },
		{
      	"type": "text",
      	"id": "uv-digital-device-hour-2",
      	"label": "digital device hour 2"
      },
	  {
      	"type": "text",
      	"id": "uv-digital-device-hour-3",
      	"label": "digital device hour 3"
      },
		{
      	"type": "text",
      	"id": "uv-digital-device-hour-4",
      	"label": "digital device hour 4"
      }
	  ,
	  {
      	"type": "text",
      	"id": "uv-digital-device-hour-5",
      	"label": "digital device hour 5"
      },
 	  {
        "type": "image_picker",
        "id": "image-uv-result",
        "label": "UV Result"
      },
	  {
        "type": "header",
        "content": "kinds of exercise do you do "
      },
      {
      	"type": "text",
      	"id": "exercise-kind-1",
      	"label": "kinds of exercise 1"
      },
		{
      	"type": "text",
      	"id": "exercise-kind-2",
      	"label": "kinds of exercise 2"
      },
	  {
      	"type": "text",
      	"id": "exercise-kind-3",
      	"label": "kinds of exercise 3"
      },
		{
      	"type": "text",
      	"id": "exercise-kind-4",
      	"label": "kinds of exercise 4"
      },
		{
      	"type": "text",
      	"id": "exercise-kind-5",
      	"label": "kinds of exercise 5"
      },
      {
        "type": "header",
        "content": "exercise last month"
      },
      {
      	"type": "text",
      	"id": "exercise-last-month-1",
      	"label": "exercise last month 1"
      },
		{
      	"type": "text",
      	"id": "exercise-last-month-2",
      	"label": "exercise last month 2"
      },
	  {
      	"type": "text",
      	"id": "exercise-last-month-3",
      	"label": "exercise last month 3"
      },
		{
      	"type": "text",
      	"id": "exercise-last-month-4",
      	"label": "exercise last month 4"
      }
	  ,
	  {
      	"type": "text",
      	"id": "exercise-last-month-5",
      	"label": "exercise last month 5"
      },
 	  {
        "type": "image_picker",
        "id": "image-exercise-result",
        "label": "exercise Result"
      },
	  {
        "type": "header",
        "content": "What can't you live without?"
      },
      {
      	"type": "text",
      	"id": "can-notleave-1",
      	"label": "you can't live without 1"
      },
		{
      	"type": "text",
      	"id": "can-notleave-2",
      	"label": "you can't live without 2"
      },
	  {
      	"type": "text",
      	"id": "can-notleave-3",
      	"label": "you can't live without 3"
      },
		{
      	"type": "text",
      	"id": "can-notleave-4",
      	"label": "you can't live without 4"
      },
		{
      	"type": "text",
      	"id": "can-notleave-5",
      	"label": "you can't live without 5"
      },
	   
		{
      	"type": "text",
      	"id": "can-notleave-6",
      	"label": "you can't live without 6"
      },
	  
		{
      	"type": "text",
      	"id": "can-notleave-7",
      	"label": "you can't live without 7"
      },
      {
        "type": "header",
        "content": "your go-to snacks"
      },
      {
      	"type": "text",
      	"id": "go-to-snacks-1",
      	"label": "your go-to snacks 1"
      },
		{
      	"type": "text",
      	"id": "go-to-snacks-2",
      	"label": "your go-to snacks 2"
      },
	  {
      	"type": "text",
      	"id": "go-to-snacks-3",
      	"label": "your go-to snacks 3"
      },
		{
      	"type": "text",
      	"id": "go-to-snacks-4",
      	"label": "your go-to snacks 4"
      }
	  ,
	  {
      	"type": "text",
      	"id": "go-to-snacks-5",
      	"label": "your go-to snacks 5"
      },
	  
	  {
      	"type": "text",
      	"id": "go-to-snacks-6",
      	"label": "your go-to snacks 6"
      },
      {
        "type": "header",
        "content": "daily drink water"
      },
      {
      	"type": "text",
      	"id": "daily-drink-water-1",
      	"label": "daily drink water 1"
      },
		{
      	"type": "text",
      	"id": "daily-drink-water-2",
      	"label": "daily drink water 2"
      },
	  {
      	"type": "text",
      	"id": "daily-drink-water-3",
      	"label": "daily drink water 3"
      },
		{
      	"type": "text",
      	"id": "daily-drink-water-4",
      	"label": "daily drink water 4"
      }
	  ,
	  {
      	"type": "text",
      	"id": "daily-drink-water-5",
      	"label": "daily drink water 5"
      },{
        "type": "header",
        "content": "alcohol do you drink per week"
      },
      {
      	"type": "text",
      	"id": "weekly-alcohol-drink-1",
      	"label": "alcohol drink per week 1"
      },
		{
      	"type": "text",
      	"id": "weekly-alcohol-drink-2",
      	"label": "alcohol drink per week 2"
      },
	  {
      	"type": "text",
      	"id": "weekly-alcohol-drink-3",
      	"label": "alcohol drink per week 3"
      },
		{
      	"type": "text",
      	"id": "weekly-alcohol-drink-4",
      	"label": "alcohol drink per week 4"
      }
	  ,
	  {
      	"type": "text",
      	"id": "weekly-alcohol-drink-5",
      	"label": "alcohol drink per week 5"
      },
 	  {
        "type": "image_picker",
        "id": "image-nutrition-result",
        "label": "nutrition Result"
      },
      {
        "type": "header",
        "content": "You sleep on a typical night "
      },
      {
      	"type": "text",
      	"id": "sleep-on-typical-night-1",
      	"label": "sleep on a typical night 1"
      },
		{
      	"type": "text",
      	"id": "sleep-on-typical-night-2",
      	"label": "sleep on a typical night 2"
      },
	  {
      	"type": "text",
      	"id": "sleep-on-typical-night-3",
      	"label": "sleep on a typical night 3"
      },
		{
      	"type": "text",
      	"id": "sleep-on-typical-night-4",
      	"label": "sleep on a typical night 4"
      },
		{
      	"type": "text",
      	"id": "sleep-on-typical-night-5",
      	"label": "sleep on a typical night 5"
      },
      {
        "type": "header",
        "content": "feel when you wake up mornings?"
      },
      {
      	"type": "text",
      	"id": "feel-wakeup-morn-1",
      	"label": "feel when you wake up mornings 1"
      },
		{
      	"type": "text",
      	"id": "feel-wakeup-morn-2",
      	"label": "feel when you wake up mornings 2"
      },
	  {
      	"type": "text",
      	"id": "feel-wakeup-morn-3",
      	"label": "feel when you wake up mornings 3"
      },
		{
      	"type": "text",
      	"id": "feel-wakeup-morn-4",
      	"label": "feel when you wake up mornings 4"
      }
	  ,
      {
        "type": "header",
        "content": "daily drink caffeinated"
      },
      {
      	"type": "text",
      	"id": "daily-drink-caffeinated-1",
      	"label": "daily drink caffeinated 1"
      },
		{
      	"type": "text",
      	"id": "daily-drink-caffeinated-2",
      	"label": "daily drink caffeinated 2"
      },
	  {
      	"type": "text",
      	"id": "daily-drink-caffeinated-3",
      	"label": "daily drink caffeinated 3"
      },
		{
      	"type": "text",
      	"id": "daily-drink-caffeinated-4",
      	"label": "daily drink caffeinated 4"
      }
	  ,{
        "type": "header",
        "content": "affected-by-stress"
      },
      {
      	"type": "text",
      	"id": "affected-by-stress-1",
      	"label": "affected-by-stress 1"
      },
		{
      	"type": "text",
      	"id": "affected-by-stress-2",
      	"label": "affected-by-stress 2"
      },
	  {
      	"type": "text",
      	"id": "affected-by-stress-3",
      	"label": "affected-by-stress 3"
      },
		{
      	"type": "text",
      	"id": "affected-by-stress-4",
      	"label": "affected-by-stress 4"
      },
 	  {
        "type": "image_picker",
        "id": "image-mind-result",
        "label": "mind Result"
      }
   ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}

