<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="text-center">
      <h2 class="h3 headclass">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
  {% if section.settings.title-2 != blank %}<div class="width100"><p>{{ section.settings.title-2 | escape }}</p></div>{% endif %}
  <div class="width100">
    <div class="width65">
      <div class="review-sec">
      
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#b5b5b5;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
      
      
      </div>
      <p>{{ section.settings.review-content-1 | escape }}</p>
    </div>
    <div class="width35 text-center">
       <img src="{{ section.settings.image-1 | img_url: '200x200' }}" style="width: 100%;">
      <p style="margin: 0;"><strong>{{ section.settings.author-name-1 | escape }}</strong></p>
      <p>{{ section.settings.review-place-1 | escape }}</p>
    </div>
  </div>
  <div class="width100">
    <div class="width35 text-center">
     <img src="{{ section.settings.image-2 | img_url: '200x200' }}" style="width: 100%;">
      <p style="margin: 0;"><strong>{{ section.settings.author-name-2 | escape }}</strong></p>
      <p>{{ section.settings.review-place-2 | escape }}</p>
    </div>
    <div class="width65">
       <div class="review-sec">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
         
         
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
         
         
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
         
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
         
         
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
      
      </div>
      <p>{{ section.settings.review-content-2 | escape }}</p>
    </div>
  </div>
  <div class="width100">
    <div class="width65">
      <div class="review-sec">
      
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#b5b5b5;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
      
      
      </div>
      <p>{{ section.settings.review-content-3 | escape }}</p>
    </div>
    <div class="width35 text-center">
       <img src="{{ section.settings.image-3 | img_url: '200x200' }}" style="width: 100%;">
      <p style="margin: 0;"><strong>{{ section.settings.author-name-3 | escape }}</strong></p>
      <p>{{ section.settings.review-place-3 | escape }}</p>
    </div>
  </div>
  <div class="width100">
   <div class="width35 text-center">
     <img src="{{ section.settings.image-4 | img_url: '200x200' }}" style="width: 100%;">
      <p style="margin: 0;"><strong>{{ section.settings.author-name-4 | escape }}</strong></p>
      <p>{{ section.settings.review-place-4 | escape }}</p>
    </div>
    <div class="width65">
       <div class="review-sec">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
         
         
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
         
         
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
         
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
         
         
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
<polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798   10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
      
      </div>
      <p>{{ section.settings.review-content-4 | escape }}</p>
    </div>
  </div>
  <div class="width100">
    <a class="blnk-btn" href="{{ section.settings.link-btn | escape }}">{{ section.settings.title-btn | escape }}</a>
  </div>
  
</div>

{% schema %}
  {
    "name": "reviews 2",
"class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "What People Say"
      },
	  {
        "type": "text",
        "id": "title-2",
        "label": "Sub Heading"
      },
      {
        "type": "text",
        "id": "title-btn",
        "label": "Button Text",
        "default": "Read Reviews + Press"
      },
      {
        "type": "text",
        "id": "link-btn",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "author-name-1",
        "label": "Author Name 1"
      },
      {
        "type": "text",
        "id": "review-place-1",
        "label": "Review  place 1"
      },
      {
        "type": "textarea",
        "id": "review-content-1",
        "label": "Review  comment 1"
      },
      {
        "type": "image_picker",
        "id": "image-1",
        "label": "Author Image 1"
      },
      {
        "type": "text",
        "id": "author-name-2",
        "label": "Author Name 2"
      },
      {
        "type": "text",
        "id": "review-place-2",
        "label": "Review  place 2"
      },
      {
        "type": "textarea",
        "id": "review-content-2",
        "label": "Review  comment 2"
      },
      {
        "type": "image_picker",
        "id": "image-2",
        "label": "Author Image 2"
      },{
        "type": "text",
        "id": "author-name-3",
        "label": "Author Name 3"
      },
      {
        "type": "text",
        "id": "review-place-3",
        "label": "Review  place 3"
      },
      {
        "type": "textarea",
        "id": "review-content-3",
        "label": "Review  comment 3"
      },
      {
        "type": "image_picker",
        "id": "image-3",
        "label": "Author Image 3"
      },
      {
        "type": "text",
        "id": "author-name-4",
        "label": "Author Name 4"
      },
      {
        "type": "text",
        "id": "review-place-4",
        "label": "Review  place 4"
      },
      {
        "type": "textarea",
        "id": "review-content-4",
        "label": "Review  comment 4"
      },
      {
        "type": "image_picker",
        "id": "image-4",
        "label": "Author Image 4"
      }
    ],
    "presets": [
      {
        "name": "Review 2",
        "category": "Text"
      }
    ]
  }
{% endschema %}
