<div class="selfie-one item-container" id="step-two">
  <div class="left-arrows" id="skin-two"> {% include 'icon-chevron-left' %}</div>
  <div class="skin-main-title text-center m-t-10">Skin selfie tips</div>
  <div class="base-title text-center">for accurate analysis check:</div>
  <div class="skin-type">
    <!-- Type One -->
    <div class="sk-ty type-one m-t-b-25">
      <div class="skin-icon sk-i-one"> <img src="{{ 'selfie-icon1.png' | asset_url }}" alt="Selfie-icon" /></div>
      <div class="sk-que">
        <div class="qe">1. CLEAR FACE</div>
        <div class="sk-ans">Remove any makeup, accessories and glasses you might be wearing</div>
      </div>
    </div>
    <!-- Type one end -->
    <!-- Type two -->
    <div class="sk-ty type-two m-t-b-25">
      <div class="skin-icon sk-i-one"> <img src="{{ 'selfie-icon2.png' | asset_url }}" alt="Selfie-icon" /></div>
      <div class="sk-que">
        <div class="qe">2. EVEN LIGHTING</div>
        <div class="sk-ans">Make sure that you're evenly lit with as few shadows as possible</div>
      </div>
    </div>
    <!-- type two end -->
    <!-- type Three -->
    <div class="sk-ty type-three m-t-b-25">
      <div class="skin-icon sk-i-one"> <img src="{{ 'selfie-icon3.png' | asset_url }}" alt="Selfie-icon" /></div>
      <div class="sk-que">
        <div class="qe">3. HAIR BACK</div>
        <div class="sk-ans">Tie your hair back and face forward so your face visible</div>
      </div>
    </div>
    <!-- type Three End -->
  </div>
   <div class="text-center s-title m-t-b-10">PLEASE ALLOW CAMERA ACCESS</div>
   <div class="sk-bt m-t-b-10" id="sk-bt">
     <div class="c-icon text-center">
       <img src="{{ 'selfie-icon4.png' | asset_url }}" alt="Selfie-icon" />
     </div>
     <div class="text-center bt-take" id="take-sk">TAKE MY SKIN SELEFIE</div>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}