<!-- Js and Css load form anothe server -->
  <script src="https://www.skinseiskincare.com/public/v2/BTBP/js/btbpskincare.min.js"></script>
  <script src="https://www.skinseiskincare.com/public/v2/js/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://www.skinseiskincare.com/public/v2/BTBP/css/btbp_skincare.css">
    {{ 'selfi-js.js' | asset_url | script_tag }}
<!-- End -->
<!-- Css start -->
  {{ 'selfi-css.scss' | asset_url | stylesheet_tag }}
<!-- Css end -->
<!-- Main content Start -->
<div class="selfie-one item-container" id="step-three">
  <div id="java-s-hide-img">
    <img src="{{ 'Selfie-Cam.png' | asset_url }}" alt="Selfie" />
  </div>
  <!-- selfi- skin -->
  <div class="container" ng-app="skincare" ng-controller="skincareController" ng-init="show_config=false;show_concerns=false;skincare_callbacks=false;skincare_methods=false">
		<div id="config_container">
          
			<div class="panel panel-default">
				<div class="panel-head">
					<label>
						<input type="checkbox" ng-model="show_config" /> show Controls</label>
				</div>
				<div class="panel-body">
					<ul class="skincare_config" ng-show="show_config">
						<li ng-repeat="(key, val) in config">
							<label class="checkbox">
								<input type="checkbox" ng-model="config[key]" /> {{key}}</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-head">
					<label>
						<input type="checkbox" ng-model="show_concerns" /> Skin Concerns</label>
				</div>
				<div class="panel-body">
					<ul class="skincare_concerns" ng-show="show_concerns">
						<li ng-repeat="val in skinConcerns">
							<label class="checkbox">
								<input type="checkbox" checked="true" name="skincare_concerns" /> {{val}} </label>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="callnacks_container">
			<div class="panel-head">
				<label>
					<input type="checkbox" ng-model="skincare_callbacks" /> Show Callbacks</label>
			</div>
			<ul class="skincare_callbacks" ng-show="skincare_callbacks">
				<li ng-repeat="(key, val) in callbacks">
					{{key}} :
					<label ng-model="val" id="{{key}}">{{val}}</label>
				</li>
			</ul>
		</div>

		<div id="methods_container">
			<div class="panel-head">
				<label>
					<input type="checkbox" ng-model="skincare_methods" /> Show Methods</label>
			</div>
			<div class="skincare_methods" ng-show="skincare_methods">
				<button id="app_btn_start" onclick="mirror.startMirror();">Start</button>
				<button id="app_btn_destroy" onclick="mirror.destroy();">Destroy</button>
				<button onclick="mirror.show()">Show</button>
				<button onclick="mirror.hide()">Hide</button>
				<button id="app_btn_capture" onclick="mirror.triggerPhotoCapture()">triggerPhotoCapture</button>
				<button id="app_btn_gallery" onclick="mirror.triggerOpenGallery()">triggerOpenGallery</button>
				<button id="app_btn_reject" onclick="mirror.triggerRetakePhoto()">triggerRetakePhoto</button>
				<button id="app_btn_accept" onclick="mirror.triggerAcceptPhoto()">triggerAcceptPhoto</button>
				<button  id="app_btn_rest" onclick="mirror.triggerReset()">triggerReset</button>
			</div>
		</div>
	</div>
   <!-- Selfi End -->
	<div id="mirror_content"></div>

	<button onclick="startMirror();" id="btn_start">Start</button>


	<div id="canvas_container" style="text-align: center;">

	</div>
	<span id="onCaptureSuccess_1"></span>
	<div id="resutls_container" style="display: none;">
		<h4>Results Object</h4>
		<textarea id="txt_results" style="width:90%;resize: none;" rows="15"></textarea>
	</div>

</div>
<!-- Mian Contecnt End -->
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
