<div class="selfie-one item-container" id="step-one">
  <div class="left-arrows" id="skin-one"> {% include 'icon-chevron-left' %}</div>
  <div class="skin-title text-center">FINAL STEP BEFORE RESULTS</div>
  <div class="skin-main-title text-center">Take a skin selfie</div>
  <div class="page-text">Wr're going to take a photo of your face so that we can assess the health of your skin then'll see your results.</div>
  <div class="face-show">
     <img src="{{ 'selfie.png' | asset_url }}" alt="Selfie" />
  </div>
  <div class="skin-btn"><input type="button" class="regimen-kit" id="ok-got-it" value="OK, I'VE GOT IT"></div>
  <div class="skin-links text-center" id="skip-face">I WANT TO SKIP SELFIE</div>
  <div class="show-loading" style="display:none;"><img src="{{ 'loading.gif' | asset_url }}" alt="Selfie" /></div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}