<div data-section-id="{{ section.id }}" data-section-type="quotes">
  <div class="container">
    <p class="themecolor main-headingre" style="">{{section.settings.title}}</p>
       <p style="background: #fff;margin:0;padding: 0 40px 25px;" class="bodyclass">{{section.settings.title-1}}</p>

        <ul class="tabs profile-slider">
          {% for block in section.blocks %}
    	  {% assign blockIndex = forloop.index %}
           <li class="tab-link{% if blockIndex == 1  %} current{% endif %}" data-tab="tab-{{ forloop.index }}"><img src="{{ block.settings.image | img_url: 'original'}}"></li>
    	  {% endfor %}	
    	</ul> 

    	{% for block in section.blocks %}
    	{% assign blockIndex = forloop.index %}
    	<div id="tab-{{ blockIndex }}" class="tab-content{% if blockIndex == 1  %} current{% endif %}">
          <p class="tabnamere bodyclass"><strong>{{ block.settings.author-name }}</strong>.&nbsp;{{ block.settings.author-place}}</p>
            <img src="{{ block.settings.image-main | img_url: 'original'}}" style="width: 100%;">
          <p class="text-center bodyclass" style="text-transform: uppercase;"><strong><span class="themecolor">{{block.settings.author-name}}'S</span>&nbsp;FOCUS AREA</strong></p>
          <img src="{{ block.settings.image-graph | img_url: 'original'}}" style="width: 100%;">
  
    	  <div class="authorcontent">
            <h4 style="font-size: 24px;padding-top: 30px;"><span class="themecolor">{{block.settings.author-name}}'S SKINSEI REGIMEN</span></h4>
            <h4><span class="themecolor"><b>5 PRODUCTS</b></span></h4>
            <h4><span class="themecolor"><b> {{ section.settings.money }} + tax</b></span></h4>
          	<img src="{{'5pro.png' | asset_url }}" style="width: 100%;">
            <div class="tabsection">
              <div class="container">
                  <ul class="tabs-{{ blockIndex }}">
                    <li class="tab-link current" data-tab="tab-{{ blockIndex }}1">1</li>
                    <li class="tab-link" data-tab="tab-{{ blockIndex }}2">2</li>
                    <li class="tab-link" data-tab="tab-{{ blockIndex }}3">3</li>
                    <li class="tab-link" data-tab="tab-{{ blockIndex }}4">4</li>
                    <li class="tab-link" data-tab="tab-{{ blockIndex }}5">5</li>
                  </ul>
                  <div id="tab-{{ blockIndex }}1" class="tab-content-1 current">
                    <h3>1. {{block.settings.tab-name-1}}</h3>
                    <h2 class="themecolor">{{block.settings.tab-title-1}}</h2>
                    <h3 class="themecolor">{{block.settings.tab-number-1}}</h2>
                    <div class="width100">
                      <div class="text-center">
                      <span class="why-we-pick-head-span">Why we picked this for</span><span class="why-we-pick-author"> {{block.settings.author-name}}</span>
                      </div>
                      <div class="width65">                       
                        {% for article in blogs.why-we-picked-this-for-you.articles %}
                        {% if article.handle == block.settings.article-1 %}                     
                        <div class="rte"> {{ article.content }} </div>
                   		{% endif %}
                        {% endfor %}
                      </div>
                      <div class="width35">
                         <img src="{{block.settings.image-tab-1 | img_url: 'original'}}" style="width: 100%;">
                      </div>
                    </div>
                  </div>
                  <div id="tab-{{ blockIndex }}2" class="tab-content-1">
                    <h3>2. {{block.settings.tab-name-2}}</h3>
                    <h2 class="themecolor">{{block.settings.tab-title-2}}</h2>
                    <h2 class="themecolor">{{block.settings.tab-number-2}}</h2>
                    <div class="width100">
                      <div class="text-center">
                      <span class="why-we-pick-head-span">Why we picked this for</span><span class="why-we-pick-author"> {{block.settings.author-name}}</span>
                      </div>
                      <div class="width65">
                        {% for article in blogs.why-we-picked-this-for-you.articles %}                      
                        {% if article.handle == block.settings.article-2 %}                     
                        <div class="rte"> {{ article.content }} </div>
                   		{% endif %}
                        {% endfor %}
                      </div>
                      <div class="width35">
                         <img src="{{block.settings.image-tab-2 | img_url: 'original'}}" style="width: 100%;">
                      </div>
                    </div>
                  </div>
                  <div id="tab-{{ blockIndex }}3" class="tab-content-1">
					<h3>3. {{block.settings.tab-name-3}}</h3>
                    <h2 class="themecolor">{{block.settings.tab-title-3}}</h2>
                    <h2 class="themecolor">{{block.settings.tab-number-3}}</h2>
                    <div class="width100">
                      <div class="text-center">
                      <span class="why-we-pick-head-span">Why we picked this for</span><span class="why-we-pick-author"> {{block.settings.author-name}}</span>
                      </div>
                      <div class="width65">
                        {% for article in blogs.why-we-picked-this-for-you.articles %}                      
                        {% if article.handle == block.settings.article-3 %}                     
                        <div class="rte"> {{ article.content }} </div>
                   		{% endif %}
                        {% endfor %}
                      </div>
                      <div class="width35">
                         <img src="{{block.settings.image-tab-3 | img_url: 'original'}}" style="width: 100%;">
                      </div>
                    </div>                  </div>
                  <div id="tab-{{ blockIndex }}4" class="tab-content-1">
                    <h3>4. {{block.settings.tab-name-4}}</h3>
                    <h2 class="themecolor">{{block.settings.tab-title-4}}</h2>
                    <h2 class="themecolor">{{block.settings.tab-number-4}}</h2>
                    <div class="width100">
                      <div class="text-center">
                      <span class="why-we-pick-head-span">Why we picked this for</span><span class="why-we-pick-author"> {{block.settings.author-name}}</span>
                      </div>
                      <div class="width65">
                        {% for article in blogs.why-we-picked-this-for-you.articles %}                      
                        {% if article.handle == block.settings.article-4 %}                     
                        <div class="rte"> {{ article.content }} </div>
                   		{% endif %}
                        {% endfor %}
                      </div>
                      <div class="width35">
                         <img src="{{block.settings.image-tab-4 | img_url: 'original'}}" style="width: 100%;">
                      </div>
                    </div>
                    
                  </div>
                  <div id="tab-{{ blockIndex }}5" class="tab-content-1">
                    <h4>5. {{block.settings.tab-name-5}}</h4>
                    <h2>{{block.settings.tab-title-5}}</h2>
                    <h2>{{block.settings.tab-number-5}}</h2>
                    <div class="width100">
                      <div class="text-center">
                      <div class="why"><span class="why-we-pick-head-span">Why we picked this for</span><span class="why-we-pick-author"> {{block.settings.author-name}}</span></div>
                      </div>
                      <div class="width65">
                        {% for article in blogs.why-we-picked-this-for-you.articles %}                      
                        {% if article.handle == block.settings.article-5 %}                     
                        <div class="rte"> {{ article.content }} </div>
                   		{% endif %}
                        {% endfor %}
                      </div>
                      <div class="width35">
                         <img src="{{block.settings.image-tab-5 | img_url: 'original'}}" style="width: 100%;">
                      </div>
                    </div>
                  </div>
              </div><!-- container -->
            </div>
            <div class="see-what-skin">
                <h2 class="themecolor">See what your skin says</h2>
                <span class="span-text">Answer a few questions about your skin type, lifestyle, and environment. Get tailored advice and a personalized skin care kit. Ready, set, go.</span>
                <img src="{{ 'kit-range.png' | asset_url }}" style="width: 100%;">
                <a style="width: 100%;padding: 15px 0;" href="/pages/assessment" class="btn">
                  BEGIN YOUR ASSESMENT
                </a>
            </div>
          </div>
          
        </div>
    	{% endfor %}
    	  
  
  </div>  
</div>

<script type="text/javascript">
    $(document).on('ready', function() {
      $('.profile-slider').slick({
          dots: false,
		  slidesToShow: 3,
          infinite: true,	
		  autoplay: false
		});		  
    });
</script>
<style>
  ul.tabs {
   	padding: 5px 50px; 
  }
  ul.tabs img{
   	width:80%;
    opacity: 0.6;
  }
  ul.tabs .current img{
   	width:100%;
    margin: -7%;
    margin-top: -7%;
    opacity: 1;
  }
  .slick-prev:before, .slick-next:before { 
    color:#9345bb !important;
  }
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
  .width100 .text-center {
   	text-align:center; 
    margin-bottom: 10px;
  } 
</style>  

{% schema %}
  {
    "name": "User Profile",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Main Heading"
      },
      {
        "type": "textarea",
        "id": "title-1",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "money",
        "label": "5 product charge"
      }
	],
    "blocks": [
	{
       "type": "story-block",
       "name": "stories",
       "settings": [
		
      {
        "type": "text",
        "id": "author-name",
        "label": "Author Name"
      },

      {
        "type": "text",
        "id": "author-place",
        "label": "Author place"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Author tab Image"
      },
	   {
        "type": "image_picker",
        "id": "image-main",
        "label": "Author main Image"
      },
       {
        "type": "image_picker",
        "id": "image-graph",
        "label": "Author graph Image"
      },
	  {
        "type": "header",
        "content": "Tab"
      },
	  {
        "type": "text",
        "id": "tab-name-1",
        "label": "Tab 1 name "
      },
      {
        "type": "text",
        "id": "tab-title-1",
        "label": "Tab 1 title"
      },
      {
        "type": "text",
        "id": "tab-number-1",
        "label": "Tab 1 number"
      },
	  {
        "type": "article",
        "id": "article-1",
        "label": "Tab 1 article content"
      },
      {
        "type": "image_picker",
        "id": "image-tab-1",
        "label": "Tab 1 image"
      },
	  {
        "type": "header",
        "content": "Tab 2"
      },
	  {
        "type": "text",
        "id": "tab-name-2",
        "label": "Tab 2 name "
      },
      {
        "type": "text",
        "id": "tab-title-2",
        "label": "Tab 2 title"
      },
      {
        "type": "text",
        "id": "tab-number-2",
        "label": "Tab 2 number"
      },
	  {
        "type": "article",
        "id": "article-2",
        "label": "Tab 2 article content"
      },
      {
        "type": "image_picker",
        "id": "image-tab-2",
        "label": "Tab 2 image"
      }      ,
	  {
        "type": "header",
        "content": "Tab 3"
      },
	  {
        "type": "text",
        "id": "tab-name-3",
        "label": "Tab 3 name "
      },
      {
        "type": "text",
        "id": "tab-title-3",
        "label": "Tab 3 title"
      },
      {
        "type": "text",
        "id": "tab-number-3",
        "label": "Tab 3 number"
      },
	  {
        "type": "article",
        "id": "article-3",
        "label": "Tab 3 article content"
      },
      {
        "type": "image_picker",
        "id": "image-tab-3",
        "label": "Tab 3 image"
      }      ,
	  {
        "type": "header",
        "content": "Tab 4"
      },
	  {
        "type": "text",
        "id": "tab-name-4",
        "label": "Tab 4 name "
      },
      {
        "type": "text",
        "id": "tab-title-4",
        "label": "Tab 4 title"
      },
      {
        "type": "text",
        "id": "tab-number-4",
        "label": "Tab 4 number"
      },
	  {
        "type": "article",
        "id": "article-4",
        "label": "Tab 4 article content"
      },
      {
        "type": "image_picker",
        "id": "image-tab-4",
        "label": "Tab 4 image"
      }      ,
	  {
        "type": "header",
        "content": "Tab 5"
      },
	  {
        "type": "text",
        "id": "tab-name-5",
        "label": "Tab 5 name "
      },
      {
        "type": "text",
        "id": "tab-title-5",
        "label": "Tab 5 title"
      },
      {
        "type": "text",
        "id": "tab-number-5",
        "label": "Tab 5 number"
      },
	  {
        "type": "article",
        "id": "article-5",
        "label": "Tab 5 artcle content"
      },
      {
        "type": "image_picker",
        "id": "image-tab-5",
        "label": "Tab 5 image"
      }
	]}
    ],
    "presets": [
      {
        "name": "User Profile",
        "category": "article"
      }
    ]
  }
{% endschema %}
