<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve">
<style type="text/css">
  .st0{fill:red;}
</style>
<path class="st0" d="M51.4,32.9c-2.2,0.7-4.5,1-6.8,1c-13,0-23.6-10.6-23.6-23.6c0-2.3,0.3-4.6,1-6.8L23.2,0l-3.6,1.1
	C7.9,4.6,0,15.2,0,27.5C0,42.6,12.4,55,27.5,55c12.2,0,22.8-7.9,26.4-19.6l1.1-3.6L51.4,32.9z"/>
</svg>
