.progress-circle-container {
    text-align: center;
}

.progress-circle {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
}

.progress-circle:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: colorload 2s;
  animation: colorload 2s; 
}

.progress-circle span {
  font-size: 1rem;
      font-weight: bold;
    color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
}

.progress-circle span:after {
  content: '';
  font-weight: 600;
  color: #8b8b8b;
}

.progress-circle.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #6d499a 50%, #ebebeb 50%, #ebebeb);
}

.progress-circle.progress-25:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(180deg, #6d499a 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.progress-41:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #6d499a 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-60:after {
  background-image: linear-gradient(-54deg, #6d499a 50%, transparent 50%, transparent), linear-gradient(270deg, #6d499a 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-80:after {
  background-image: linear-gradient(18deg, #6d499a 50%, transparent 50%, transparent), linear-gradient(270deg, #6d499a 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.progress-50:after {
  background-image: linear-gradient(-90deg, #6d499a 50%, transparent 50%, transparent), linear-gradient(270deg, #6d499a 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.progress-75:after {
  background-image: linear-gradient(0deg, #6d499a 50%, transparent 50%, transparent), linear-gradient(270deg, #6d499a 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.progress-100:after {
  background-image: linear-gradient(90deg, #6d499a 50%, transparent 50%, transparent), linear-gradient(270deg, #6d499a 50%, #ebebeb 50%, #ebebeb);
}


/* Pink Satrt */
.progress-circle.pink-ligt.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #e3226c 50%, #ebebeb 50%, #ebebeb);
}

.progress-circle.pink-ligt.progress-25:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(180deg, #e3226c 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.pink-ligt.progress-41:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #e3226c 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.pink-ligt.progress-60:after {
  background-image: linear-gradient(-54deg, #e3226c 50%, transparent 50%, transparent), linear-gradient(270deg, #e3226c 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.pink-ligt.progress-80:after {
  background-image: linear-gradient(18deg, #e3226c 50%, transparent 50%, transparent), linear-gradient(270deg, #e3226c 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.pink-ligt.progress-50:after {
  background-image: linear-gradient(-90deg, #e3226c 50%, transparent 50%, transparent), linear-gradient(270deg, #e3226c 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.pink-ligt.progress-75:after {
  background-image: linear-gradient(0deg, #e3226c 50%, transparent 50%, transparent), linear-gradient(270deg, #e3226c 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.pink-ligt.progress-100:after {
  background-image: linear-gradient(90deg, #e3226c 50%, transparent 50%, transparent), linear-gradient(270deg, #e3226c 50%, #ebebeb 50%, #ebebeb);
}

/* Pink End */

/* Rose base Satrt */
.progress-circle.rose-base.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #ba5096 50%, #ebebeb 50%, #ebebeb);
}

.progress-circle.rose-base.progress-25:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(180deg, #ba5096 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.rose-base.progress-41:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #ba5096 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.rose-base.progress-60:after {
  background-image: linear-gradient(-54deg, #ba5096 50%, transparent 50%, transparent), linear-gradient(270deg, #ba5096 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.rose-base.progress-80:after {
  background-image: linear-gradient(18deg, #ba5096 50%, transparent 50%, transparent), linear-gradient(270deg, #ba5096 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.rose-base.progress-50:after {
  background-image: linear-gradient(-90deg, #ba5096 50%, transparent 50%, transparent), linear-gradient(270deg, #ba5096 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.rose-base.progress-75:after {
  background-image: linear-gradient(0deg, #ba5096 50%, transparent 50%, transparent), linear-gradient(270deg, #ba5096 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.rose-base.progress-100:after {
  background-image: linear-gradient(90deg, #ba5096 50%, transparent 50%, transparent), linear-gradient(270deg, #ba5096 50%, #ebebeb 50%, #ebebeb);
}

/* Rose Base End */

/* Light Green Color */
.progress-circle.bg-light-greens.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #54e1cb 50%, #ebebeb 50%, #ebebeb);
}

.progress-circle.bg-light-greens.progress-25:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(180deg, #54e1cb 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.bg-light-greens.progress-41:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #54e1cb 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-light-greens.progress-60:after {
  background-image: linear-gradient(-54deg, #54e1cb 50%, transparent 50%, transparent), linear-gradient(270deg, #54e1cb 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-light-greens.progress-80:after {
  background-image: linear-gradient(18deg, #54e1cb 50%, transparent 50%, transparent), linear-gradient(270deg, #54e1cb 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-light-greens.progress-50:after {
  background-image: linear-gradient(-90deg, #54e1cb 50%, transparent 50%, transparent), linear-gradient(270deg, #54e1cb 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.bg-light-greens.progress-75:after {
  background-image: linear-gradient(0deg, #54e1cb 50%, transparent 50%, transparent), linear-gradient(270deg, #54e1cb 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.bg-light-greens.progress-100:after {
  background-image: linear-gradient(90deg, #54e1cb 50%, transparent 50%, transparent), linear-gradient(270deg, #54e1cb 50%, #ebebeb 50%, #ebebeb);
}
/* Loght Green End */

/* Light Red satrt */
.progress-circle.bg-light-red.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #ff0000 50%, #ebebeb 50%, #ebebeb);
}

.progress-circle.bg-light-red.progress-25:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent  50%, transparent), linear-gradient(180deg, #ff0000 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.bg-light-red.progress-41:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #ff0000 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-light-red.progress-60:after {
  background-image: linear-gradient(-54deg, #ff0000 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0000 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-light-red.progress-80:after {
  background-image: linear-gradient(18deg, #ff0000 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0000 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-light-red.progress-50:after {
  background-image: linear-gradient(-90deg, #ff0000 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0000 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.bg-light-red.progress-75:after {
  background-image: linear-gradient(0deg, #ff0000 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0000 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.bg-light-red.progress-100:after {
  background-image: linear-gradient(90deg, #ff0000 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0000 50%, #ebebeb 50%, #ebebeb);
}
/* Light Red End */


/* Yellow satrt */
.progress-circle.bg-yellow.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #9fcb68 50%, #ebebeb 50%, #ebebeb);
}

.progress-circle.bg-yellow.progress-25:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent  50%, transparent), linear-gradient(180deg, #9fcb68 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.bg-yellow.progress-41:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #9fcb68 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-yellow.progress-60:after {
  background-image: linear-gradient(-54deg, #9fcb68 50%, transparent 50%, transparent), linear-gradient(270deg, #9fcb68 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-yellow.progress-80:after {
  background-image: linear-gradient(18deg, #9fcb68 50%, transparent 50%, transparent), linear-gradient(270deg, #9fcb68 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-yellow.progress-50:after {
  background-image: linear-gradient(-90deg, #9fcb68 50%, transparent 50%, transparent), linear-gradient(270deg, #9fcb68 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.bg-yellow.progress-75:after {
  background-image: linear-gradient(0deg, #9fcb68 50%, transparent 50%, transparent), linear-gradient(270deg, #9fcb68 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.bg-yellow.progress-100:after {
  background-image: linear-gradient(90deg, #9fcb68 50%, transparent 50%, transparent), linear-gradient(270deg, #9fcb68 50%, #ebebeb 50%, #ebebeb);
}
/* Yellow End */

/* Blue start */
.progress-circle.bg-blue.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #1072b6 50%, #ebebeb 50%, #ebebeb);
}

.progress-circle.bg-blue.progress-25:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent  50%, transparent), linear-gradient(180deg, #1072b6 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.bg-blue.progress-41:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #1072b6 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-blue.progress-60:after {
  background-image: linear-gradient(-54deg, #1072b6 50%, transparent 50%, transparent), linear-gradient(270deg, #1072b6 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-blue.progress-80:after {
  background-image: linear-gradient(18deg, #1072b6 50%, transparent 50%, transparent), linear-gradient(270deg, #1072b6 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-blue.progress-50:after {
  background-image: linear-gradient(-90deg, #1072b6 50%, transparent 50%, transparent), linear-gradient(270deg, #1072b6 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.bg-blue.progress-75:after {
  background-image: linear-gradient(0deg, #1072b6 50%, transparent 50%, transparent), linear-gradient(270deg, #1072b6 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.bg-blue.progress-100:after {
  background-image: linear-gradient(90deg, #1072b6 50%, transparent 50%, transparent), linear-gradient(270deg, #1072b6 50%, #ebebeb 50%, #ebebeb);
}
/* Blue End */

/* Orange satrt */
.progress-circle.bg-orange.progress-0:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #ed8017 50%, #ebebeb 50%, #ebebeb);
}

.progress-circle.bg-orange.progress-25:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent  50%, transparent), linear-gradient(180deg, #ed8017 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.bg-orange.progress-41:after {
  background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #ed8017 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-orange.progress-60:after {
  background-image: linear-gradient(-54deg, #ed8017 50%, transparent 50%, transparent), linear-gradient(270deg, #ed8017 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-orange.progress-80:after {
  background-image: linear-gradient(18deg, #ed8017 50%, transparent 50%, transparent), linear-gradient(270deg, #ed8017 50%, #ebebeb 50%, #ebebeb); }
.progress-circle.bg-orange.progress-50:after {
  background-image: linear-gradient(-90deg, #ed8017 50%, transparent 50%, transparent), linear-gradient(270deg, #ed8017 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.bg-orange.progress-75:after {
  background-image: linear-gradient(0deg, #ed8017 50%, transparent 50%, transparent), linear-gradient(270deg, #ed8017 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.bg-orange.progress-100:after {
  background-image: linear-gradient(90deg, #ed8017 50%, transparent 50%, transparent), linear-gradient(270deg, #ed8017 50%, #ebebeb 50%, #ebebeb);
}
/* Orange End */


@-webkit-keyframes colorload {
  0% {
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    transform: rotate(360deg); } }

/*# sourceMappingURL=progress-circle.css.map */
