button {
  background: black;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  border: 1px solid white;
  cursor: pointer;
}

.results h4 {
  margin: 3px;
}

.skincare_config,
		.skincare_concerns,
		.skincare_callbacks,
		.skincare_methods {
  padding: 0;
  margin: 5px;
  max-width: 780px;
  display: inline-block;
}

.skincare_config li,
		.skincare_callbacks li {
  padding: 5px;
  margin: 0;
  list-style: none;
  float: left;
  text-align: left;
  min-width: 250px;
}

.container {
  text-align: center;
}

.skincare_concerns li {
  padding: 5px;
  margin: 0;
  list-style: none;
  float: left;
  text-align: left;
  min-width: 250px;
}

#canvas_container {
  text-align: center;
}

#canvas_container canvas {
  max-width: 240px;
}

#methods_container {
  display: none;
}
#callnacks_container {
    display: none;
}
.page-text{
  width:100%;
}
.show-loading {
    text-align: center;
}
.show-loading img {
    width: 100px;
}