{%section "product_json_javascript" %}
<div class="customerdetails-aws hidden-div">
    <div class="customerid">
      <input type="hidden" class="customerId-details" value="{{ customer.id }}" />
    </div>
  </div>
<script>
    $(document).ready(function() {
        if( localStorage.getItem('awsresponces') == null){
          localStorage.setItem('lastcus',$('.customerid .customerId-details').val());
          getRecommandation($('.customerid .customerId-details').val());
        }else{
          $('#hi-sh').css({"display":"block"});
          $('#loading-d').hide();
        }
   }); 
</script>
<div id="loading-d" style="text-align:center;"><img src='{{ "Spinner.gif" | asset_url }}' /></div>
<div class="page-width dashboard-pg" id="hi-sh" style="display:none;">
  <div class="section-header text-center">
	 <h1>Dashboard</h1>
    {{ 'layout.customer.log_out' | t | customer_logout_link }}
  </div> 
   
  <div class="account-month">
    <div class="account-month-details"><a href="#" class="account-month-box current-month active"><span>THIS MONTH</span></a><a href="#" class="account-month-box previous-month"><span>LAST MONTH</span></a></div>
  </div>
  <div class="dashboard">
    <div class="dashboard-portion1">
      <div class="dashboard-portion1-left"><img src="{{ 'selfie.png' | asset_url }}" id="org-images" /><a id="selfi-now" class="skin-not" href="/pages/selfie-skin">Take selfi</a></div>
      <div class="dashboard-portion1-right">
        <div class="cust-details">
        	<span class="ft-text cname"></span><span class="extra-text">'s</span> <span class="dashboard-text">Dashboard</span>
        </div>
        <div class="date-details">
          <span id="monthname"></span> <span id="currentyear"></span><span class="divider"> | </span><span class="date-details-info">(<span id="currentmonth"></span>/<span id="currentdate"></span> - <span id="nextmonth"></span>/<span id="nextdate"></span>)</span>
    	</div> 
      </div>
    </div>    
    <div class="dashtab">
      <div class="dashtab-btn">
        <div class="horizondal-line"></div>
        <button class="dashtablinks dash-summary active" onclick="openDash(event, 'Summary')"><img src="{{ 'dash-icon1.png' | asset_url }}" /><span>SUMMARY</span></button>
        <button class="dashtablinks dash-diagnostic" onclick="openDash(event, 'Diagnostic')"><img src="{{ 'dash-icon2.png' | asset_url }}" /><span>DIAGNOSTIC</span></button>
        <button class="dashtablinks dash-regimen" onclick="openDash(event, 'Regimen')"><img src="{{ 'dash-icon3.png' | asset_url }}" /><span>REGIMEN</span></button>
      </div>
    </div>
    <div id="Summary" class="dashtabcontent" style="display: block;">
      {% include 'dashboard-summary' %}
    </div>
    <div id="Diagnostic" class="dashtabcontent">
      {% include 'dashboard-diagnostic' %}
    </div>
    <div id="Regimen" class="dashtabcontent">
      {% include 'dashboard-regimen' %}
    </div>     
  </div>
  <div class="dashborad-btns">
    <div class="dashborad-btns-cont dashborad-diagnostic-details"><span>READ YOUR DIAGNOSTIC RESULTS</span></div>
    <div class="dashborad-btns-cont dashborad-regimen"><span>SEE THIS MONTHS REGIMEN</span></div>
    <div class="dashborad-btns-cont dashborad-myaccount"><a href="pages/myaccount">MANANGE ACCOUNT</a></div>
  </div>
  <div class="customerdetails-aws hidden-div">
    <div class="customerid">
      <input type="hidden" class="customerId-details" value="{{ customer.id }}" />
    </div>
  </div>
</div>
<script>
    $(document).ready(function() {
       	localStorage.setItem('customerid',$('.customerid .customerId-details').val());
       if( localStorage.getItem('awsresponces') != null){
          var RequestId = getlocalStorage('awsresponces','1').requestId;
          //if(RequestId != null && localStorage.getItem('lastupId') == null || localStorage.getItem('lastupId') != RequestId  && localStorage.getItem('customerid') != null)
          //{
            	var custString = '{"requestId": "'+RequestId+'", "customerId": "'+ $('.customerid .customerId-details').val() +'"}';
              	localStorage.setItem('lastupId',RequestId);
              	updateCustomerId(JSON.parse(custString)); // Customer Id Update
          //}
         if(localStorage.getItem('lastupId') == null && localStorage.getItem('lastcus') != $('.customerid .customerId-details').val()){
            localStorage.setItem('lastcus',$('.customerid .customerId-details').val());
            localStorage.setItem('lastupId',RequestId);
         	getRecommandation($('.customerid .customerId-details').val() );
         }
       }
      	$("a#selfi-now").click(function() {
  			localStorage.setItem('selfi-now','yes');
		});
    });
  
    // Dash Tab Switch
    function openDash(evt, dashName) {
      var i, dashtabcontent, dashtablinks;
      dashtabcontent = document.getElementsByClassName("dashtabcontent");
      for (i = 0; i < dashtabcontent.length; i++) {
          dashtabcontent[i].style.display = "none";
      }
      dashtablinks = document.getElementsByClassName("dashtablinks");
      for (i = 0; i < dashtablinks.length; i++) {
          dashtablinks[i].className = dashtablinks[i].className.replace(" active", "");
      }
      document.getElementById(dashName).style.display = "block";
      evt.currentTarget.className += " active";
  }
  $(document).ready(function() {
      // Diagnostic Page Data Show start
      var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";
      var fulldat = new Date(),
       	  monthname = month[fulldat.getMonth()],
          month = fulldat.getMonth(),
          previousmonth = month,
          currentmonth = month + 1,
          cdate = fulldat.getDate(),
          currentdate = fulldat.getDate(),
          ndate = currentdate + 1,
       	  currentyear = fulldat.getFullYear();      
      if (cdate < 10 && cdate.toString().length == 1) {
        var currentdate = "0" + cdate;
      }
      else {
        var currentdate = cdate;
      }     
      var fullDate = new Date();     
      var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
      var numberOfDaysToAdd = 1;
      fulldat.setDate(fulldat.getDate() + numberOfDaysToAdd); 
  	  var ndate = fulldat.getDate();
      if (ndate < 10 && ndate.toString().length == 1)  {
          var nextdate = "0" + ndate;
      }
      else {
          var nextdate = ndate;
      }
      if (nextdate == 1) {
        var twoDigitMonthplus1 = ((fulldat.getMonth().length+1) === 1)? (fulldat.getMonth()+2) : '0' + (fulldat.getMonth()+2);
        if ((twoDigitMonthplus1 == 010) || (twoDigitMonthplus1 == 011) || (twoDigitMonthplus1 == 012)) {
        	var twoDigitMonthplus = ((fulldat.getMonth().length+1) === 1)? (fulldat.getMonth()+2) : '' + (fulldat.getMonth()+2);
        }
        else {
          var twoDigitMonthplus = ((fulldat.getMonth().length+1) === 1)? (fulldat.getMonth()+2) : '0' + (fulldat.getMonth()+2);
        }        
      }
      else {
        var twoDigitMonthplus = ((fulldat.getMonth().length+1) === 1)? (fulldat.getMonth()+2) : '' + (fulldat.getMonth()+2);
      }
      document.getElementById("monthname").innerHTML = monthname;
      document.getElementById("currentyear").innerHTML = currentyear;
      document.getElementById("currentdate").innerHTML = currentdate;
      document.getElementById("currentmonth").innerHTML = twoDigitMonth; 
      document.getElementById("nextdate").innerHTML = nextdate;
      document.getElementById("nextmonth").innerHTML = twoDigitMonthplus;
      // Diagnostic Page Data Show end   
      if(localStorage.getItem('ORIGINAL_IMAGE') != null){
      	$("#org-images").attr("src","data:image/png;base64, "+localStorage.getItem('ORIGINAL_IMAGE'));
        $("a.skin-not").hide();
          localStorage.removeItem("selfi-now");
      }
            
      // Setting Cookie for menu click navigate to dashboard tab
      if ($.cookie('diagnostic')) {
        $('.dashtab-btn .dash-diagnostic').trigger('click');  
        $.removeCookie('diagnostic', {path : '/account'});
      }
      if ($.cookie('regimen')) {
        $('.dashtab-btn .dash-regimen').trigger('click');  
        $.removeCookie('regimen', {path : '/account'});
      }
  
  });
</script>