{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% if a %}
{% section 'cart-template' %}
{% endif %}

{% section 'cart-template-kit1' %}
