<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
 -->
 <h1 Class="themecolor main-headingre">{{ page.title }}</h1>
  <div class="ourpro-mainimage" style="background: #fff;padding: 2% 10% 10%;"><img src="{{'prorange.png' | asset_url }}"  style="width: 100%;"></div>
  
  <div class="top-div" style="padding:20px;">
    <p class="themecolor text-center heading-home" >Explore the benefits of our full product range</p>
    <p>A comprehensive range of skincare products to support your holistic skin health - from cleansers to serums to supplements.</p>
  </div>
{% section 'product-rang-desc' %}
{% section 'review-index'%}
{% section 'buy-with-confidence'%}
{% section 'our-philosophy'%}
{% section 'feature-row'%}