{%section "diagnostic-detail" %}
{%section "diagnostic-detail-exercise" %}
{%section "diagnostic-detail-diet" %}
{%section "diagnostic-detail-skin" %}
{%section "diagnostic-detail-airquality" %}
{%section "diagnostic-detail-uv" %}
{%section "diagnostic-detail-climate" %}
{%section "diagnostic-detail-sleep" %}
{%section "diagnostic-detail-blogque" %}
{%section "diagnostic-regimen-accordion" %}