<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div> -->
 <h1 Class="themecolor main-headingre">{{ page.title }}</h1>
  <img src="{{'what-people-say.png' | asset_url }}" class="ourpro-mainimage" >
  <div class="top-div" style="padding:20px;">
    <p class="themecolor text-center main-text" ><strong>Read our ratings and reviews</strong></p>
    <p>Hear what our customers and the press are saying about Skinsei.</p>
  </div>
  {% section 'review-index-2'%}
  {% section 'press-section'%}
  {% section 'buy-with-confidence'%}
  {% section 'how-it-works'%}
  {% section 'our-products'%}
  {% section 'our-philosophy'%}
  {% section 'feature-row'%}