{% section 'product_json_javascript' %}
<div class="skin-pages">
  <div id="sk-one">
    {%section "selfie-step-one" %}
  </div>
  <div id="sk-two">
	{%section "selfie-step-two" %}
  </div>
  <div id="sk-three">
	{%section "selfie-step-three" %}
  </div>
</div>