<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
  -->
  {% section 'user-profile'%}
  {% section 'how-it-works'%}
  {% section 'our-products'%}
  {% section 'review-index'%}
  {% section 'feature-row'%}