<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
 -->
 
  <div class="ourpro-mainimage" style="background: #fff;padding: 2% 10% 10%;">
    <h1 Class="themecolor main-headingre" style="margin: 0;">{{ page.title }}</h1>
<!--     <img src="{{'how-it-work.png' | asset_url }}"  style="width: 100%;"> -->
  </div>
  
  <div class="top-div" style="padding:20px;">
    <p class="themecolor text-center main-text" style="font-size: 28px;">Just three simple steps</p>
  </div>
{% section 'how-it-works-2'%}
{% section 'pricing-option'%}
{% section 'faq-widget'%}
{% section 'our-products'%}
{% section 'our-philosophy'%}
{% section 'review-index'%}

{% comment %} {% section 'buy-with-confidence'%} {% endcomment %}

{% section 'feature-row'%}