{% layout none %}
{% for p in collections["all"].products %}
  {% for v in p.variants %}
    {% if v.inventory_quantity == 0 %}
    {
     "id": {{ v.id }},
     "product_id": {{ p.id }},
     "title": "{{ p.title }},"
     "sku":  "{{ v.sku }}",
     "position":  {{ v.position }},
     "inventory_quantity": {{ v.inventory_quantity}}
    }
	{% endif %}
  {% endfor %}
{% endfor %}
