

<div class="page-width">
  <div class="grid">
  {% if page.handle == "multi-product-dev" %}
      {% include "multi-product-dev" %}
  {% else %}
  
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
    {% endif %}
  </div><!-- end of grid -->
</div>
