
<div class="our-products-page">
  <h1 Class="themecolor main-headingre">{{ page.title }}</h1>
  <img src="{{'products.png' | asset_url }}" class="ourpro-mainimage" >
  <div class="top-div" >
    <p class="themecolor text-center main-text" >Skincare, personalized to<br> the life of your skin</p>
    <p>Optimizing your regimen according to your life maximizes the day-to-day and long-term health of your skin.</p>
  </div>
  <div class="index-section">
    <div class="page-width">
      <div class="text-center">
        <h2 class="h3 headclass">Our product philosophy</h2>
      </div>
      <p>Skinsei products are pH balanced and microbiome-friendly. they balance and maintain skin's natural ecosystem. </p>
      <img src="{{'our-pro-1.png' | asset_url }}" style="width: 100%;" >
      <p>Depending on your skin, lifestyle and environment, they are super-charged by Prebiotics, Probiotics, vitamins and plant extracts.</p>
    </div>
  
  </div>
  <div class="index-section">
    <div class="page-width">
      <div class="text-center">
        <h2 class="h3 headclass">Personalized products</h2>
        <p>We have over 75 of these ingredient building blocks that we combine into your skincare products.</p>
        <h2 class="h1 text-center themecolor" style="font-weight: 100;margin-bottom: 5px;">10,000,000+</h2>
        <p class="themecolor" style="font-weight: 600;margin-bottom: 10px;">COMBINATIONS</p>
      </div>
      <p>Your holistic diagnostic decides which 1 out of 30,000,000+ possible combinations best suits you.</p>
    </div>
  </div>
  {% section 'product-range'%}
  <div class="index-section">
    <div class="page-width">
      <div class="text-center">
        <h2 class="h3 headclass">Meet Our Experts</h2>
      </div>
      <p>Behind our products and recommendations is the knowledge of our team of over 144 leading skin and microbiology experts from around the world.</p>
    </div>
    <img src="{{'ourexperts.png' | asset_url }}" style="width: 100%;">
    <div class="page-width">
      <p>They've helped us pick through thousands of potential actives to arrive at our library of over 75 active formulations building blocks.</p>
      <p>With the expertise of our data scientist, our product recommendations constatly improve. Each month, your regimen kit optimized with your feedback.</p>
    </div>
  </div>
  {% section 'review-index'%}
  {% section 'buy-with-confidence'%}
  {% section 'our-philosophy'%}
  {% section 'feature-row'%}
</div>

